<script>
/* eslint-disable no-underscore-dangle */
import draggable from 'vuedraggable';
import cuid from 'cuid';
import FieldTypes from './FieldTypes';
import FieldInput from './FieldInput.vue';

export default {
    components: { draggable },

    props: ['value'],

    data() {
        return {
            editing: false,
            editItem: {},
            editIndex: null,
            items: this.value,
        };
    },

    computed: {
        fieldTypes() {
            return FieldTypes;
        },
    },

    created() {
        this.items.forEach((field) => {
            if (!field._cuid) {
                this.$set(field, '_cuid', cuid());
            }
        });
    },

    methods: {
        addField(type = 'text') {
            this.items.push({
                title: `Veld ${this.items.length}`,
                type,
                _cuid: cuid(),
                overview: false,
                validation: [],
            });

            this.editField(this.items.length - 1);
        },

        destroyField(index) {
            this.$modal.show('dialog', {
                title: 'Verwijderen?',
                text: 'Wil je dit veld verwijderen?',
                buttons: [
                    {
                        title: 'Annuleren',
                        class: 'btn-secondary',
                    },
                    {
                        title: 'Verwijderen',
                        class: 'btn-primary',
                        handler: () => {
                            this.items.splice(index, 1);
                            this.$modal.hide('dialog');
                        },
                    },
                ],
            });
        },

        getFieldType(type) {
            return FieldTypes.getByType(type);
        },

        getFieldTypeTitle(type) {
            return this.getFieldType(type).title;
        },

        editField(index) {
            let activeField = { ...this.items[index] };

            this.items.forEach((item) => {
                this.$set(item, 'edit', false);
            });

            this.$set(this.items[index], 'edit', true);

            this.$modal.show('dialog', {
                title: 'Veld bewerken',
                component: FieldInput,
                props: {
                    value: activeField,
                    showHelpInput: this.getFieldType(activeField.type).showHelp,
                    repeatable: this.getFieldType(activeField.type).repeatable,
                },
                events: {
                    input(value) {
                        activeField = value;
                    },
                },
                buttons: [
                    {
                        title: 'Annuleren',
                        class: 'btn-secondary',
                        handler: () => {
                            this.$modal.hide('dialog');
                        },
                    },
                    {
                        title: 'Bewaren',
                        class: 'btn-primary',
                        handler: () => {
                            this.$set(this.items, index, activeField);

                            this.items.forEach((item) => {
                                this.$set(item, 'edit', false);
                            });

                            this.$modal.hide('dialog');
                        },
                    },
                ],
            });
        },

        save() {
            this.editing = false;
            this.$set(this.items, this.editIndex, this.editItem);
        },
    },
};
</script>

<template>
    <div>
        <slot :form-fields="items" />

        <draggable
            v-model="items"
            group="items"
            handle=".handle"
            @end="$emit('input', items)"
        >
            <div
                v-for="(field, index) in items"
                :key="field._cuid"
                class="bg-gray-100 border-gray-300 border mb-4 rounded"
            >
                <div
                    class="p-4 rounded-t"
                >
                    <div class="row flex">
                        <div class="col-auto flex flex-grow items-center">
                            <div class="handle cursor-move w-8 h-8 text-gray-500 flex items-center">
                                <i class="far fa-ellipsis-v text-lg" />
                            </div>
                            <div>
                                <div class="mb-1">
                                    <span :title="field.title">{{ field.title | truncate(40) }}</span>
                                </div>
                                <span class="text-sm mt-2 text-gray-600">{{ getFieldTypeTitle(field.type) }}</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button
                                type="button"
                                class="btn-secondary"
                                @click="editField(index)"
                            >
                                <i class="far fa-edit" />
                            </button>
                            <button
                                type="button"
                                class="btn-secondary is-danger"
                                @click="destroyField(index)"
                            >
                                <i class="fal fa-trash-alt" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </draggable>
    </div>
</template>
