<script>
import TextInput from '../../TextInput.vue';
import CheckboxInput from '../../CheckboxInput.vue';
import FieldTypes from './FieldTypes';
import ValidationRule from './ValidationRule.vue';
import Fields from './Fields';

const mapFields = (fields) => {
    const result = {};

    Object.keys(fields).forEach((key) => {
        result[`${key}Component`] = fields[key];
    });

    return result;
};

export default {
    components: {
        TextInput,
        CheckboxInput,
        ValidationRule,
        ...mapFields(Fields),
    },

    props: ['value', 'showHelpInput', 'repeatable'],

    data() {
        return {
            field: this.value,
        };
    },

    computed: {
        hasValidation() {
            return this.field.validation && this.field.validation.length > 0;
        },

        fieldComponent() {
            // TODO: enable this when Webpack 5 drops
            // return () => import(`./Fields/${name}`);
            // console.log(FieldTypes.getByType(this.field.type).component);
            return `${FieldTypes.getByType(this.field.type).component}Component`;
        },

        validationRules() {
            return FieldTypes.getByType(this.field.type).validationRules;
        },
    },

    watch: {
        field: {
            handler(value) {
                this.$emit('input', value);
            },
            deep: true,
        },
    },
};
</script>

<template>
    <div>
        <text-input
            v-model="field.title"
            label="Titel"
            class="mb-4"
        />

        <text-input
            v-if="showHelpInput"
            v-model="field.info"
            label="Hulptekst"
            class="mb-4"
        />

        <component
            :is="fieldComponent"
            v-model="field"
            class="mb-8"
        />

        <div
            v-if="repeatable"
            class="row mb-8"
        >
            <div class="col-12 mb-4">
                <checkbox-input
                    v-model="field.can_repeat"
                    label="Uitbreidbaar"
                />
            </div>
            <div
                v-if="field.can_repeat"
                class="col-6"
            >
                <text-input
                    v-model="field.min_repeat"
                    label="Minimum aantal antwoorden"
                    type="number"
                    step="1"
                    min="1"
                />
            </div>
            <div
                v-if="field.can_repeat"
                class="col-6"
            >
                <text-input
                    v-model="field.max_repeat"
                    label="Maximum aantal antwoorden"
                    type="number"
                    step="1"
                    min="1"
                />
            </div>
        </div>

        <fieldset
            v-if="validationRules.length > 0"
        >
            <legend>Validatie</legend>

            <template v-if="hasValidation">
                <div
                    v-for="(rule, index) in field.validation"
                    :key="index"
                    class="mb-4"
                >
                    <validation-rule
                        v-model="field.validation[index]"
                        :rules="validationRules"
                        @delete="field.validation.splice(index, 1)"
                    />
                </div>
            </template>
            <div
                v-else-if="!hasValidation && validationRules.length > 0"
                class="text-gray-400 text-center py-4"
            >
                Geen validatie
            </div>

            <button
                class="btn-secondary"
                type="button"
                @click="field.validation.push('')"
            >
                Toevoegen
            </button>
        </fieldset>
    </div>
</template>
