<template>
    <div class="flex">
        <div class="flex-1">
            <select-input
                v-model="rule.rule"
                label="Validatie"
            >
                <option
                    v-for="(rule, index) in rules"
                    :key="index"
                    :value="rule.id"
                >
                    {{ rule.title }}
                </option>
            </select-input>
        </div>

        <div
            v-if="extra"
            class="ml-4"
        >
            <text-input
                v-model="rule.extra"
                :label="rules.find(({ id }) => id === rule.rule).title"
                :help="rules.find(({ id }) => id === rule.rule).help"
            />
        </div>
        <div class="ml-4 flex items-end">
            <button
                type="button"
                class="btn-secondary"
                @click="$emit('delete')"
            >
                <i class="fal fa-trash-alt" />
            </button>
        </div>
    </div>
</template>

<script>
import { compact } from 'lodash';
import SelectInput from '../../SelectInput.vue';
import TextInput from '../../TextInput.vue';

export default {

    components: { SelectInput, TextInput },

    props: {
        value: [String, Array],
        rules: {
            type: Array,
            default: () => [],
        },
        ruleDelimiter: {
            type: String,
            default: '|',
        },
    },

    data() {
        return {
            rule: {
                type: null,
                rule: null,
                extra: null,
            },
        };
    },

    computed: {
        extra() {
            return (this.rules.find(({ id }) => id === this.rule.rule) || {}).extra;
        },
    },

    watch: {
        rule: {
            handler(value) {
                if (!value.rule) {
                    return;
                }

                this.$emit('input', compact([value.rule, value.extra]).join(':'));
            },
            deep: true,
        },
    },

    created() {
        let rule = null;

        if (this.value) {
            let initRule = null;
            [initRule, this.rule.extra] = this.value.split(':');

            rule = (this.rules.find(({ id }) => id === initRule) || {}).id;
        }

        this.$set(this.rule, 'rule', rule || this.rules[0].id);
    },
};
</script>
