<script>

export default {
    props: {
        type: String,
        value: String,
    },

    computed: {
        status() {
            return this.$store.state.statusses[this.type][this.value];
        },

        statuses() {
            return Object.values(this.$store.state.statusses[this.type]);
        },
    },

    methods: {
        show() {
            this.$modal.show({
                template: `
                <dl class="p-8">
                <div
                    v-for="(s, index) in statuses"
                    :key="index"
                    class="flex py-5 border-b last:border-b-0"
                >
                    <dd class="w-5/12">
                        <div
                            class="badge"
                            :class="s.class"
                        >
                            {{ s.label }}
                        </div>
                    </dd>
                    <dt class="w-7/12 leading-normal text-gray-800 text-right">
                        {{ s.description }}
                    </dt>
                </div>
            </dl>`,
                props: ['statuses'],
            }, {
                statuses: this.statuses,
            }, {
                height: 'auto',
            });
        },
    },
};
</script>

<template>
    <div>
        <div
            class="cursor-pointer badge"
            :class="status.class"
            @click="show"
        >
            {{ status.label }}
        </div>
    </div>
</template>
