<script>
import AttachmentItem from './AttachmentItem.vue';

export default {
    components: { AttachmentItem },
    props: {
        tempAttachments: {
            type: Array,
            default: () => [],
        },
        attachments: {
            type: Array,
            default: () => [],
        },
        deleteable: {
            type: Boolean,
            default: true,
        },
    },

    methods: {
        checkProgress(attachment) {
            return attachment.progress !== null && parseInt(attachment.progress, 10) !== 100;
        },
    },
};
</script>


<template>
    <div>
        <ul
            v-if="tempAttachments.length > 0 || attachments.length > 0"
            class="border rounded"
        >
            <li
                v-for="tempAttachment in tempAttachments"
                :key="tempAttachment._id"
                class="border-b last:border-b-0 pl-3 pr-4 py-3 flex items-center justify-between relative"
            >
                <div
                    v-if="checkProgress(tempAttachment)"
                    class="absolute bg-gray-transparent inset-0 flex items-center z-10"
                >
                    <div class=" bg-gray-200 w-full h-4px mx-4 relative overflow-hidden">
                        <div
                            class="absolute bg-purple-600 left-0 top-0 bottom-0 block rounded transition-width duration-150 ease-in-out"
                            :style="{ width: `${tempAttachment.progress}%` }"
                        />
                    </div>
                </div>
                <div class="w-0 flex-1 flex items-center opacity-25">
                    <i class="fas fa-paperclip flex-shrink-0 text-gray-600" />
                    <span
                        class="ml-2 flex-1 w-0 truncate"
                        :title="tempAttachment.title"
                    >
                        {{ tempAttachment.title }}
                    </span>
                </div>
            </li>
            <li
                v-for="(attachment, index) in attachments"
                :key="index"
                class="border-b last:border-b-0 pl-3 pr-4 py-3 flex items-center justify-between relative"
            >
                <attachment-item
                    :value="attachment"
                    :deleteable="deleteable"
                    @destroy="$emit('destroy', index)"
                />
            </li>
        </ul>
    </div>
</template>
