<script>
import isObject from 'lodash/isObject';

export default {
    props: {
        value: [Object, Number],
        deleteable: {
            type: Boolean,
            default: false,
        },
    },

    asyncComputed: {
        async media() {
            if (isObject(this.value)) {
                return this.value;
            }

            const { data } = await this.$http.get(this.route('api.media.show', this.value));
            return data;
        },
    },

    methods: {
        onDelete() {
            this.$modal.show('dialog', {
                title: 'Bestand verwijderen',
                text: 'Ben je zeker dat je dit bestand wil verwijderen?',
                buttons: [
                    {
                        title: 'Annuleren',
                        class: 'btn-secondary',
                    },
                    {
                        title: 'Verwijderen',
                        class: 'btn-danger',
                        handler: () => {
                            this.$emit('destroy');
                            this.$modal.hide('dialog');
                        },
                    },
                ],
            });
        },
    },
};
</script>

<template>
    <div
        class="w-0 flex-1 flex items-center"
    >
        <i class="fas fa-paperclip flex-shrink-0 text-gray-600" />
        <template v-if="!$asyncComputed.media.updating && media !== null">
            <span
                class="ml-2 flex-1 w-0 truncate"
                :title="media.file_name"
            >
                {{ media.file_name }}
            </span>
            <div class="ml-4 flex-shrink-0">
                <a
                    v-if="media.url"
                    v-tooltip="'Downloaden'"
                    :href="media.url"
                    class="text-gray-600 hover:text-blue-600 p-2 mr-2"
                >
                    <i class="fas fa-download" />
                </a>
                <button
                    v-if="deleteable"
                    v-tooltip="'Verwijderen'"
                    type="button"
                    class="text-gray-600 hover:text-red-600"
                    @click="onDelete"
                >
                    <i class="fas fa-trash-alt" />
                </button>
            </div>
        </template>
        <div
            v-else
            class="ph-item w-full h-4 ml-2"
        >
            &#8203;
        </div>
    </div>
</template>
