<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import CheckboxInput from '../../../Shared/DataEntry/CheckboxInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        LoadingButton,
        TextInput,
        SelectInput,
        CheckboxInput,
    },

    props: {
        cities: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            form: {
                url: null,
                city_id: null,
                default: false,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('root.domains.store'), this.form];
        },
    },
});
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="row">
                        <text-input
                            v-model="form.url"
                            :errors="$page.errors.url"
                            class="col-6 mb-4"
                            label="Url"
                        />

                        <select-input
                            v-model="form.city_id"
                            :errors="$page.errors.city_id"
                            class="col-6 mb-4"
                            label="Gemeente"
                        >
                            <option
                                v-for="city in cities"
                                :key="city.id"
                                :value="city.id"
                            >
                                {{ city.name }}
                            </option>
                        </select-input>
                    </div>

                    <checkbox-input
                        v-model="form.default"
                        label="Default URL voor deze gemeente"
                    />
                </div>


                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
