<template>
    <div class="tabs-component">
        <ul
            role="tablist"
            class="tabs-component-tabs"
        >
            <li
                v-for="(tab, i) in tabs"
                v-show="tab.isVisible"
                :key="i"
                :class="{ 'is-active': tab.isActive, 'is-disabled': tab.isDisabled }"
                class="tabs-component-tab"
                role="presentation"
            >
                <a
                    :aria-controls="tab.hash"
                    :aria-selected="tab.isActive"
                    :href="tab.hash"
                    class="tabs-component-tab-a"
                    role="tab"
                    @click="selectTab(tab.hash, $event)"
                    v-html="tab.header"
                />
            </li>
        </ul>
        <div :class="options.panelClass">
            <slot />
        </div>
    </div>
</template>

<script>
import { Tabs } from 'vue-tabs-component';

export default {
    mixins: [Tabs],
};
</script>
