<script>
import Layout from '../../../Layouts/Layout.vue';
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import Heading from '../../../Shared/General/Heading.vue';

export default {
    components: {
        Layout,
        BaseTable,
        Heading,
    },

    props: {
        models: Object,
    },

    data() {
        return {
            tableActions: [
                {
                    action: 'edit',
                    title: 'Bewerken',
                },
                {
                    divided: true,
                    action: 'delete',
                    title: 'Verwijderen',
                },
            ],
        };
    },

    methods: {
        handleAction({ action, entry }) {
            if (action === 'edit') {
                this.$inertia.visit(this.route('admin.departments.edit', entry.id));
                return;
            }

            if (action === 'delete') {
                // eslint-disable-next-line no-restricted-globals,no-alert
                if (confirm('Ben je zeker dat je deze rol wil verwijderen?')) {
                    this.$inertia.delete(this.route('admin.departments.destroy', entry.id));
                }
            }
        },
    },
};
</script>

<template>
    <layout title="Diensten">
        <heading :trail="[{ title: 'Diensten' }]" />

        <p class="max-w-xl text-gray-600">
            Victrix peregrinatione patienter ducunt ad regius habena. Fatalis, velox candidatuss recte reperire de secundus, gratis boreas.
        </p>

        <div class="">
            <div class="mb-6 flex justify-between items-center">
                <inertia-link
                    class="btn-primary ml-auto"
                    :href="route('admin.departments.create')"
                >
                    Toevoegen
                </inertia-link>
            </div>

            <base-table
                :value="models"
                :actions="tableActions"
                table-class="card overflow-x-auto"
                @action="handleAction"
            >
                <template slot="header">
                    <th>Naam</th>
                    <th>E-mail</th>
                    <th>Telefoon</th>
                </template>
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td>
                        <inertia-link
                            class="link"
                            :href="route('admin.departments.edit', entry.id)"
                        >
                            {{ entry.name }}
                        </inertia-link>
                    </td>
                    <td>
                        <a
                            class="link"
                            :href="`mailto:${entry.email}`"
                        >{{ entry.email }}</a>
                    </td>
                    <td>
                        {{ entry.phone }}
                    </td>
                </template>
            </base-table>
        </div>
    </layout>
</template>
