<script>
import EmptyState from '../EmptyState/EmptyState.vue';
import BaseTable from '../BaseTable.vue';
import Avatar from '../../General/Avatar.vue';
import AttachmentList from '../../DataEntry/FileInput/AttachmentList.vue';

export default {
    components: {
        AttachmentList, BaseTable, EmptyState, Avatar,
    },

    props: {
        value: Array,
        default: () => [],
    },
};
</script>

<template>
    <div>
        <empty-state v-if="value.length === 0" />
        <base-table
            v-else
            :value="{ data: value }"
            :columns="[
                { icon: 'fad fa-thumbs-up' },
                'Advies',
                'Gebruiker',
            ]"
            table-class="card overflow-x-auto"
        >
            <template
                slot="row"
                slot-scope="{ entry }"
            >
                <td
                    class="align-top"
                    width="50"
                >
                    <span class="fa-stack text-2xl">
                        <i
                            class="fas fa-circle fa-stack-2x"
                            :class="{
                                'text-green-100': entry.status === 'POSITIVE',
                                'text-red-100': entry.status === 'NEGATIVE',
                            }"
                        />
                        <i
                            class="fad fa-stack-1x"
                            :class="{
                                'text-green-700 fa-thumbs-up': entry.status === 'POSITIVE',
                                'text-red-700 fa-thumbs-down': entry.status === 'NEGATIVE',
                            }"
                        />
                    </span>
                </td>
                <td class="align-top">
                    <div v-html="entry.remarks" />

                    <attachment-list
                        :attachments="entry.files"
                        :deleteable="false"
                    />
                </td>
                <td class="align-top">
                    <div class="flex items-center">
                        <avatar
                            :value="entry.user.avatar"
                            class="w-8 h-8 inline-block rounded-full"
                        />
                        <div class="ml-2">
                            {{ entry.user.name }}
                        </div>
                    </div>
                </td>
            </template>
        </base-table>
    </div>
</template>
