
<script>
import { mixin as clickaway } from 'vue-clickaway';

export default {
    mixins: [clickaway],

    props: {
        id: {
            type: String,
            default() {
                // eslint-disable-next-line no-underscore-dangle
                return `text-input-${this._uid}`;
            },
        },
        value: {
            type: [String, Number],
            default: null,
        },
        source: String,
        queryParam: String,
        placeholder: String,
        label: String,
        disabled: {
            type: Boolean,
            default: false,
        },
    },

    data() {
        return {
            searchValue: '',
            isOpen: false,
            highlightedIndex: 0,
            options: [],
        };
    },

    methods: {
        toggle() {
            if (this.isOpen) {
                this.cancel();
            }
        },

        open() {
            if (this.disabled) {
                return;
            }

            this.isOpen = true;
            this.$nextTick(() => {
                this.search(this.searchValue);
                this.$refs.search.focus();
            });
        },

        close() {
            this.isOpen = false;
            this.$nextTick(() => {
                this.$refs.input.focus();
            });
        },

        cancel() {
            this.close();
        },

        async search(value) {
            const { data } = await this.$http.get(this.source, { params: { [this.queryParam]: value } });
            this.options = data;
        },

        commitSelection() {
            this.$emit('input', this.options[this.highlightedIndex]);
            this.$emit('search', '');
            this.close();
            this.searchValue = '';
        },

        select(index) {
            this.highlightedIndex = index;
            this.commitSelection();
        },

        highlight(index) {
            this.open();
            this.highlightedIndex = index;
            this.$nextTick(() => {
                this.$refs.option[index].scrollIntoView({ block: 'nearest' });
            });
        },

        highlightPrev() {
            this.highlight(
                this.highlightedIndex - 1 < 0
                    ? this.options.length - 1
                    : this.highlightedIndex - 1,
            );
        },

        highlightNext() {
            this.highlight(
                this.highlightedIndex + 1 >= this.options.length
                    ? 0
                    : this.highlightedIndex + 1,
            );
        },
    },
};
</script>

<template>
    <div
        v-on-clickaway="toggle"
        class="relative"
    >
        <label
            v-if="label"
            class="form-label"
            :for="id"
        >{{ label }}</label>
        <div
            ref="input"
            :class="{ 'shadow-focus': isOpen }"
            tabindex="0"
            :disabled="disabled"
            @click="open"
            @keydown.up.prevent="open"
            @keydown.down.prevent="open"
            @keydown.space.prevent="open"
        >
            <div
                class="form-input"
                :disabled="disabled"
            >
                <span v-if="value !== null">{{ value }}</span>
                <span
                    v-else
                    class="text-gray-500"
                >&#8203;{{ placeholder }}</span>
            </div>
        </div>
        <div
            v-show="isOpen"
            class="absolute inset-x-0 bg-gray-800 p-2 overflow-hidden rounded shadow z-50 mx-2"
        >
            <input
                :id="id"
                ref="search"
                v-model="searchValue"
                type="text"
                autocomplete="off"
                class="form-input w-full mb-2"
                :placeholder="placeholder"
                @input="search($event.target.value)"
                @keydown.up="highlightPrev"
                @keydown.down="highlightNext"
                @keydown.enter.prevent="commitSelection"
                @keydown.esc="cancel"
                @keydown.tab.prevent
            >
            <ul
                v-show="options.length > 0"
                ref="options"
                class="list-reset relative overflow-y-auto scrolling-touch"
                style="max-height: 300px;"
            >
                <li
                    v-for="(option, i) in options"
                    ref="option"
                    :key="i"
                    class="p-4 cursor-pointer text-gray-100 rounded"
                    :class="[i === highlightedIndex ? 'bg-blue-500' : 'hover:bg-gray-700']"
                    @click="select(i)"
                >
                    <slot :entry="option" />
                </li>
            </ul>
            <div
                v-show="options.length === 0"
                class="px-3 py-2 text-gray-100"
            >
                Geen resultaten
            </div>
        </div>
    </div>
</template>
