<script>
import isObject from 'lodash/isObject';
import Pagination from '../Navigation/Pagination.vue';
import Dropdown from './Dropdown.vue';
import EmptyState from './EmptyState/EmptyState.vue';

export default {
    components: { EmptyState, Pagination, Dropdown },

    props: {
        value: Object,
        tableClass: String,
        actions: {
            type: Array,
            default: () => [],
        },
        columns: {
            type: Array,
            default: () => [],
        },
        defaultSort: {
            type: Object,
            default: () => ({
                id: null,
                order: null,
            }),
        },
    },

    data() {
        return {
            sort: this.defaultSort,
            tableColumns: [],
        };
    },

    created() {
        // Normalize columns
        this.tableColumns = this.columns.map((column) => (isObject(column)
            ? column
            : { title: column, id: column, sortable: false }));
    },

    methods: {
        setSort(value) {
            this.$set(this.sort, 'id', value);
            this.$set(this.sort, 'order', this.sort.order === 'asc' ? 'desc' : 'asc');
            this.$emit('sort', this.sort);
        },
    },
};
</script>

<template>
    <div>
        <empty-state
            v-if="value.data && value.data.length === 0"
            title="Er is hier niets..."
        />
        <template v-else>
            <div :class="tableClass">
                <table class="table">
                    <thead>
                        <tr>
                            <th
                                v-for="(column, index) in tableColumns"
                                :key="index"
                            >
                                <template v-if="column.sortable">
                                    <a
                                        href="#"
                                        class="text-gray-700"
                                        @click.prevent="setSort(column.id)"
                                    >{{ column.title }}</a>
                                    <i
                                        v-if="sort.id === column.id"
                                        class="uil text-gray-500"
                                        :class="{
                                            'uil-arrow-up': sort.order === 'asc',
                                            'uil-arrow-down': sort.order === 'desc',
                                        }"
                                    />
                                </template>
                                <template v-else-if="column.icon">
                                    <i :class="column.icon" />
                                </template>
                                <template v-else>
                                    {{ column.title }}
                                </template>
                            </th>
                            <th
                                v-if="actions.length > 0"
                                width="100"
                            />
                        </tr>
                    </thead>

                    <tbody
                        class="bg-white"
                    >
                        <tr
                            v-for="entry in value.data"
                            :key="entry.id"
                            class="hover:bg-gray-100 focus-within:bg-gray-100"
                        >
                            <slot
                                name="row"
                                :entry="entry"
                            />
                            <td
                                v-if="actions.length > 0"
                                class="text-right "
                            >
                                <dropdown
                                    class="btn btn-sm ml-2 rounded-full p-1 bg-transparent hover:bg-gray-300 focus:bg-gray-300 text-gray-600 inline-flex items-center"
                                    placement="bottom-start"
                                >
                                    <div class="flex items-baseline">
                                        <i
                                            class="far fa-ellipsis-h"
                                        />
                                    </div>
                                    <div
                                        slot="dropdown"
                                        class="mt-2 py-2 shadow-lg bg-white rounded text-left"
                                    >
                                        <template v-for="action in actions">
                                            <button
                                                v-if="!action.visible || (action.visible && action.visible(entry))"
                                                :key="action.action"
                                                class="block cursor-pointer w-full px-6 py-3 hover:bg-gray-200 text-left"
                                                :class="{ 'border-t': action.divided }"
                                                @click="$emit('action', { action: action.action, entry })"
                                            >
                                                {{ action.title }}
                                            </button>
                                        </template>
                                    </div>
                                </dropdown>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination :links="value.links" />
        </template>
    </div>
</template>
