<script>
import pick from 'lodash/pick';
import values from 'lodash/values';
import compact from 'lodash/compact';
import isEmpty from 'lodash/isEmpty';
import Dropdown from './Dropdown.vue';
import SelectInput from '../DataEntry/SelectInput.vue';

export default {
    components: {
        Dropdown,
        SelectInput,
    },

    props: {
        value: Object,

        maxWidth: {
            type: Number,
            default: 300,
        },

        options: {
            type: Array,
            default: () => [
                {
                    key: 'trashed',
                    label: 'Verwijderd',
                    options: [
                        {
                            label: null,
                            value: null,
                        },
                        {
                            label: 'Met verwijderde items',
                            value: 'with',
                        },
                        {
                            label: 'Enkel verwijderde items',
                            value: 'only',
                        },
                    ],
                },
            ],
        },
    },

    computed: {
        hasActiveFilters() {
            const filters = pick(this.value, this.options.map((o) => o.key));

            return isEmpty(compact(values(filters))) === false;
        },

        totalActiveFilters() {
            const filters = pick(this.value, this.options.map((o) => o.key));

            return compact(values(filters)).length;
        },
    },

    methods: {
        onUpdate(key, value) {
            const newValue = {};
            newValue[key] = value;

            this.$emit('input', Object.assign(this.value, newValue));
        },
    },
};
</script>

<template>
    <div class="flex items-center">
        <div class="flex w-full bg-white shadow rounded">
            <dropdown
                class="px-4 md:px-6 rounded-l border-r hover:bg-grey-lightest focus:border-white focus:shadow-outline focus:z-10"
                placement="bottom-start"
                :hide-on-click="false"
            >
                <div class="flex items-center text-gray-500">
                    <span
                        v-if="!hasActiveFilters"
                        class="whitespace-no-wrap hidden md:inline"
                    >Filters</span>
                    <span
                        v-else
                        class="whitespace-no-wrap hidden md:inline"
                    >{{ totalActiveFilters }} filter(s)</span>

                    <i
                        class="text-xl far fa-filter md:ml-2"
                        :class="{ 'text-blue-600': hasActiveFilters }"
                    />
                </div>
                <div
                    slot="dropdown"
                    class="mt-2 px-4 py-6 w-screen shadow-lg bg-white rounded"
                    :style="{ maxWidth: `${maxWidth}px` }"
                >
                    <div
                        v-for="(option, index) in options"
                        :key="index"
                    >
                        <select-input
                            :value="value[option.key]"
                            :label="option.label"
                            class="mb-4"
                            @input="onUpdate(option.key, $event)"
                        >
                            <option
                                v-for="(o, j) in option.options"
                                :key="j"
                                :value="o.value"
                            >
                                {{ o.label }}
                            </option>
                        </select-input>
                    </div>

                    <slot />
                </div>
            </dropdown>
            <input
                class="bg-transparent relative w-full px-6 py-3 rounded-r focus:shadow-outline"
                autocomplete="off"
                type="text"
                name="search"
                placeholder="Zoeken…"
                :value="value.search"
                @input="onUpdate('search', $event.target.value)"
            >
        </div>
        <button
            class="ml-3 text-sm text-gray-600 hover:text-grey-darker focus:text-indigo"
            type="button"
            title="Opnieuw instellen"
            @click="$emit('reset')"
        >
            <i class="fas fa-redo-alt" />
        </button>
    </div>
</template>
