<script>
export default {
    props: {
        type: {
            type: String,
            default: 'info',
            validator: (value) => ['success', 'warning', 'danger', 'info'].indexOf(value) !== -1,
        },
    },

    computed: {
        style() {
            return `tag__${this.type}`;
        },
    },
};
</script>

<template>
    <span
        class="tag"
        :class="style"
    >
        <slot />
    </span>
</template>
