<script>
import draggable from 'vuedraggable';
import AutoComplete from '../../DataDisplay/AutoComplete.vue';
import CheckboxInput from '../CheckboxInput.vue';

export default {
    components: { CheckboxInput, draggable, AutoComplete },

    props: {
        moduleId: Number,
        title: String,
        value: Object,
    },

    data() {
        return {
            answer: this.value,
        };
    },

    watch: {
        answer: {
            handler(value) {
                this.$emit('input', value);
            },
            deep: true,
        },
    },

    methods: {
        linkAnswer({ id, name }) {
            if (this.hasForm(id)) {
                return;
            }

            this.answer.forms.push({
                id, name, required: false,
            });
        },

        hasForm(id) {
            return !!this.answer.forms.find((l) => l.id === id);
        },
    },
};
</script>

<template>
    <div>
        <fieldset>
            <legend>Antwoord: {{ title }}</legend>
            <auto-complete
                :source="route('api.forms.index', { module_id: moduleId })"
                query-param="search"
                placeholder="Formulier toevoegen..."
                class="mb-4"
                @input="linkAnswer"
            >
                <div
                    slot-scope="{ entry }"
                    class="flex items-center"
                >
                    <div>{{ entry.name }}</div>
                </div>
            </auto-complete>

            <draggable
                v-if="answer.forms.length > 0"
                :list="answer.forms"
                handle=".handle"
                group="fields"
            >
                <div
                    v-for="(form, index) in answer.forms"
                    :key="form.id"
                    class="bg-gray-100 border-gray-300 border p-4 mb-4 rounded"
                >
                    <div class="row flex">
                        <div class="col-auto flex flex-grow items-center">
                            <div class="handle cursor-move w-8 h-8 text-gray-500 flex items-center">
                                <i class="far fa-ellipsis-v text-lg" />
                            </div>

                            <div class="row flex-grow">
                                <div class="col-auto flex-grow">
                                    {{ form.name }}
                                </div>
                                <div class="col-auto">
                                    <checkbox-input
                                        v-model="form.required"
                                        label="Verplicht formulier"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button
                                type="button"
                                class="btn-secondary is-danger"
                                @click="answer.forms.splice(index, 1)"
                            >
                                <i class="fal fa-trash-alt" />
                            </button>
                        </div>
                    </div>
                </div>
            </draggable>
            <div
                v-else
                class="mt-4 bg-gray-100 border-gray-300 border text-gray-600 p-4 rounded"
            >
                Geen gekoppelde formulieren
            </div>
        </fieldset>
    </div>
</template>
