<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import AuthLayout from '../../../Layouts/Auth.vue';
import FlashMessages from '../../../Shared/Feedback/FlashMessages.vue';

export default {
    metaInfo: { title: 'Wachtwoord vergeten' },

    layout: (h, page) => h(AuthLayout, [page]),

    components: {
        LoadingButton,
        TextInput,
        FlashMessages,
    },
    props: {
        errors: Object,
    },
    data() {
        return {
            sending: false,
            form: {
                email: null,
                password: null,
                remember: null,
            },
        };
    },

    methods: {
        async submit() {
            this.sending = true;

            await this.$inertia.post(this.route('password.email'), {
                email: this.form.email,
            });

            this.sending = false;
        },
    },
};
</script>

<template>
    <div>
        <!-- FLASH MESSAGE -->
        <flash-messages class="mt-8 mb-4" />

        <form
            @submit.prevent="submit"
        >
            <div>
                <text-input
                    v-model="form.email"
                    :errors="$page.errors.email"
                    label="E-mail"
                    type="email"
                    autofocus
                    autocapitalize="off"
                />
            </div>
            <div class="py-4 flex justify-between items-center">
                <loading-button
                    :loading="sending"
                    class="btn-primary"
                    type="submit"
                >
                    Aanmelden
                </loading-button>

                <inertia-link
                    class="link"
                    tabindex="-1"
                    :href="route('home')"
                >
                    Terug naar aanmelden
                </inertia-link>
            </div>
        </form>
    </div>
</template>
