<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import AuthLayout from '../../../Layouts/Auth.vue';
import FlashMessages from '../../../Shared/Feedback/FlashMessages.vue';

export default {
    metaInfo: { title: 'Wachtwoord opnieuw instellen' },

    layout: AuthLayout,

    components: {
        LoadingButton,
        TextInput,
        FlashMessages,
    },
    props: {
        errors: Object,
    },
    data() {
        return {
            sending: false,
            form: {
                email: this.$page.email || null,
                password: null,
                password_confirmation: null,
                token: this.$page.token,
            },
        };
    },

    methods: {
        async submit() {
            this.sending = true;

            await this.$inertia.post(this.route('password.reset.store'), {
                token: this.form.token,
                email: this.form.email,
                password: this.form.password,
                password_confirmation: this.form.password_confirmation,
            });

            this.sending = false;
        },
    },
};
</script>

<template>
    <div>
        <!-- FLASH MESSAGE -->
        <flash-messages class="mt-8 mb-4" />

        <form
            @submit.prevent="submit"
        >
            <div>
                <text-input
                    v-model="form.email"
                    :errors="$page.errors.email"
                    label="E-mail"
                    type="email"
                    autofocus
                    autocapitalize="off"
                />
                <text-input
                    v-model="form.password"
                    :errors="$page.errors.password"
                    class="mt-6"
                    label="Wachtwoord"
                    type="password"
                />
                <text-input
                    v-model="form.password_confirmation"
                    :errors="$page.errors.password_confirmation"
                    class="mt-6"
                    label="Wachtwoord herhalen"
                    type="password"
                />
            </div>
            <div class="py-4 flex justify-between items-center">
                <loading-button
                    :loading="sending"
                    class="btn-primary"
                    type="submit"
                >
                    Bewaren
                </loading-button>
            </div>
        </form>
    </div>
</template>
