<template>
    <modal
        ref="modal"
        name="dialog"
        height="auto"
        :classes="['v--modal', 'vue-dialog', params.class]"
        :width="params.width"
        :max-width="params.maxWidth"
        :pivot-y="0.3"
        :adaptive="true"
        :click-to-close="clickToClose"
        :transition="transition"
        :reset="true"
        @before-open="beforeOpened"
        @before-close="beforeClosed"
        @opened="$emit('opened', $event)"
        @closed="$emit('closed', $event)"
    >
        <div class="dialog-content">
            <div
                v-if="params.title"
                class="dialog-c-title"
                v-html="params.title || ''"
            />
            <component
                :is="params.component"
                v-if="params.component"
                ref="component"
                v-bind="params.props"
                v-on="params.events"
            />
            <div
                v-else
                class="dialog-c-text"
                v-html="params.text || ''"
            />
        </div>
        <div
            v-if="buttons"
            class="vue-dialog-buttons"
        >
            <button
                v-for="(button, i) in buttons"
                :key="i"
                :class="button.class || 'vue-dialog-button'"
                type="button"
                :style="buttonStyle"
                @click.stop="click(i, $event)"
                v-html="button.title"
            >
                {{ button.title }}
            </button>
        </div>
        <div
            v-else
            class="vue-dialog-buttons-none"
        />
    </modal>
</template>
<script>
export default {
    name: 'VueJsDialog',
    props: {
        width: {
            type: [Number, String],
            default: 400,
        },
        clickToClose: {
            type: Boolean,
            default: true,
        },
        transition: {
            type: String,
            default: 'fade',
        },
    },
    data() {
        return {
            params: {},
            defaultButtons: [{ title: 'CLOSE' }],
        };
    },
    computed: {
        buttons() {
            return this.params.buttons || this.defaultButtons;
        },
        /**
             * Returns FLEX style with correct width for arbitrary number of
             * buttons.
             */
        buttonStyle() {
            return {
                flex: `1 1 ${100 / this.buttons.length}%`,
            };
        },
    },

    mounted() {
        // Add custom watcher so the modal resizes
        this.$refs.modal.$watch('width', () => {
            this.$refs.modal.setInitialSize();
        });
    },

    methods: {
        beforeOpened(event) {
            window.addEventListener('keyup', this.onKeyUp);

            this.params = event.params || {};
            this.$emit('before-opened', event);
        },
        beforeClosed(event) {
            window.removeEventListener('keyup', this.onKeyUp);

            this.params = {};
            this.$emit('before-closed', event);
        },
        click(i, event, source = 'click') {
            const button = this.buttons[i];

            if (button && typeof button.handler === 'function') {
                button.handler(i, event, { source }, this);
            } else {
                this.$modal.hide('dialog');
            }
        },
        onKeyUp(event) {
            if (event.which === 13 && this.buttons.length > 0) {
                const buttonIndex = this.buttons.length === 1
                    ? 0
                    : this.buttons.findIndex((button) => button.default);

                if (buttonIndex !== -1) {
                    this.click(buttonIndex, event, 'keypress');
                }
            }
        },
    },
};
</script>
