<script>
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import PhoneInput from '../../../Shared/DataEntry/PhoneInput.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import TextAreaInput from '../../../Shared/DataEntry/TextareaInput.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';

export default {
    metaInfo: { title: 'Vereniging toevoegen' },

    layout: (h, page) => h(Layout, [page]),

    components: {
        LoadingButton,
        TextInput,
        TextAreaInput,
        SelectInput,
        PhoneInput,
    },

    props: {
        categories: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Vereniging toevoegen',

            form: {
                club_category_id: null,
                name: null,
                description: null,
                email: null,
                street: null,
                number: null,
                box: null,
                postcode: null,
                city: null,
                country: 'België',
                phone: null,
                url: null,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.clubs.store'), this.form];
        },
    },
};
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <text-input
                        v-model="form.name"
                        :errors="$page.errors.name"
                        label="Naam"
                        autofocus
                        class="mb-4"
                    />

                    <text-area-input
                        v-model="form.description"
                        :errors="$page.errors.description"
                        :autosize="true"
                        label="Omschrijving"
                        class="mb-4"
                    />

                    <select-input
                        v-model="form.club_category_id"
                        :errors="$page.errors.club_category_id"
                        label="Categorie"
                        class="w-1/2 mb-4"
                    >
                        <option
                            v-for="category in categories"
                            :key="category.id"
                            :value="category.id"
                        >
                            {{ category.name }}
                        </option>
                    </select-input>

                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.street"
                            :errors="$page.errors.street"
                            label="Straat"
                            class="px-2 w-2/4"
                        />
                        <text-input
                            v-model="form.number"
                            :errors="$page.errors.number"
                            label="Nummer"
                            class="px-2 w-1/4"
                        />
                        <text-input
                            v-model="form.box"
                            :errors="$page.errors.box"
                            label="Bus"
                            class="px-2 w-1/4"
                        />
                    </div>

                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.postcode"
                            :errors="$page.errors.postcode"
                            label="Postcode"
                            class="px-2 w-1/4"
                        />
                        <text-input
                            v-model="form.city"
                            :errors="$page.errors.city"
                            label="Plaats"
                            class="px-2 w-2/4"
                        />
                        <select-input
                            v-model="form.country"
                            :errors="$page.errors.country"
                            label="Land"
                            class="px-2 w-1/4"
                        >
                            <option value="België">
                                België
                            </option>
                            <option value="Nederland">
                                Nederland
                            </option>
                        </select-input>
                    </div>

                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.email"
                            :errors="$page.errors.email"
                            label="E-mail"
                            type="email"
                            class="px-2 w-1/2"
                        />
                        <phone-input
                            v-model="form.phone"
                            :errors="$page.errors.phone"
                            label="Telefoon"
                            class="px-2 w-1/2"
                        />
                    </div>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
