<script>
import mapValues from 'lodash/mapValues';
import throttle from 'lodash/throttle';
import pickBy from 'lodash/pickBy';
import Layout from '../../../Layouts/Layout.vue';
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import SearchFilter from '../../../Shared/DataDisplay/SearchFilter.vue';
import Avatar from '../../../Shared/General/Avatar.vue';
import Alert from '../../../Shared/Feedback/Alert.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import UserManager from '../../../Shared/DataEntry/UserManager/UserManager.vue';

export default {
    metaInfo: { title: 'Verenigingen' },

    layout: (h, page) => h(Layout, [page]),

    components: {
        SelectInput,
        Alert,
        Avatar,
        BaseTable,
        SearchFilter,
        UserManager,
    },

    props: {
        models: Object,
        filters: Object,
        pending: Number,
    },

    data() {
        return {
            form: {
                search: this.filters.search,
                order_by: this.filters.order_by || 'name',
                order_by_dir: this.filters.order_by_dir || 'asc',
                trashed: this.filters.trashed,
                status: this.filters.status,
            },

            tableActions: [
                {
                    action: 'edit',
                    title: 'Bewerken',
                },
                {
                    divided: true,
                    action: 'delete',
                    title: 'Verwijderen',
                },
            ],
        };
    },

    watch: {
        form: {
            // eslint-disable-next-line func-names
            handler: throttle(function () {
                const query = pickBy(this.form);
                this.$inertia.replace(this.route('admin.clubs.index', Object.keys(query).length ? query : { remember: 'forget' }));
            }, 150),
            deep: true,
        },
    },

    methods: {
        reset() {
            this.form = mapValues(this.form, () => null);
        },

        setOrdering({ id, order }) {
            this.$set(this.form, 'order_by', id);
            this.$set(this.form, 'order_by_dir', order);
        },

        handleAction({ action, entry }) {
            if (action === 'edit') {
                this.$inertia.visit(this.route('admin.clubs.edit', entry.id));
                return;
            }

            if (action === 'delete') {
                // eslint-disable-next-line no-restricted-globals,no-alert
                if (confirm('Ben je zeker dat je deze club wil verwijderen?')) {
                    this.$inertia.delete(this.route('admin.clubs.destroy', entry.id));
                }
            }
        },

        showUserManager(entry) {
            this.$modal.show('user-management', { entry });
        },
    },
};
</script>

<template>
    <div>
        <user-manager />

        <alert
            v-if="pending > 0"
            class="mb-6"
        >
            {{ pending }} verenigingen wachten op goedkeuring. <inertia-link
                class="link ml-2"
                :href="route('admin.clubs.index', { status: 'pending' })"
            >
                Bekijk verenigingen
            </inertia-link>
        </alert>

        <div class="mb-6 flex justify-between items-center">
            <search-filter
                v-model="form.search"
                class="w-full max-w-sm mr-4"
                @reset="reset"
            >
                <select-input
                    v-model="form.trashed"
                    label="Verwijderd"
                    class="mb-4"
                >
                    <option :value="null" />
                    <option value="with">
                        Met verwijderde items
                    </option>
                    <option value="only">
                        Enkel verwijderde items
                    </option>
                </select-input>
                <select-input
                    v-model="form.status"
                    label="Status"
                >
                    <option :value="null" />
                    <option value="pending">
                        Aangevraagd
                    </option>
                    <option value="disapproved">
                        Afgekeurd
                    </option>
                    <option value="approved">
                        Goedgekeurd
                    </option>
                </select-input>
            </search-filter>

            <inertia-link
                class="btn-primary ml-auto"
                :href="route('admin.clubs.create')"
            >
                Toevoegen
            </inertia-link>
        </div>

        <base-table
            :value="models"
            :actions="tableActions"
            :columns="[
                { title: 'Naam', id: 'name', sortable: true },
                'Contactgegevens',
                'Leden',
                'Status',
            ]"
            :default-sort="{ id: form.order_by, order: form.order_by_dir }"
            table-class="card overflow-x-auto"
            @sort="setOrdering"
            @action="handleAction"
        >
            <template
                slot="row"
                slot-scope="{ entry }"
            >
                <td>
                    <inertia-link
                        class="link"
                        :href="route('admin.clubs.edit', entry.id)"
                    >
                        {{ entry.name }}
                    </inertia-link>
                </td>
                <td class="leading-normal">
                    <div
                        v-if="entry.email"
                        class="flex items-center"
                    >
                        <i class="eva eva-email-outline mr-2 text-gray-500" />
                        <a
                            class="link"
                            :href="`mailto:${entry.email}`"
                        >{{ entry.email }}</a>
                    </div>
                    <div
                        v-if="entry.phone"
                        class="text-sm flex items-center text-gray-600"
                    >
                        <i class="eva eva-phone-outline mr-2 text-gray-500" /> {{ entry.phone }}
                    </div>
                </td>
                <td width="150">
                    <div class="flex">
                        <template v-if="entry.users.length > 0">
                            <ul class="inline-flex">
                                <li
                                    v-for="(user, index) in entry.users"
                                    :key="user.id"
                                    v-tooltip="{
                                        content: user.name + '<br><small>(' + user.email + ')</small>',
                                        html: true,
                                    }"
                                    class="rounded-full border-2 border-white"
                                    :class="['z-' + (40 - (index * 10)), { '-ml-2': index > 0}]"
                                >
                                    <avatar
                                        :value="user.avatar"
                                        class="w-6 h-6 rounded-full"
                                    />
                                </li>
                            </ul>
                        </template>
                        <button
                            v-if="entry.users.length < 5"
                            class="btn btn-sm p-1 bg-gray-200 hover:bg-gray-300 focus:bg-gray-300 text-gray-600 rounded-full border-2 border-transparent flex items-center"
                            :class="{ 'ml-2': entry.users.length > 0 }"
                            @click="showUserManager(entry)"
                        >
                            <i class="eva eva-more-horizontal" />
                        </button>
                    </div>
                </td>
                <td width="150">
                    <div class="flex items-center">
                        <div
                            class="badge"
                            :class="entry.status_class"
                        >
                            {{ entry.human_status }}
                        </div>
                        <inertia-link
                            v-if="entry.status === 'pending'"
                            v-tooltip="'Goedkeuren'"
                            :href="route('admin.clubs.approve', entry.id)"
                            method="post"
                            class="btn btn-sm ml-2 p-1 rounded-full bg-green-500 hover:bg-green-600 inline-flex items-center"
                        >
                            <i class="eva eva-checkmark" />
                        </inertia-link>
                        <inertia-link
                            v-if="entry.status === 'pending'"
                            v-tooltip="'Afkeuren'"
                            :href="route('admin.clubs.disapprove', entry.id)"
                            method="delete"
                            class="btn btn-sm ml-2 rounded-full p-1 bg-red-500 hover:bg-red-600 inline-flex items-center"
                        >
                            <i class="eva eva-close-outline" />
                        </inertia-link>
                    </div>
                </td>
            </template>
        </base-table>
    </div>
</template>
