<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import CheckboxInput from '../../../Shared/DataEntry/CheckboxInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        CheckboxInput,
        LoadingButton,
        TextInput,
    },

    remember: 'form',

    props: {
        roles: Array,
    },

    data() {
        return {
            sending: false,

            form: {
                name: null,
                shareable: false,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.modules.store'), this.form];
        },
    },
});
</script>

<template>
    <div>
        <div class="card max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="row">
                        <text-input
                            v-model="form.name"
                            :errors="$page.errors.name"
                            class="col-6 mb-4"
                            label="Naam"
                        />
                    </div>

                    <checkbox-input
                        v-model="form.shareable"
                        label="Delen met procesbibliotheek"
                    />
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
