<script>
import cuid from 'cuid';
import omit from 'lodash/omit';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import Builder from '../../../Shared/DataEntry/FormBuilder/Builder/Builder.vue';
import Dropdown from '../../../Shared/DataDisplay/Dropdown.vue';
import FieldTypes from '../../../Shared/DataEntry/FormBuilder/Builder/FieldTypes';
import FormField from '../../../Shared/DataEntry/FormBuilder/FormField.vue';
import { Tabs, Tab } from '../../../Shared/DataDisplay/Tabs';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        FormField,
        LoadingButton,
        TextInput,
        Builder,
        Dropdown,
        Tabs,
        Tab,
    },

    props: {
        directories: Object,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Fieldset toevoegen',

            form: {
                name: null,
                path: null,
                fields: [],
                actions: [],
            },
        };
    },

    computed: {
        fieldTypes() {
            return FieldTypes.values;
        },
    },

    methods: {
        submitData() {
            this.$set(this.form, 'fields', this.form.fields.map((field) => omit(field, ['edit'])));

            return ['post', this.route('admin.forms.store', { module: this.$page.route.params.module }), this.form];
        },

        addField(type = 'text') {
            this.form.fields.push({
                title: FieldTypes.getByType(type).title,
                type,
                _cuid: cuid(),
                overview: false,
                validation: [],
            });
        },
    },
});
</script>

<template>
    <div>
        <form
            @submit.prevent="submit"
        >
            <tabs>
                <div class="flex -mx-4">
                    <div class="w-1/2 px-4">
                        <div class="card overflow-hidden">
                            <tab name="Algemeen">
                                <div class="p-8">
                                    <text-input
                                        v-model="form.name"
                                        :errors="$page.errors.name"
                                        label="Naam"
                                    />
                                </div>

                                <div class="px-8">
                                    <fieldset>
                                        <legend>
                                            Publiek contactpersoon
                                        </legend>
                                        <p class="text-gray-500 mb-4">
                                            Welke contactgegevens mogen er voor de organisator zichtbaar zijn bij dit formulier?
                                        </p>

                                        <div class="row">
                                            <text-input
                                                v-model="form.contact_name"
                                                :errors="$page.errors.contact_name"
                                                label="Naam"
                                                class="col-6"
                                            />
                                            <text-input
                                                v-model="form.contact_email"
                                                :errors="$page.errors.contact_email"
                                                type="email"
                                                label="E-mail"
                                                class="col-6"
                                            />
                                        </div>
                                    </fieldset>
                                </div>
                            </tab>
                            <tab name="Velden">
                                <div class="p-8">
                                    <fieldset>
                                        <legend>Velden</legend>

                                        <builder
                                            v-model="form.fields"
                                        />

                                        <dropdown
                                            class="btn-secondary"
                                            placement="bottom-start"
                                        >
                                            Veld toevoegen <i class="far fa-angle-down" />
                                            <div
                                                slot="dropdown"
                                                class="mt-2 py-2 shadow-lg bg-white rounded text-left"
                                            >
                                                <button
                                                    v-for="fieldType in fieldTypes"
                                                    :key="fieldType.id"
                                                    type="button"
                                                    class="block w-full px-6 py-2 hover:bg-blue-600 hover:text-white text-left"
                                                    @click="addField(fieldType.id)"
                                                >
                                                    {{ fieldType.title }}
                                                </button>
                                            </div>
                                        </dropdown>
                                    </fieldset>
                                </div>
                            </tab>

                            <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                                <loading-button
                                    :loading="sending"
                                    class="btn-primary"
                                    type="submit"
                                >
                                    Bewaren
                                </loading-button>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 px-4">
                        <div class="card overflow-hidden">
                            <div class="py-4 px-8 bg-gray-100 border-b text-lg">
                                Voorbeeld
                            </div>
                            <div class="p-8">
                                <div
                                    v-for="field in form.fields"
                                    :key="field.id"
                                    class="mb-4"
                                >
                                    <form-field
                                        :value="null"
                                        :field="field"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tabs>
        </form>
    </div>
</template>
