<script>
import pickBy from 'lodash/pickBy';
import throttle from 'lodash/throttle';
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import Page from '../../../Shared/Mixins/Page';
import Overview from '../../../Shared/Mixins/Overview';
import SearchFilter from '../../../Shared/DataDisplay/SearchFilter.vue';

export default Page({
    components: { BaseTable, SearchFilter },

    mixins: [Overview('admin.forms.index', {
        // eslint-disable-next-line object-shorthand,func-names
        edit: function ({ id }) {
            this.$inertia.visit(this.route('admin.forms.edit', { module: this.$page.route.params.module, id }));
        },
        // eslint-disable-next-line object-shorthand,func-names
        delete: function ({ id }) {
            this.confirmDelete(
                'Vraag verwijderen',
                'Ben je zeker dat je deze vraag wil verwijderen?',
                this.route('admin.forms.destroy', { id, module: this.$page.route.params.module }),
            );
        },
    })],

    props: {
        models: Object,
    },

    created() {
        // Destroy the form watcher from the Overview mixin and implement our own
        if (this.formWatcher) {
            this.formWatcher();
        }

        this.formWatcher = this.$watch('form', throttle(() => {
            const query = pickBy(this.form);
            const params = Object.keys(query).length ? query : { remember: 'forget' };
            this.$set(params, 'module', this.$page.route.params.module);
            this.$inertia.replace(this.route('admin.forms.index', params));
        }, 150), { deep: true });
    },
});
</script>

<template>
    <div>
        <div class="mb-6 flex justify-between items-center">
            <search-filter
                v-model="form"
                class="w-full max-w-sm mr-4"
                @reset="reset"
            />

            <inertia-link
                class="btn-primary ml-4"
                :href="route('admin.forms.create', { module: this.$page.route.params.module })"
            >
                Toevoegen
            </inertia-link>
        </div>

        <base-table
            :value="models"
            :actions="tableActions"
            :columns="[
                'Naam',
            ]"
            :default-sort="{ id: form.order_by, order: form.order_by_dir }"
            table-class="card overflow-x-auto"
            @sort="setOrdering"
            @action="handleAction"
        >
            <template
                slot="row"
                slot-scope="{ entry }"
            >
                <td>
                    <inertia-link
                        class="link"
                        :href="route('admin.forms.edit', { id: entry.id, module: $page.route.params.module })"
                    >
                        {{ entry.name }}
                    </inertia-link>
                </td>
            </template>
        </base-table>
    </div>
</template>
