<script>
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import Heading from '../../../Shared/General/Heading.vue';
import Page from '../../../Shared/Mixins/Page';
import QuestionAnswer from '../../../Shared/DataEntry/QuestionAnswer/QuestionAnswer.vue';

export default Page({
    components: {
        Layout,
        LoadingButton,
        Heading,
        QuestionAnswer,
    },

    props: {
        models: Array,
        module: Object,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            selectedQuestion: null,

            form: {
                links: [],
            },
        };
    },

    created() {
        this.models.forEach((question) => {
            question.answers.forEach((answer) => {
                this.form.links.push({
                    question_id: question.id,
                    answer_id: answer.id,
                    forms: answer.forms,
                });
            });
        });
    },

    methods: {
        submitData() {
            return [
                'post',
                this.route(
                    'admin.questionAnswers.store',
                    { module: this.$page.route.params.module },
                ),
                this.form,
            ];
        },

        getQuestionAnswerForm(answerId) {
            return this.form.links.find((link) => link.answer_id === answerId);
        },

        updateQuestionAnswerForm(answerId, value) {
            const model = this.getQuestionAnswerForm(answerId);
            this.$set(model, 'forms', value.forms);
        },
    },
});
</script>

<template>
    <div>
        <div class="card">
            <form
                @submit.prevent="submit"
            >
                <div class="flex">
                    <div class="w-4/12 border-r">
                        <div>
                            <div
                                v-for="model in models"
                                :key="model.id"
                                class="border-b last:border-b-0 p-4 leading-tight hover:bg-blue-700 hover:text-white cursor-pointer"
                                :class="{ 'bg-blue-700 text-white': selectedQuestion === model }"
                                @click="selectedQuestion = model"
                            >
                                {{ model.name }}
                            </div>
                        </div>
                    </div>
                    <div class="w-8/12 p-8">
                        <template v-if="selectedQuestion">
                            <div
                                v-for="answer in selectedQuestion.answers"
                                :key="answer.id"
                            >
                                <question-answer
                                    :value="getQuestionAnswerForm(answer.id)"
                                    :title="answer.value"
                                    :module-id="module.id"
                                    @input="updateQuestionAnswerForm(answer.id, $event)"
                                />
                            </div>
                        </template>
                        <div v-else>
                            Selecteer een vraag
                        </div>
                    </div>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center rounded-b">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>


        <!--        <div class="card max-w-4xl">-->
        <!--                <div class="px-8 mb-8">-->
        <!--                    <div-->
        <!--                        v-for="(answer, index) in model.links"-->
        <!--                        :key="answer.id"-->
        <!--                    >-->
        <!--                        <question-answer-->
        <!--                            v-model="form.links[index]"-->
        <!--                            :title="answer.value"-->
        <!--                            :module-id="module.id"-->
        <!--                        />-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--            </form>-->
        <!--        </div>-->
    </div>
</template>
