<script>
import cuid from 'cuid';
import draggable from 'vuedraggable';
import findIndex from 'lodash/findIndex';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import TextAreaInput from '../../../Shared/DataEntry/TextareaInput.vue';
import QuestionRuleBuilder from '../../../Shared/DataEntry/QuestionRuleBuilder/QuestionRuleBuilder.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        draggable,
        LoadingButton,
        TextInput,
        TextAreaInput,
        QuestionRuleBuilder,
    },

    props: {
        cities: Array,
        types: Array,
        questions: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Basisvraag toevoegen',

            form: {
                name: null,
                description: null,
                type: 0,
                answers: [
                    { cuid: cuid(), value: null, default: true },
                ],
                rules: [],
            },
        };
    },

    computed: {
        answerDefaults: {
            get() {
                const index = findIndex(this.form.answers, (answer) => answer.default === true);

                if (index >= 0) {
                    return [index];
                }

                return [];
            },
            set() {
                // Does nothing
            },
        },
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.questions.store', { module: this.$page.route.params.module }), this.form];
        },

        async addAnswer() {
            this.form.answers.push({ id: cuid(), value: null, default: false });

            await this.$nextTick();

            this.$refs.answers[this.form.answers.length - 1].focus();
        },

        removeAnswer(index) {
            this.form.answers.splice(index, 1);

            if (!this.form.answers.find((a) => a.default)) {
                this.$set(this.form.answers[0], 'default', true);
            }
        },

        async toggleDefaults(event, index) {
            this.form.answers.forEach((answer) => {
                this.$set(answer, 'default', false);
            });

            this.$set(this.form.answers[index], 'default', event.target.checked);

            await this.$nextTick();

            if (!this.form.answers.find((a) => a.default)) {
                this.$set(this.form.answers[0], 'default', true);
            }
        },
    },
});
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <text-input
                        v-model="form.name"
                        :errors="$page.errors.name"
                        label="Vraag"
                        class="mb-4"
                    />

                    <text-area-input
                        v-model="form.description"
                        :errors="$page.errors.description"
                        :autosize="true"
                        label="Omschrijving"
                        class="mb-4"
                    />

                    <!-- TODO: Implement types -->
                    <!--                    <div class="row mb-4">-->
                    <!--                        <select-input-->
                    <!--                            v-model="form.type"-->
                    <!--                            :errors="$page.errors.type"-->
                    <!--                            label="Type"-->
                    <!--                            class="col-6"-->
                    <!--                        >-->
                    <!--                            <option-->
                    <!--                                v-for="(type, id) in types"-->
                    <!--                                :key="id"-->
                    <!--                                :value="id"-->
                    <!--                            >-->
                    <!--                                {{ type }}-->
                    <!--                            </option>-->
                    <!--                        </select-input>-->

                    <!--                        <text-input-->
                    <!--                            v-if="form.type === 1"-->
                    <!--                            v-model="form.precision"-->
                    <!--                            class="col-6"-->
                    <!--                            label="Aantal cijfers na de komma"-->
                    <!--                            type="number"-->
                    <!--                            :step="1"-->
                    <!--                            :min="0"-->
                    <!--                            :errors="$page.errors.precision"-->
                    <!--                        />-->
                    <!--                    </div>-->

                    <div class="mb-8">
                        <div class="form-label">
                            Toon deze vraag als...
                        </div>

                        <question-rule-builder
                            v-model="form.rules"
                            :questions="questions"
                        />
                    </div>

                    <fieldset
                        v-if="form.type === 0"
                    >
                        <legend>Antwoorden</legend>

                        <draggable
                            :list="form.answers"
                            handle=".handle"
                            group="fields"
                        >
                            <div
                                v-for="(answer, index) in form.answers"
                                :key="answer.cuid"
                                class="bg-gray-100 border-gray-300 border p-4 mb-4 rounded"
                            >
                                <div class="row flex">
                                    <div class="col-auto flex flex-grow items-center">
                                        <div class="handle cursor-move w-8 h-8 text-gray-500 flex items-center">
                                            <i class="far fa-ellipsis-v text-lg" />
                                        </div>

                                        <div
                                            v-tooltip="'Duid aan als standaard antwoord'"
                                            class="flex items-center mx-4"
                                        >
                                            <!-- Zero-width space character, used to align checkbox properly -->
                                            &#8203;
                                            <input
                                                v-model="answerDefaults"
                                                :value="index"
                                                class="form-checkbox h-6 w-6"
                                                type="checkbox"
                                                @change="toggleDefaults($event, index)"
                                            >
                                        </div>
                                        <text-input
                                            ref="answers"
                                            v-model="form.answers[index].value"
                                            :errors="$page.errors[`answers.${index}.value`]"
                                            class="flex-grow"
                                        />
                                    </div>
                                    <div class="col-auto">
                                        <button
                                            v-if="form.answers.length > 1"
                                            type="button"
                                            class="btn-secondary is-danger"
                                            @click="removeAnswer(index)"
                                        >
                                            <i class="fal fa-trash-alt" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </draggable>
                        <button
                            type="button"
                            class="btn-secondary"
                            @click="addAnswer"
                        >
                            Toevoegen
                        </button>
                    </fieldset>
                </div>


                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
