<script>
import draggable from 'vuedraggable';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        draggable,
        LoadingButton,
    },

    props: {
        models: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            form: {
                questions: this.models,
            },
        };
    },

    methods: {
        submitData() {
            return ['put', this.route('admin.questions.order.update', {
                module: this.$page.route.params.module,
            }), {
                id: this.form.questions.map(({ id }) => id),
            }];
        },
    },
});
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <draggable
                    :list="form.questions"
                    handle=".handle"
                    group="fields"
                    class="px-8"
                >
                    <div
                        v-for="question in form.questions"
                        :key="question.id"
                        class="p-4 mb-4 shadow border rounded flex items-center"
                    >
                        <div class="handle cursor-move w-6 h-6 text-gray-500 mr-4">
                            <i class="far fa-ellipsis-v" />
                        </div>
                        <div class="truncate">
                            {{ question.name }}
                        </div>
                    </div>
                </draggable>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
