<script>
import isEmpty from 'lodash/isEmpty';
import FieldValidator from '../../Mixins/FieldValidator';
import Alert from '../../Feedback/Alert.vue';

export default {
    components: { Alert },
    mixins: [FieldValidator],

    props: {
        value: String,
        allowedStatusses: {
            type: Array,
        },
        type: String,
    },

    data() {
        return {
            form: {
                selected: null,
            },
        };
    },

    computed: {
        statuses() {
            const statusses = Object.values(this.$store.state.statusses[this.type]);


            return statusses.filter((status) => !!this.allowedStatusses.find((s) => s.id === status.id));
        },
    },

    watch: {
        // eslint-disable-next-line object-shorthand
        'form.selected'(value) {
            this.$emit('input', value);
        },
    },

    created() {
        const found = !!this.statuses.find((s) => s.id === this.value);

        if (found) {
            this.$set(this.form, 'selected', this.value);
        }
    },

    methods: {
        validate() {
            this.validateField('selected', this.form.selected);

            return isEmpty(this.errors);
        },
    },
};
</script>

<template>
    <div>
        <alert
            v-if="errors.selected"
            type="error"
            icon="fad fa-exclamation-circle"
            text="Kies alstublieft een status"
        />

        <dl>
            <label
                v-for="(s, index) in statuses"
                :key="index"
                class="flex py-5 border-b last:border-b-0 hover:bg-gray-100"
            >
                <dd class="col-5">
                    <input
                        v-model="form.selected"
                        class="form-radio text-xl mr-2"
                        type="radio"
                        :value="s.id"
                    >
                    <div
                        class="badge"
                        :class="s.class"
                    >
                        {{ s.label }}
                    </div>
                </dd>
                <dt class="col-7 leading-normal text-gray-800 text-right">
                    {{ s.description }}
                </dt>
            </label>
        </dl>
    </div>
</template>
