<script>
import pickBy from 'lodash/pickBy';
import throttle from 'lodash/throttle';
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import Page from '../../../Shared/Mixins/Page';
import Overview from '../../../Shared/Mixins/Overview';
import SearchFilter from '../../../Shared/DataDisplay/SearchFilter.vue';
import ItemStatus from '../../../Shared/DataDisplay/ItemStatus/ItemStatus.vue';

export default Page({
    components: { BaseTable, SearchFilter, ItemStatus },

    mixins: [Overview('admin.moduleItems.index', {})],

    props: {
        models: Object,
    },

    data() {
        return {
            tableActions: [],
        };
    },

    created() {
        // Destroy the form watcher from the Overview mixin and implement our own
        if (this.formWatcher) {
            this.formWatcher();
        }

        this.formWatcher = this.$watch('form', throttle(() => {
            const query = pickBy(this.form);
            const params = Object.keys(query).length ? query : { remember: 'forget' };
            this.$set(params, 'module', this.$page.route.params.module);
            this.$inertia.replace(this.route('admin.modulesItems.index', params));
        }, 150), { deep: true });
    },
});
</script>

<template>
    <div>
        <div class="mb-6 flex justify-between items-center">
            <search-filter
                v-model="form"
                class="w-full max-w-sm mr-4"
                @reset="reset"
            />

            <!--            <inertia-link-->
            <!--                class="btn-primary ml-4"-->
            <!--                :href="route('admin.moduleItems.create', { module: this.$page.route.params.module })"-->
            <!--            >-->
            <!--                Toevoegen-->
            <!--            </inertia-link>-->
        </div>

        <base-table
            :value="models"
            :actions="tableActions"
            :columns="[
                'Naam',
                'Status',
                'Aangemaakt',
            ]"
            :default-sort="{ id: form.order_by, order: form.order_by_dir }"
            table-class="card overflow-x-auto"
            @sort="setOrdering"
            @action="handleAction"
        >
            <template
                slot="row"
                slot-scope="{ entry }"
            >
                <td>
                    <inertia-link
                        class="link"
                        :href="route('admin.moduleItems.show', { id: entry.id, module: $page.route.params.module })"
                    >
                        Item {{ entry.id }}
                    </inertia-link>
                </td>
                <td
                    width="150"
                    class="leading-tight"
                >
                    <div>{{ entry.created_at | date }}</div>
                    <div class="text-sm text-gray-600">
                        {{ entry.created_at | date('HH:mm') }}
                    </div>
                </td>
                <td width="150">
                    <item-status
                        :value="entry.status"
                        type="MODULE_ITEM"
                    />
                </td>
            </template>
        </base-table>
    </div>
</template>
