<script>
import Page from '../../../Shared/Mixins/Page';
import { Tabs, Tab } from '../../../Shared/DataDisplay/Tabs';
import WorkflowItemGroupList from '../../../Shared/DataDisplay/WorkflowItems/WorkflowItemGroupList.vue';
import FormList from '../../../Shared/DataDisplay/Modules/FormList/AdminList.vue';

export default Page({
    components: {
        Tabs, Tab, WorkflowItemGroupList, FormList,
    },

    props: {
        model: Object,
    },
});
</script>

<template>
    <div>
        <tabs>
            <tab name="Dossierflow">
                <workflow-item-group-list :value="model.workflow_items" />
            </tab>
            <tab name="Antwoorden">
                <div class="card max-w-4xl">
                    <dl class="p-8">
                        <div
                            v-for="(question, index) in model.questions"
                            :key="index"
                            class="flex py-5 border-b last:border-b-0"
                        >
                            <dd class="leading-normal font-medium text-gray-600 w-8/12">
                                {{ question.name }}
                            </dd>
                            <dt class="w-4/12 leading-normal text-gray-800 text-right">
                                {{ question.answer_value }}
                            </dt>
                        </div>
                    </dl>
                </div>
            </tab>
            <tab name="Formulieren">
                <!-- FORMULIEREN -->
                <form-list
                    :value="model.forms"
                    :module-item-id="model.id"
                />
            </tab>
        </tabs>
    </div>
</template>
