<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import TextareaInput from '../../../Shared/DataEntry/TextareaInput.vue';
import FileInput from '../../../Shared/DataEntry/FileInput/FileInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        SelectInput,
        FileInput,
        LoadingButton,
        TextareaInput,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            form: {
                remarks: null,
                status: this.$store.state.statusses.ADVICE.POSITIVE.id,
                files: [],
            },
        };
    },

    computed: {
        statusses() {
            return Object.values(this.$store.state.statusses.ADVICE);
        },
    },

    methods: {
        submitData() {
            const { module, itemId, id } = this.$page.route.params;
            return ['post', this.route('admin.advices.store', { module, itemId, id }), this.form];
        },
    },
});
</script>

<template>
    <div>
        <div class="card max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <select-input
                        v-model="form.status"
                        :errors="$page.errors.remarks"
                        label="Type advies"
                        class="mb-4"
                    >
                        <option
                            v-for="status in statusses"
                            :key="status.id"
                            :value="status.id"
                        >
                            {{ status.label }}
                        </option>
                    </select-input>

                    <file-input
                        v-model="form.files"
                        class="mb-4"
                        type="file"
                        label="Bestanden"
                    />

                    <div
                        class="is-divider mt-10 mb-6"
                        data-content="EN / OF"
                    />

                    <textarea-input
                        v-model="form.remarks"
                        :errors="$page.errors.remarks"
                        :rte="true"
                        label="Advies"
                    />
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
