<script>
import compact from 'lodash/compact';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import RadioGroupInput from '../../../Shared/DataEntry/RadioGroupInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        LoadingButton,
        TextInput,
        RadioGroupInput,
    },

    props: {
        questions: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            form: {
                answers: [],
            },
        };
    },

    created() {
        this.questions.forEach((question) => {
            // Find default answer
            this.resetQuestionToDefault(question);
        });
    },

    methods: {
        submitData() {
            return ['post', this.route('modules.store', { module: this.$page.route.params.module }), this.form];
        },

        getSelectedQuestionAnswerValue(questionId) {
            // eslint-disable-next-line camelcase
            const answer = this.form.answers.find(({ question_id }) => question_id === questionId);

            return answer ? answer.answer_id : null;
        },

        updateSelectedQuestionAnswerValue(questionId, answerId) {
            // eslint-disable-next-line camelcase
            const answer = this.form.answers.find(({ question_id }) => question_id === questionId);

            if (answer) {
                this.$set(answer, 'answer_id', answerId);
            } else {
                this.form.answers.push({ question_id: questionId, answer_id: answerId });
            }
        },

        resetQuestionToDefault(question) {
            const defaultAnswer = question.answers.find((answer) => answer.default);
            this.updateSelectedQuestionAnswerValue(question.id, defaultAnswer.id);
        },

        isQuestionVisible(question) {
            if (question.rules.length === 0) {
                return true;
            }

            const passedRules = question.rules.map((rule) => {
                // find answer
                // eslint-disable-next-line camelcase
                const answer = this.form.answers.find(({ question_id }) => question_id === rule.target_question_id);

                if (!answer) {
                    return false;
                }

                // Compare rules
                let passed = true;

                switch (true) {
                case rule.operator === 'EQUALS':
                    passed = rule.question_answer_id === answer.answer_id;
                    break;

                case rule.operator === 'NOTEQUAL':
                    passed = rule.question_answer_id !== answer.answer_id;
                    break;

                default:
                    passed = true;
                    break;
                }

                return passed;
            });

            const passed = compact(passedRules).length > 0;

            if (!passed) {
                this.resetQuestionToDefault(question);
            }

            return passed;
        },
    },
});
</script>

<template>
    <div>
        <div class="card max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div
                        v-for="question in questions"
                        :key="question.id"
                    >
                        <template v-if="isQuestionVisible(question)">
                            <radio-group-input
                                v-if="question.type === 'RADIO'"
                                :value="getSelectedQuestionAnswerValue(question.id)"
                                :values="question.answers"
                                :title="question.name"
                                :label="question.description"
                                item-label-key="value"
                                class="mb-8"
                                @input="updateSelectedQuestionAnswerValue(question.id, $event)"
                            />
                        </template>
                    </div>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center justify-between">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
