<script>
import format from 'date-fns/format';
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import Heading from '../../../Shared/General/Heading.vue';
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import DateInput from '../../../Shared/DataEntry/DateInput.vue';

export default {
    components: {
        DateInput,
        TextInput,
        BaseTable,
        Layout,
        LoadingButton,
        Heading,
    },

    props: {
        categories: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Evenement toevoegen',

            organiser: null,

            form: {
                event_category_id: null,
                club_id: null,
                moments: [
                    {
                        starts_at: format(new Date(), 'dd/MM/yyyy HH:mm'),
                        ends_at: format(new Date(), 'dd/MM/yyyy HH:mm'),
                    },
                ],
            },
        };
    },

    computed: {
        category() {
            const category = this.categories.find(({ id }) => this.form.event_category_id === id);

            if (!category) {
                return null;
            }

            return category.name;
        },

        currentStep() {
            if (this.organiser === 'organiser' || (this.organiser === 'club' && this.form.club_id !== null)) {
                return 3;
            }

            if (this.form.event_category_id) {
                return 2;
            }

            return 1;
        },
    },

    asyncComputed: {
        async clubs() {
            const { data } = await this.$http.get(this.route('api.clubs.index'), {
                params: {
                    user_id: this.$page.auth.user.id,
                },
            });

            return data;
        },
    },

    methods: {
        submitData() {
            return ['post', this.route('user.events.store'), this.form];
        },
    },
};
</script>

<template>
    <layout :title="title">
        <heading
            :trail="[
                { title: 'Evenementen', route: 'user.events.index' },
                { title },
            ]"
        />

        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8">
                    <div class="steps">
                        <div
                            class="steps-step"
                            :class="{ 'active': currentStep >= 1 }"
                        >
                            <div class="steps-step-counter">
                                <div class="steps-step-counter-content">
                                    1
                                </div>
                            </div>
                            <div class="steps-step-content">
                                <div class="steps-step-content-title">
                                    Wat wil je organiseren?
                                </div>
                                <div class="my-4">
                                    <div
                                        v-if="form.event_category_id === null"
                                        class="flex flex-wrap"
                                    >
                                        <div
                                            v-for="category in categories"
                                            :key="category.id"
                                            class="mr-4 mb-4"
                                        >
                                            <button
                                                type="button"
                                                class="btn-secondary"
                                                @click="$set(form, 'event_category_id', category.id)"
                                            >
                                                {{ category.name }}
                                            </button>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="bg-white border p-4 rounded shadow flex items-center justify-between">
                                            <span>{{ category }}</span>

                                            <button
                                                type="button"
                                                class="btn-secondary"
                                                @click="$set(form, 'event_category_id', null)"
                                            >
                                                Wijzigen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="currentStep >= 2"
                            class="steps-step"
                            :class="{ 'active': currentStep >= 2 }"
                        >
                            <div class="steps-step-counter">
                                <div class="steps-step-counter-content">
                                    2
                                </div>
                            </div>
                            <div class="steps-step-content">
                                <div class="steps-step-content-title">
                                    Ik organiseer voor...
                                </div>
                                <div class="my-4">
                                    <div
                                        v-if="organiser === null"
                                        class="flex -mx-4"
                                    >
                                        <div class="w-1/2 px-4">
                                            <label class="flex">
                                                <input
                                                    v-model="organiser"
                                                    class="form-radio"
                                                    type="radio"
                                                    value="organiser"
                                                >
                                                <span class="ml-2">
                                                    <strong class="block mb-2">Mijzelf</strong>
                                                    <span class="block text-gray-500">Organiseer een evenement als particulier of als groep particulieren, niet als vereniging.</span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="w-1/2 px-4">
                                            <label class="flex">
                                                <input
                                                    v-model="organiser"
                                                    class="form-radio"
                                                    type="radio"
                                                    value="club"
                                                >
                                                <span class="ml-2">
                                                    <strong class="block mb-2">Een vereniging</strong>
                                                    <span class="block text-gray-500">Organiseer een evenement in naam van een vereniging, bedrijf, buurtcomité,…</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="bg-white border rounded shadow">
                                            <div class="flex items-center justify-between p-4">
                                                <div>
                                                    {{ organiser === 'organiser' ? 'Mijzelf' : 'Een vereniging' }}
                                                    <div v-if="form.club_id">
                                                        {{ form.club_id }}
                                                    </div>
                                                </div>

                                                <button
                                                    type="button"
                                                    class="btn-secondary"
                                                    @click="organiser = null"
                                                >
                                                    Wijzigen
                                                </button>
                                            </div>
                                            <div
                                                v-if="organiser === 'club' && !form.club_id"
                                                class="p-4"
                                            >
                                                <base-table :value="clubs">
                                                    <template slot="header">
                                                        <th>Naam</th>
                                                        <th>&nbsp;</th>
                                                    </template>
                                                    <template
                                                        slot="row"
                                                        slot-scope="{ entry }"
                                                    >
                                                        <td>
                                                            {{ entry.name }}
                                                        </td>
                                                        <td class="text-right w-64">
                                                            <button
                                                                type="button"
                                                                class="btn-secondary"
                                                                @click="$set(form, 'club_id', entry.id)"
                                                            >
                                                                Selecteer
                                                            </button>
                                                        </td>
                                                    </template>
                                                </base-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="currentStep >= 3"
                            class="steps-step"
                            :class="{ 'active': currentStep >= 3 }"
                        >
                            <div class="steps-step-counter">
                                <div class="steps-step-counter-content">
                                    3
                                </div>
                            </div>
                            <div class="steps-step-content">
                                <div class="steps-step-content-title">
                                    Wanneer vindt dit evenement plaats?
                                </div>
                                <div class="my-4">
                                    <div class="bg-white border rounded shadow p-4">
                                        <p>Je kan later extra datums toevoegen.</p>

                                        <div class="flex -mx-4">
                                            <date-input
                                                v-model="form.moments[0].starts_at"
                                                label="Start"
                                                class="px-4 w-1/2"
                                                format="d/m/Y H:i"
                                                :enable-time="true"
                                            />
                                            <date-input
                                                v-model="form.moments[0].ends_at"
                                                label="Einde"
                                                class="px-4 w-1/2"
                                                format="d/m/Y H:i"
                                                :enable-time="true"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="currentStep >= 3"
                            class="steps-step"
                            :class="{ 'active': currentStep >= 3 }"
                        >
                            <div class="steps-step-counter">
                                <div class="steps-step-counter-content">
                                    4
                                </div>
                            </div>
                            <div class="steps-step-content">
                                <div class="steps-step-content-title">
                                    Basisgegevens
                                </div>
                                <div class="my-4">
                                    <div class="bg-white border rounded shadow p-4">
                                        <text-input
                                            v-model="form.name"
                                            label="Naam van het evenement"
                                            help="Gebruik een duidelijke titel, bv. “Joggen voor beginners”, “Wijnproeverij”."
                                            :errors="$page.errors.name"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="currentStep >= 3 && form.name !== ''"
                    class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center"
                >
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </layout>
</template>
