<script>
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import Heading from '../../../Shared/General/Heading.vue';
import PhoneInput from '../../../Shared/DataEntry/PhoneInput.vue';
import TextareaInput from '../../../Shared/DataEntry/TextareaInput.vue';
import DateInput from '../../../Shared/DataEntry/DateInput.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';

export default {
    components: {
        SelectInput,
        DateInput,
        TextareaInput,
        Layout,
        LoadingButton,
        TextInput,
        Heading,
        PhoneInput,
    },

    props: {
        model: Object,
        categories: Array,
    },

    data() {
        return {
            sending: false,

            title: 'Evenement bewerken',

            form: {
                name: this.model.name,
                event_category_id: this.model.event_category_id,
                description: this.model.description,
                contact_name: this.model.contact_name || `${this.$page.auth.user.first_name} ${this.$page.auth.user.last_name}`,
                contact_email: this.model.contact_email || this.$page.auth.user.email,
                contact_phone: this.model.contact_phone || this.$page.auth.user.phone,
                contact_url: this.model.contact_url,
                moments: this.model.moments,
            },
        };
    },

    methods: {
        submitData() {
            return ['put', this.route('user.events.update', this.model.id), this.form];
        },
    },
};
</script>


<template>
    <layout :title="title">
        <heading
            :trail="[
                { title: 'Evenementen', route: 'user.events.index' },
                { title: model.name },
                { title },
            ]"
        />

        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-2"
                @submit.prevent="submit"
            >
                <div class="card--content">
                    <fieldset>
                        <legend>Algemene informatie</legend>

                        <text-input
                            v-model="form.name"
                            :errors="$page.errors.name"
                            label="Naam"
                            class="mb-4"
                        />

                        <textarea-input
                            v-model="form.description"
                            :errors="$page.errors.description"
                            label="Omschrijving"
                            :autosize="true"
                            class="mb-4"
                        />

                        <select-input
                            v-model="form.event_category_id"
                            label="Categorie"
                            :errors="$page.errors.event_category_id"
                        >
                            <option :value="null" />
                            <option
                                v-for="category in categories"
                                :key="category.id"
                                :value="category.id"
                            >
                                {{ category.name }}
                            </option>
                        </select-input>
                    </fieldset>

                    <fieldset>
                        <legend>Contactpersoon</legend>

                        <div class="flex -mx-4 mb-4">
                            <text-input
                                v-model="form.contact_name"
                                label="Naam"
                                :errors="$page.errors.contact_name"
                                class="px-4 w-1/2"
                            />

                            <text-input
                                v-model="form.contact_email"
                                label="Email"
                                :errors="$page.errors.contact_email"
                                class="px-4 w-1/2"
                            />
                        </div>

                        <div class="flex -mx-4 mb-4">
                            <phone-input
                                v-model="form.contact_phone"
                                :errors="$page.errors.contact_phone"
                                label="Telefoon"
                                class="px-4 w-1/2"
                            />
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Wanneer vindt dit evenement plaats?</legend>

                        <div class="flex -mx-4">
                            <date-input
                                v-model="form.moments[0].starts_at"
                                label="Start"
                                class="px-4 w-1/2"
                                :enable-time="true"
                            />
                            <date-input
                                v-model="form.moments[0].ends_at"
                                label="Einde"
                                class="px-4 w-1/2"
                                :enable-time="true"
                            />
                        </div>
                    </fieldset>
                </div>


                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </layout>
</template>
