<script>
export default {
    props: ['value'],

    computed: {
        src() {
            return this.value;
        },
    },
};
</script>

<template>
    <img
        :src="src"
    >
</template>
