<script>
export default {};
</script>

<template>
    <footer>
        <div class="copyright">
            <div>© {{ (new Date()).getFullYear() }} • Alle rechten voorbehouden</div>
            <div>
                Ontwikkeling door <a
                    href="https://www.pixeo.be"
                    target="_blank"
                    class="underline text-gray-600 hover:text-gray-800"
                >Pixeo</a>
            </div>
        </div>
    </footer>
</template>
