<script>
export default {
    props: {
        trail: Array,
    },
};
</script>

<template>
    <header class="bg-white px-8 border-b h-16 flex items-center">
        <ol class="list-reset flex mb-0 text-lg font-medium tracking-tight">
            <li
                v-for="(crumb, index) in trail"
                :key="index"
            >
                <span
                    v-if="index > 0"
                    class="text-gray-300 font-medium ml-3 mr-2"
                >/</span>
                <inertia-link
                    v-if="index !== trail.length - 1"
                    class="link"
                    :href="crumb.url"
                >
                    {{ crumb.title | truncate(50) }}
                </inertia-link>
                <template v-else>
                    <span>{{ crumb.title | truncate(50) }}</span>
                </template>
            </li>
        </ol>
    </header>
</template>
