<template>
    <button
        :disabled="loading"
        class="relative"
        :class="loading ? 'pl-10' : null"
        @click.stop="click"
    >
        <div
            v-if="loading"
            class="absolute left-0 top-0 bottom-0 w-4 flex items-center ml-4"
        >
            <div class="loader" />
        </div>

        <slot />
    </button>
</template>

<script>
export default {
    props: {
        loading: Boolean,
        click: {
            type: Function,
            default: () => {},
        },
    },
};
</script>
