.badge {
    @apply p-2;
    @apply rounded;
    @apply flex items-center inline-block;

    &&-green {
        @apply bg-green-200 text-green-800;
    }

    &&-blue {
        @apply bg-blue-200 text-blue-900;
    }

    &&-red {
        @apply bg-red-200 text-red-800;
    }

    &&-orange {
        @apply bg-orange-200 text-orange-800;
    }

    &&-gray {
        @apply bg-gray-300 text-gray-800;
    }
}
