.btn-primary,
.btn-secondary,
.btn-danger {
    @apply inline-block;
    @apply text-center;
    @apply border;
    @apply px-6 py-3 rounded text-sm font-bold whitespace-no-wrap;

    transition: background-color .1s ease-in-out,
    padding .1s ease-in-out;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-danger:disabled {
    @apply border-gray-600;
    @apply bg-gray-600 text-white;
    @apply cursor-not-allowed;

    &:hover, &:focus {
        @apply bg-gray-600 border-gray-600;
    }
}

.btn-primary {
    @apply border-purple-700;
    @apply bg-purple-700 text-white;

    &:hover, &:focus {
        @apply bg-purple-800 border-purple-800;
    }
}

.btn-secondary {
    @apply border-gray-400;
    @apply bg-transparent text-gray-500;

    &:hover,
    &:focus {
        @apply border-gray-500 text-gray-600;
    }

    &.is-danger:hover,
    &.is-danger:focus {
        @apply border-red-500 text-red-600;
    }
}

.btn-danger {
    @apply border-red-600;
    @apply bg-red-600 text-white;

    &:hover, &:focus {
        @apply bg-red-700 border-red-700;
    }
}

.btn-sm {
    @apply px-4 py-2;
}
