.card {
    @apply bg-white rounded shadow;

    & .card--header {
        @apply px-8 pt-4 flex;
    }

    & .card--header__title {
        @apply text-lg font-medium leading-normal;
        @apply flex flex-1 items-center;
    }

    & .card--content {
        @apply px-8 py-4;
    }

    &.is-loading {
        @apply relative;

        &:before {
            @apply loader;
            @apply absolute z-20;

            top: calc(50% - .5rem);
            left: calc(50% - .5rem);
        }

        &:after {
            content: "";

            @apply absolute inset-0 rounded z-10;
            background: theme('colors.gray.transparent');
        }
    }
}
