.vue-dialog div {
    box-sizing: border-box;
}
.vue-dialog .dialog-flex {
    @apply w-full h-full;
}

.vue-dialog .dialog-content {
    @apply p-6;
}

.vue-dialog .dialog-c-title {
    @apply pb-8 pt-2;
    @apply text-xl font-medium;
}

.vue-dialog .dialog-c-text {
    @apply break-all leading-normal;
}

.vue-dialog .vue-dialog-buttons {
    @apply w-full text-right rounded-b;
    @apply bg-gray-200 border-t;
    @apply p-4;

    & > button:not(:first-child) {
        @apply ml-4;
    }
}

.vue-dialog .vue-dialog-buttons-none {
}

.vue-dialog-button {
    @apply btn-primary;
}

.vue-dialog-button:hover {
}

.vue-dialog-button:active {
}

.vue-dialog-button:not(:first-of-type) {
}

.v--modal-block-scroll {
    overflow: hidden;
    width: 100vw;
}

.v--modal-overlay {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(44, 82, 130, 0.9);
    z-index: 999;
    opacity: 1;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.v--modal-overlay.scrollable {
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.v--modal-overlay .v--modal-background-click {
    width: 100%;
    min-height: 100%;
    height: auto;
}
.v--modal-overlay .v--modal-box {
    position: relative;
    box-sizing: border-box;
}
.v--modal-overlay.scrollable .v--modal-box {
    margin-bottom: 2px;
}
.v--modal {
    @apply shadow-lg bg-white;
    text-align: left;
    border-radius: 3px;
    padding: 0;
}
.v--modal.v--modal-fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    left: 0;
    top: 0;
}
.v--modal-top-right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.overlay-fade-enter-active,
.overlay-fade-leave-active {
    transition: all 0.2s;
}
.overlay-fade-enter,
.overlay-fade-leave-active {
    opacity: 0;
}
.nice-modal-fade-enter-active,
.nice-modal-fade-leave-active {
    transition: all 0.4s;
}
.nice-modal-fade-enter,
.nice-modal-fade-leave-active {
    opacity: 0;
    transform: translateY(-20px);
}
