.is-divider {
    @apply block relative border-t py-2 text-center;
    height: .1rem;

    &[data-content]::after {
        @apply bg-white text-gray-500 inline-block py-2 px-4;
        content: attr(data-content);

        -webkit-transform: translateY(-1.5rem);
        -ms-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem);
        text-align: center;
    }
}
