.form-label {
    @apply mb-2 block text-gray-700 select-none font-medium;
    @apply leading-normal;
}

.form-error {
    @apply text-red-500 mt-2 text-sm;
}

.form-help {
    @apply text-gray-600 mt-2 text-sm;
}

.form-input.error,
.form-textarea.error,
.form-select.error {
    @apply .border-red-400;

    &:focus {
        box-shadow: 0 0 0 1px theme('colors.red.100');
    }
}

input[type=color] {
    @apply h-12;
}

.vue-tel-input.form-input {
    @apply form-input;

    & .vti__dropdown {
        padding: 0;
    }
}

.form-input-prefix {
    @apply p-2 px-4 leading-normal block border border-gray-400 text-gray-700 bg-gray-100 relative;
    @apply border-r-0;
    @apply rounded-l
}

.form-input-suffix {
    @apply p-2 px-4 leading-normal block border border-gray-400 text-gray-700 bg-gray-100 relative;
    @apply border-l-0;
    @apply rounded-r
}

.has-prefix > .form-input,
.form-input-prefix + .form-input + .form-input { /* flatpickr hack */
    @apply rounded-l-none rounded-r;
}

.has-suffix > .form-input {
    @apply rounded-r-none;
}

.form-input[disabled] {
    @apply bg-gray-100 cursor-not-allowed;
}

/* PHONE INPUT */
.vue-tel-input {
    @apply relative;

    border-color: theme('colors.gray.300') !important;
    border-width: 1px !important;
    border-radius: 0.25rem !important;
    padding: 0 !important;
    line-height: 1.5;

    &:focus-within {
        outline: none !important;
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important;
        border-color: theme('colors.blue.400') !important;
    }

    & .vti__dropdown {
        position: initial !important;

        & .vti__dropdown-list {
            @apply bg-gray-800 p-2 rounded shadow z-50 border-none;

            width: 100% !important;
            top: calc(100% + 1px);

            & .vti__dropdown-item {
                @apply p-4 cursor-pointer text-gray-100 rounded font-normal truncate;

                &:hover {
                    @apply bg-gray-700;
                }

                &.highlighted {
                    @apply bg-blue-500;
                }
            }
        }
    }
}

.vti__input {
  padding-top: 0.5rem !important;
  padding-right: 0.75rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.75rem !important;
}
