/*--------------------------
 Common elements
 ---------------------------*/
p {
    @apply leading-normal mb-2;
}

h1 {
    @apply text-2xl mb-4;
}

h2 {
    @apply text-xl mb-4;
}

fieldset {
    @apply mb-8;

    & legend {
        @apply uppercase text-sm text-gray-500 mb-4 font-bold border-b pb-2 tracking-wide w-full;
    }
}

button:disabled {
    @apply cursor-not-allowed;
}

#content footer .copyright {
    @apply text-right;
}


.link {
    @apply text-blue-600 underline;

    &:hover {
        @apply text-blue-700;
    }
}

.nl2br {
    //white-space: pre;
    white-space: pre-wrap;
}

.steps {
    & &-step:not(:last-child) .steps-step-counter:after {
        @apply block bg-gray-500 h-full absolute top-0 bottom-0;
        width: 2px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        content: "";
        @apply z-0;
    }

    & &-step {
        @apply flex;

        &.active {
            & .steps-step-counter .steps-step-counter-content,
            & .steps-step-counter:after {
                @apply bg-purple-800;
            }
        }

        &-counter {
            @apply relative;

            &-content {
                @apply bg-gray-500 rounded-full block w-10 h-10;
                @apply flex items-center justify-center;
                @apply text-white text-lg font-bold;
                @apply relative z-10;
            }
        }

        &-content {
            @apply ml-4 mb-8 flex-1;

            & .steps-step-content-title {
                @apply text-xl my-2;
                font-weight: 600;
            }
        }
    }
}

.ck-editor__editable_inline {
    min-height: 300px;
}
