.row {
    @apply flex flex-wrap -mx-2;
}

.col-auto {
    @apply px-2 w-full;

    @screen sm {
        @apply w-auto;
    }
}

.col-1 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-1/12;
    }
}

.col-2 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-2/12;
    }
}

.col-3 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-3/12;
    }
}

.col-4 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-4/12;
    }
}

.col-5 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-5/12;
    }
}

.col-6 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-6/12;
    }
}

.col-7 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-7/12;
    }
}

.col-8 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-8/12;
    }
}

.col-9 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-9/12;
    }
}

.col-10 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-10/12;
    }
}


.col-10 {
    @apply px-2 w-full;

    @screen sm {
        @apply w-11/12;
    }
}

.col-12 {
    @apply px-2 w-full;
}
