.loader {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;

    @apply w-4 h-4 rounded-full;

    border: .2em solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    text-indent: 100%;
    overflow: hidden;
}

.loader.loader-blue {
    border: .2em solid theme('colors.blue.500');
    border-right-color: transparent;
    border-top-color: transparent;
}

.ph-item {
    @apply relative bg-gray-400 overflow-hidden rounded;
}

.ph-item,
.ph-item *,
.ph-item ::after,
.ph-item ::before {
    box-sizing: border-box;
}

.ph-item::before {
    content: " ";

    @apply absolute inset-0 z-10;

    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation 0.8s linear infinite;
    animation: phAnimation 0.8s linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}


@keyframes spinAround {
    0% {
        animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}
