.progress {

    &&--circle {
        transform: rotate(-90deg);
    }

    & &__meter,
    & &__value {
        fill: none;
    }

    & &__meter {
        stroke: theme('colors.gray.200');
    }

    & &__value {
        stroke: theme('colors.green.500');
        stroke-linecap: round;
    }
}



