html {
    font-size: 15px;
}

body {
    @apply h-full w-full;
}

--ck-color-base-border: theme('colors.gray.200');

a {
    color: inherit;
    text-decoration: none;
}

input, select, textarea, button, div, a {
    &:focus, &:active {
        outline: none;
    }
}

[type="button"] {
  -webkit-appearance: initial;
}
