.dataSummary {
    & > .summaryRow:not(:last-child) {
        @apply border-b;

        /*&:not(:last-child) {
        //    @apply border-none;
        //}*/
    }

    & .summaryItem {
        @apply flex items-baseline justify-between py-4;

        & .itemLabel {
            @apply uppercase text-xs font-bold text-gray-500 mr-4;
        }
    }

    & .summaryList .listItem:not(:last-child) {
        @apply border-b border-gray-200;
    }
}

