.table {
    @apply w-full whitespace-no-wrap;

    & tr {
        & th {
            @apply p-4 border-t;
        }

        & td {
            @apply px-4 py-3 border-t;
        }

        & th {
            @apply text-left;
        }
    }
}
