.tabs-component {
    & .tabs-component-tabs {
        @apply flex;
        @apply border-b-2 border-gray-300;
        @apply mb-4;

        & .tabs-component-tab {
            @apply mr-6;
            @apply inline-block;

            & .tabs-component-tab-a {
                @apply block;
                @apply py-4;
                @apply border-b-2 border-transparent;
                @apply text-gray-700;

                margin-bottom: -2px;
            }

            &.is-active .tabs-component-tab-a {
                @apply border-b-2 border-purple-600;
            }
        }
    }
}
