<script>
import Layout from '../../Layouts/Layout.vue';

export default {
    metaInfo: { title: 'Dashboard' },

    layout: (h, page) => h(Layout, [page]),
};
</script>

<template>
    <div>
        <!-- @TODO: Fill with some data -->
    </div>
</template>
