<script>

export default {

    props: ['text', 'icon', 'type'],

    computed: {
        className() {
            if (this.type === 'success') {
                return 'bg-green-200 text-green-800 border border-green-300';
            }

            if (this.type === 'error') {
                return 'bg-red-200 text-red-800 border border-red-300';
            }

            return 'bg-blue-200 text-blue-800 border border-blue-300';
        },
    },
};
</script>

<template>
    <div>
        <div
            class="flex items-center justify-between rounded w-full"
            :class="className"
        >
            <div class="p-4 text-sm leading-normal font-medium flex items-center">
                <i
                    v-if="icon"
                    class="mr-2 text-lg"
                    :class="icon"
                />
                <span v-if="text">{{ text }}</span>
                <slot v-else />
            </div>
        </div>
    </div>
</template>
