<script>
import Alert from './Alert.vue';

export default {
    components: { Alert },

    props: {
        alertClass: String,
    },

    data() {
        return {
            show: true,
        };
    },
    watch: {
        '$page.flash': {
            handler() {
                this.show = true;
            },
            deep: true,
        },
    },
};
</script>

<template>
    <div>
        <alert
            v-if="$page.flash.success && show"
            :class="alertClass"
            type="success"
            icon="far fa-check-circle"
            :text="$page.flash.success"
        />

        <alert
            v-if="Object.keys($page.errors).length > 0 && show"
            :class="alertClass"
            type="error"
            icon="far fa-exclamation-circle"
        >
            <template>
                <template v-if="Object.keys($page.errors).length === 1">
                    Er is één fout in het formulier.
                </template>
                <template v-else>
                    Er zijn {{ Object.keys($page.errors).length }} fouten in het formulier.
                </template>
            </template>
        </alert>
    </div>
</template>
