<script>
export default {
    props: {
        title: {
            type: String,
            default: 'Er is hier niets...',
        },
    },
};
</script>

<template>
    <div
        class="max-w-lg mx-auto text-gray-500 text-center"
    >
        <div>
            <img src="/img/illustrations/clip-list-is-empty.png">
        </div>
        <div class="font-medium">
            {{ title }}
        </div>
    </div>
</template>
