<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import TextareaInput from '../../../Shared/DataEntry/TextareaInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        LoadingButton,
        TextInput,
        TextareaInput,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            form: {
                name: null,
                reference: null,
                value: null,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('root.helpItems.store'), this.form];
        },
    },
});
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="row">
                        <text-input
                            v-model="form.name"
                            :errors="$page.errors.name"
                            class="col-6 mb-4"
                            label="Naam"
                        />
                        <text-input
                            v-model="form.reference"
                            :errors="$page.errors.reference"
                            class="col-6 mb-4"
                            label="Referentie"
                        />
                    </div>

                    <textarea-input
                        v-model="form.value"
                        :errors="$page.errors.value"
                        class="mb-4"
                        label="Intro"
                        :rte="true"
                    />
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
