<script>
import Create from './Create.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    mixins: [Create],

    props: {
        model: Object,
    },

    data() {
        return {
            sending: false,

            title: 'Hulpitem bewerken',

            form: {
                name: this.model.name,
                reference: this.model.reference,
                value: this.model.value,
            },
        };
    },

    methods: {
        submitData() {
            return ['put', this.route('root.helpItems.update', this.model.id), this.form];
        },
    },
});
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="row">
                        <text-input
                            v-model="form.name"
                            :errors="$page.errors.name"
                            class="col-6 mb-4"
                            label="Naam"
                        />
                    </div>

                    <textarea-input
                        v-model="form.value"
                        :errors="$page.errors.value"
                        class="mb-4"
                        label="Intro"
                        :rte="true"
                    />
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
