<script>
import SelectInput from '../SelectInput.vue';

export default {
    components: { SelectInput },

    props: {
        value: Object,
        questions: Array,
    },

    data() {
        return {
            form: {
                target_question_id: this.value.target_question_id,
                operator: this.value.operator || 'equals',
                question_answer_id: this.value.question_answer_id,
            },
        };
    },

    computed: {
        answers() {
            const question = this.questions.find(({ id }) => id === this.form.target_question_id);

            return !question ? [] : question.answers;
        },
    },

    watch: {
        form: {
            handler(value) {
                this.$emit('input', value);
            },
            deep: true,
        },

        value: {
            handler(value) {
                this.form = value;
            },
            deep: true,
        },
    },

};
</script>

<template>
    <div>
        <div class="row">
            <select-input
                v-model="form.target_question_id"
                class="col-5"
            >
                <option
                    v-for="question in questions"
                    :key="question.id"
                    :value="question.id"
                >
                    {{ question.name }}
                </option>
            </select-input>
            <select-input
                v-model="form.operator"
                class="col-2"
            >
                <option value="equals">
                    is
                </option>
                <option value="notEqual">
                    is niet
                </option>
            </select-input>
            <select-input
                v-model="form.question_answer_id"
                class="col-5"
            >
                <option
                    v-for="answer in answers"
                    :key="answer.id"
                    :value="answer.id"
                >
                    {{ answer.value }}
                </option>
            </select-input>
        </div>
    </div>
</template>
