<script>

import QuestionRule from './QuestionRule.vue';

export default {
    components: { QuestionRule },

    props: {
        value: {
            type: Array,
            default: () => [],
        },
        questions: Array,
    },

    data() {
        return {
            rules: this.value,
        };
    },

    watch: {
        value: {
            handler(value) {
                this.rules = value;
            },
            deep: true,
        },
    },

    methods: {
        add() {
            this.rules.push({
                target_question_id: null,
                operator: 'equals',
                question_answer_id: null,
            });
        },

        remove(index) {
            this.rules.splice(index, 1);
            this.$emit('input', this.rules);
        },
    },
};
</script>

<template>
    <div>
        <div
            v-for="(rule, index) in rules"
            :key="index"
            class="mb-4 bg-gray-100 border-gray-300 border p-4 rounded"
        >
            <div class="row">
                <question-rule
                    v-model="rules[index]"
                    class="col-auto flex-grow"
                    :questions="questions"
                />

                <div class="col-auto flex justify-end">
                    <button
                        type="button"
                        class="btn-secondary"
                        @click="remove(index)"
                    >
                        <i class="fal fa-trash-alt" />
                    </button>
                </div>
            </div>
        </div>

        <div
            v-if="rules.length === 0"
            class="mb-4 bg-gray-100 border-gray-300 border text-gray-600 p-4 rounded"
        >
            Geen actieve filters
        </div>

        <button
            type="button"
            class="btn-secondary"
            @click="add"
        >
            Toevoegen
        </button>
    </div>
</template>
