<script>
// import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import { Tabs, Tab } from '../../../Shared/DataDisplay/Tabs';
import TextareaInput from '../../../Shared/DataEntry/TextareaInput.vue';
import FileInput from '../../../Shared/DataEntry/FileInput/FileInput.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import PhoneInput from '../../../Shared/DataEntry/PhoneInput.vue';
import LocationInput from '../../../Shared/DataEntry/LocationInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        PhoneInput,
        LocationInput,
        SelectInput,
        LoadingButton,
        TextInput,
        FileInput,
        Tabs,
        Tab,
        TextareaInput,
    },

    remember: 'form',

    props: {
        roles: Array,
    },

    data() {
        return {
            showInfoBox: true,

            sending: false,

            form: {
                name: null,
                street: null,
                number: null,
                box: null,
                postcode: null,
                city: null,
                country_id: null,
                email: null,
                phone: null,
                website: null,
                intro: null,
                footer: null,
                privacy_link: null,
                disclaimer_link: null,
                logo_heading: null,
                logo: null,
                postmark_sender_signature_id: null,
            },
        };
    },

    asyncComputed: {
        async senders() {
            const { data } = await this.$http.get(this.route('api.postmark.index'));

            return data;
        },

        async detail() {
            if (!this.form.postmark_sender_signature_id) {
                return null;
            }

            const { data } = await this.$http.get(this.route('api.postmark.show', this.form.postmark_sender_signature_id));

            return data;
        },
    },

    methods: {
        submitData() {
            return ['post', this.route('root.cities.store'), this.form];
        },

        updateAddress({
            // eslint-disable-next-line camelcase
            country_id, city, postcode, street, number, box,
        }) {
            this.$set(this.form, 'country_id', country_id);
            this.$set(this.form, 'city', city);
            this.$set(this.form, 'postcode', postcode);
            this.$set(this.form, 'street', street);
            this.$set(this.form, 'number', number);
            this.$set(this.form, 'box', box);
        },
    },
});
</script>

<template>
    <div>
        <div class="max-w-4xl">
            <form
                @submit.prevent="submit"
            >
                <tabs
                    :options="{
                        'panelClass': 'card pt-8'
                    }"
                >
                    <tab name="Velden">
                        <div class="px-8 mb-8">
                            <div class="row">
                                <text-input
                                    v-model="form.name"
                                    :errors="$page.errors.name"
                                    class="col-6"
                                    label="Naam"
                                />
                            </div>
                        </div>

                        <hr>

                        <div class="p-8 mb-8">
                            <location-input
                                :value="form"
                                @input="updateAddress"
                            />
                            <div class="row">
                                <phone-input
                                    v-model="form.phone"
                                    :errors="$page.errors.phone"
                                    class="col-4 mb-4"
                                    label="Telefoon"
                                />

                                <text-input
                                    v-model="form.website"
                                    :errors="$page.errors.website"
                                    class="col-4 mb-4"
                                    label="Website"
                                />
                                <text-input
                                    v-model="form.email"
                                    type="email"
                                    :errors="$page.errors.email"
                                    class="col-4 mb-4"
                                    label="E-mail"
                                />
                            </div>
                        </div>
                    </tab>
                    <tab name="Layout">
                        <div class="px-8 mb-8">
                            <div class="row">
                                <file-input
                                    v-model="form.logo"
                                    class="col-6 mb-4"
                                    type="file"
                                    accept="image/*"
                                    label="Logo"
                                    :limit="1"
                                />

                                <file-input
                                    v-model="form.logo_heading"
                                    class="col-6 mb-4"
                                    type="file"
                                    accept="image/*"
                                    label="Logo hoofding"
                                    :limit="1"
                                />

                                <file-input
                                    v-model="form.bg_intro"
                                    class="col-6 mb-4"
                                    type="file"
                                    accept="image/*"
                                    label="Achtergrond intro"
                                    :limit="1"
                                />

                                <text-input
                                    v-model="form.color"
                                    type="color"
                                    :errors="$page.errors.color"
                                    class="col-4 mb-4"
                                    label="Primaire kleur"
                                />
                            </div>
                        </div>
                    </tab>
                    <tab name="Login">
                        <div class="px-8 mb-8">
                            <textarea-input
                                v-model="form.intro"
                                class="mb-4"
                                label="Intro"
                                help="Deze tekst wordt op de aanmeldpagina getoond."
                            />
                            <textarea-input
                                v-model="form.footer"
                                class="mb-4"
                                label="Voetnoot"
                                help="Deze tekst wordt in de voetnoot van de aanmeldpagina getoond."
                            />
                        </div>
                    </tab>
                    <tab name="Juridisch">
                        <div class="px-8 mb-8">
                            <text-input
                                v-model="form.privacy_link"
                                class="mb-4"
                                label="Privacy"
                                help="Link naar het privacydocument. vb: http://www.uwgemeente.be/mijn-privacy"
                            />
                            <text-input
                                v-model="form.disclaimer_link"
                                class="mb-4"
                                label="Disclaimer"
                                help="Link naar de disclaimer. vb: http://www.uwgemeente.be/mijn-disclaimer"
                            />
                        </div>
                    </tab>
                    <tab name="E-mail">
                        <!-- Email stuff ? -->
                        <div class="px-8 mb-8">
                            <div class="flex -mx-2">
                                <select-input
                                    v-if="$asyncComputed.senders.updating === false && $asyncComputed.senders !== null"
                                    v-model="form.postmark_sender_signature_id"
                                    :errors="$page.errors.postmark_sender_signature_id"
                                    class="pr-6 pb-8 w-full lg:w-1/2"
                                    label="Sender Signature"
                                    help="Selecteer een sender signature. Dit e-mailadres wordt dan gebruikt als afzender voor de gemeente."
                                >
                                    <option :value="null" />
                                    <optgroup
                                        v-for="group in Object.keys(senders)"
                                        :key="group"
                                        :label="group"
                                    >
                                        <option
                                            v-for="sender in senders[group]"
                                            :key="sender.id"
                                            :value="sender.id"
                                        >
                                            {{ sender.email }}
                                        </option>
                                    </optgroup>
                                </select-input>
                                <div
                                    v-if="$asyncComputed.detail.updating"
                                    class="btn-spinner border-blue-600"
                                >
                                    Informatie laden...
                                </div>
                                <template v-else-if="detail !== null">
                                    <div
                                        v-for="(label, key) in {'confirmed': 'Bevestigd', 'dkimverified': 'DKIM Verified'}"
                                        :key="key"
                                        class="inline-flex items-center font-bold mr-4"
                                        :class="{
                                            'text-red-600': !detail[key],
                                            'text-green-600': detail[key],
                                        }"
                                    >
                                        <i
                                            v-if="detail[key]"
                                            class="fas fa-check-circle text-green-600"
                                        />
                                        <i
                                            v-else
                                            class="far fa-times-circle text-red-600"
                                        />
                                        <span class="ml-1">{{ label }}</span>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </tab>

                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                        <loading-button
                            :loading="sending"
                            class="btn-primary"
                            type="submit"
                        >
                            Bewaren
                        </loading-button>
                    </div>
                </tabs>
            </form>
        </div>
    </div>
</template>
