<script>
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import Overview from '../../../Shared/Mixins/Overview';
import Page from '../../../Shared/Mixins/Page';
import SearchFilter from '../../../Shared/DataDisplay/SearchFilter.vue';

export default Page({
    components: { BaseTable, SearchFilter },

    mixins: [Overview('root.cities.index', {
        // eslint-disable-next-line object-shorthand,func-names
        edit: function ({ id }) {
            this.$inertia.visit(this.route('root.cities.edit', id));
        },
        // eslint-disable-next-line object-shorthand,func-names
        delete: function ({ id }) {
            this.confirmDelete(
                'Gemeente verwijderen',
                'Ben je zeker dat je deze gemeente wil verwijderen?',
                this.route('root.cities.destroy', id),
            );
        },
    })],
});
</script>

<template>
    <div>
        <div>
            <div class="mb-6 flex justify-between items-center">
                <search-filter
                    v-model="form"
                    class="w-full max-w-sm mr-4"
                    @reset="reset"
                />

                <inertia-link
                    class="btn-primary ml-auto"
                    :href="route('root.cities.create')"
                >
                    Toevoegen
                </inertia-link>
            </div>

            <base-table
                :value="models"
                :actions="tableActions"
                :columns="[ { title: 'Naam', id: 'name', sortable: true } ]"
                :default-sort="{ id: form.order_by, order: form.order_by_dir }"
                table-class="card overflow-x-auto"
                @sort="setOrdering"
                @action="handleAction"
            >
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td>
                        <inertia-link
                            class="link"
                            :href="route('root.cities.edit', entry.id)"
                        >
                            {{ entry.name }}
                        </inertia-link>
                    </td>
                </template>
            </base-table>
        </div>
    </div>
</template>
