<script>
import get from 'lodash/get';
import has from 'lodash/has';

export default {
    props: {
        value: Object,
    },

    methods: {
        getFieldData(id, defaultValue = null) {
            return get(this.value.data, id, defaultValue);
        },

        hasFieldData(id) {
            return has(this.value.data, id);
        },
    },
};
</script>

<template>
    <dl>
        <div
            v-for="field in value.fields"
            :key="field._cuid"
            class="row flex py-5 border-b last:border-b-0"
        >
            <dd class="leading-normal font-medium text-gray-600 col-4">
                {{ field.title }}
            </dd>
            <dt class="col-8 leading-normal text-gray-800">
                <template v-if="field.type === 'text'">
                    <div
                        v-if="field.type === 'text'"
                        v-html="field.content"
                    />
                    <template v-else-if="field.type === 'download'">
                        <div v-html="field.content" />
                        <attachment-list
                            :attachments="field.files"
                            :deleteable="false"
                        />
                    </template>
                </template>
                <template v-else-if="hasFieldData(field._cuid)">
                    <div v-if="field.type === 'latlng'">
                        <div>{{ getFieldData(field._cuid).street }} {{ getFieldData(field._cuid).number }}<span v-if="getFieldData(field._cuid).box"> / {{ getFieldData(field._cuid).box }}</span></div>
                        <div>{{ getFieldData(field._cuid).postcode }} {{ getFieldData(field._cuid).city }} {{ getFieldData(field._cuid).country_id }}</div>
                    </div>
                    <div v-else-if="field.type === 'date'">
                        <div
                            v-if="field.can_repeat"
                            class="-mb-2"
                        >
                            <div
                                v-for="(data, index) in getFieldData(field._cuid)"
                                :key="index"
                                class="mb-2"
                            >
                                {{ data | date('d MMMM yyyy') }}
                            </div>
                        </div>
                        <template v-else>
                            {{ getFieldData(field._cuid) | date('d MMMM yyyy') }}
                        </template>
                    </div>
                    <template v-else-if="field.type === 'datetime'">
                        <div
                            v-if="field.can_repeat"
                            class="-mb-2"
                        >
                            <div
                                v-for="(data, index) in getFieldData(field._cuid)"
                                :key="index"
                                class="mb-2"
                            >
                                <div>{{ data | date('d MMMM yyyy') }}</div>
                                <div class="text-gray-600">
                                    {{ data | date('HH:mm') }}
                                </div>
                            </div>
                        </div>
                        <template v-else>
                            <div>{{ getFieldData(field._cuid) | date('d MMMM yyyy') }}</div>
                            <div class="text-gray-600">
                                {{ getFieldData(field._cuid) | date('HH:mm') }}
                            </div>
                        </template>
                    </template>
                    <template v-else-if="field.type === 'boolean'">
                        <i
                            class="fas fa-check"
                            :class="getFieldData(field._cuid, false) ? 'fa-check' : 'fa-times'"
                        />
                    </template>
                    <div
                        v-else-if="field.type === 'checkbox'"
                        class="border rounded"
                    >
                        <div
                            v-for="(item, index) in getFieldData(field._cuid, [])"
                            :key="index"
                            class="border-b last:border-b-0 pl-3 pr-4 py-3 flex items-center justify-between"
                        >
                            {{ item }}
                        </div>
                    </div>
                    <!-- eslint-disable -->
                    <p
                            v-else-if="field.type === 'textarea'"
                            class="nl2br"
                    >{{ getFieldData(field._cuid) }}</p>
                    <!-- eslint-enable -->
                    <template v-else-if="field.type === 'file'">
                        <attachment-list
                            :attachments="getFieldData(field._cuid, [])"
                            :deleteable="false"
                        />
                    </template>
                    <template v-else>
                        <div
                            v-if="field.can_repeat"
                            class="-mb-2"
                        >
                            <div
                                v-for="(data, index) in getFieldData(field._cuid)"
                                :key="index"
                                class="mb-2"
                            >
                                {{ data }}
                            </div>
                        </div>
                        <template v-else>
                            {{ getFieldData(field._cuid, '—') }}
                        </template>
                    </template>
                </template>
                <template v-else>
                    <div
                        v-if="field.can_repeat"
                        class="-mb-2"
                    >
                        <div
                            v-for="(data, index) in getFieldData(field._cuid)"
                            :key="index"
                        >
                            {{ data }}
                        </div>
                    </div>
                    <template v-else>
                        {{ getFieldData(field._cuid, '—') }}
                    </template>
                </template>
            </dt>
        </div>
    </dl>
</template>
