<script>
import get from 'lodash/get';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import Page from '../../../Shared/Mixins/Page';
import FormField from '../../../Shared/DataEntry/FormBuilder/FormField.vue';

export default Page({
    components: { LoadingButton, FormField },

    remember: 'form',

    props: {
        model: Object,
    },

    data() {
        return {
            sending: false,

            form: this.model.data || {},
        };
    },

    methods: {
        submitData() {
            return [
                'put',
                this.route('forms.update', { id: this.model.id, moduleItemId: this.model.module_item_id }),
                this.form,
            ];
        },

        updateField(id, value) {
            this.$set(this.form, id, value);
        },

        getFieldValue(id) {
            return get(this.form, id, null);
        },
    },
});
</script>

<template>
    <div>
        <div class="card max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <!-- FORM HERE -->
                    <div
                        v-for="field in model.fields"
                        :key="field._cuid"
                        class="mb-6"
                    >
                        <form-field
                            :value="getFieldValue(field._cuid)"
                            :field="field"
                            :errors="$page.errors[field._cuid]"
                            @input="updateField(field._cuid, $event)"
                        />
                    </div>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center justify-between">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
