<script>
import Page from '../../../Shared/Mixins/Page';
import AttachmentList from '../../../Shared/DataEntry/FileInput/AttachmentList.vue';
import ItemStatus from '../../../Shared/DataDisplay/ItemStatus/ItemStatus.vue';
import { Tabs, Tab } from '../../../Shared/DataDisplay/Tabs';
import WorkflowItemGroupList from '../../../Shared/DataDisplay/WorkflowItems/WorkflowItemGroupList.vue';
import Dropdown from '../../../Shared/DataDisplay/Dropdown.vue';
import ChangeFormStatus from '../../../Shared/Mixins/ChangeFormStatus';
import FormDataList from '../../../Shared/DataDisplay/Forms/FormDataList.vue';

export default Page({
    mixins: [ChangeFormStatus],

    components: {
        Tabs,
        Tab,
        WorkflowItemGroupList,
        AttachmentList,
        ItemStatus,
        Dropdown,
        FormDataList,
    },

    props: {
        model: Object,
    },
});
</script>

<template>
    <div>
        <div class="card mb-4 px-8 py-4 flex items-center justify-between">
            <div class="font-medium text-lg">
                {{ model.name }}
            </div>

            <div class="flex items-center">
                <item-status
                    class="mr-4"
                    :value="model.status"
                    type="FORM"
                />
            </div>
        </div>
        <div class="card p-8">
            <form-data-list :value="model" />
        </div>
    </div>
</template>
