<script>
/* eslint-disable no-restricted-globals */
import Dropdown from '../DataDisplay/Dropdown.vue';

export default {
    components: { Dropdown },

    methods: {
        getChildren(item) {
            if (item.module_id && item.children) {
                return Object.values(item.children).filter(({ shortcut }) => shortcut);
            }

            return item.children;
        },

        isUrl(...urls) {
            if (urls[0].toString() === '') {
                return location.pathname.substr(1) === '';
            }

            return urls.filter((url) => {
                const path = url.toString().replace(location.origin, '').substr(1);

                return location.pathname.substr(1).startsWith(path);
            }).length;
        },

        deleteModule(id) {
            this.confirmDelete(
                'Module verwijderen',
                'Ben je zeker dat je deze dossierstroom wil verwijderen?',
                this.route('admin.modules.destroy', id),
            );
        },
    },
};
</script>

<template>
    <ul>
        <li
            v-for="(item, key) in $page.menu.menu"
            :key="key"
            class="mb-10"
        >
            <template
                v-if="item.children"
            >
                <div class="flex items-center justify-between py-2 px-4 leading-none">
                    <div class="uppercase text-xs tracking-widest font-bold text-gray-500 truncate">
                        {{ item.title }}
                    </div>

                    <div
                        v-if="item.module_id"
                        class="ml-2 flex"
                    >
                        <dropdown
                            class="btn btn-sm ml-2 rounded-full p-1 bg-transparent hover:bg-purple-700 focus:bg-purple-700 text-gray-600 inline-flex items-center"
                            placement="bottom-start"
                        >
                            <div class="flex items-baseline">
                                <i
                                    class="far fa-ellipsis-h"
                                />
                            </div>
                            <div
                                slot="dropdown"
                                class="mt-2 py-2 shadow-lg bg-white rounded text-left"
                            >
                                <inertia-link
                                    v-for="(child, childKey) in item.children"
                                    :key="childKey"
                                    class="flex items-center group cursor-pointer w-full px-6 py-3 text-gray-700 hover:bg-gray-200 text-left"
                                    :href="route(child.route, child.params)"
                                >
                                    <i
                                        class="text-xl fa-fw"
                                        :class="[child.icon]"
                                    />

                                    <span class="ml-4">
                                        {{ child.title }}
                                    </span>
                                </inertia-link>

                                <hr class="mt-2 mb-2">

                                <inertia-link
                                    class="flex items-center group cursor-pointer w-full px-6 py-3 text-gray-700 hover:bg-gray-200 text-left"
                                    :href="route('admin.modules.edit', { id: item.module_id })"
                                >
                                    <i class="far fa-edit" />
                                    <span class="ml-4">
                                        Bewerken
                                    </span>
                                </inertia-link>
                                <button
                                    class="flex items-center group cursor-pointer w-full px-6 py-3 text-gray-700 hover:bg-red-200 hover:text-red-600 text-left"
                                    @click="deleteModule(item.module_id)"
                                >
                                    <i class="fal fa-trash-alt" />
                                    <span class="ml-4">
                                        Verwijderen
                                    </span>
                                </button>
                            </div>
                        </dropdown>
                    </div>
                </div>

                <ul>
                    <li
                        v-for="(child, childKey) in getChildren(item)"
                        :key="childKey"
                    >
                        <inertia-link
                            class="flex items-center group py-2 px-4 mb-1 hover:text-white"
                            :href="route(child.route, child.params)"
                            :class="isUrl(route(child.route, child.params)) ? 'text-white' : 'text-gray-600'"
                        >
                            <i
                                class="group-hover:text-white text-xl fa-fw"
                                :class="[child.icon, isUrl(route(child.route, child.params)) ? 'text-green-500' : 'text-gray-500']"
                            />

                            <span class="ml-3">
                                {{ child.title }}
                            </span>
                        </inertia-link>
                    </li>
                </ul>
            </template>

            <inertia-link
                v-else
                class="flex items-center group py-2 px-4 mb-1 hover:text-white"
                :class="isUrl(route(item.route, item.params)) ? 'text-white' : 'text-gray-600'"
                :href="route(item.route, item.params)"
            >
                <i
                    class="group-hover:text-white text-xl fa-fw"
                    :class="[item.icon, isUrl(route(item.route, item.params)) ? 'text-green-500' : 'text-gray-500']"
                />

                <span class="ml-4">
                    {{ item.title }}
                </span>
            </inertia-link>
        </li>
    </ul>
</template>
