<template>
    <div class="mt-6 -mb-1 flex flex-wrap">
        <template v-for="(link, key) in links">
            <div
                v-if="link.url === null"
                :key="key"
                class="mr-1 mb-1 btn-secondary"
                :class="{ 'ml-auto': link.label === 'Volgende' }"
            >
                {{ link.label }}
            </div>
            <inertia-link
                v-else
                :key="key"
                class="mr-1 mb-1 btn-secondary"
                :class="{ 'bg-white': link.active, 'ml-auto': link.label === 'Volgende' }"
                :href="link.url"
            >
                {{ link.label }}
            </inertia-link>
        </template>
    </div>
</template>

<script>
export default {
    props: {
        links: Array,
    },
};
</script>
