<script>
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import Heading from '../../../Shared/General/Heading.vue';

export default {
    components: {
        Layout,
        LoadingButton,
        TextInput,
        SelectInput,
        Heading,
    },

    props: {
        categories: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Locatie toevoegen',

            form: {
                name: null,
                street: null,
                number: null,
                box: null,
                postcode: null,
                city: null,
                country: 'België',
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.locations.store'), this.form];
        },
    },
};
</script>

<template>
    <layout :title="title">
        <heading
            :trail="[
                { title: 'Locatie', route: 'admin.locations.index' },
                { title },
            ]"
        />

        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <text-input
                        v-model="form.name"
                        :errors="$page.errors.name"
                        label="Naam"
                        autofocus
                        class="mb-4"
                    />

                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.street"
                            :errors="$page.errors.street"
                            label="Straat"
                            class="px-2 w-2/4"
                        />
                        <text-input
                            v-model="form.number"
                            :errors="$page.errors.number"
                            label="Nummer"
                            class="px-2 w-1/4"
                        />
                        <text-input
                            v-model="form.box"
                            :errors="$page.errors.box"
                            label="Bus"
                            class="px-2 w-1/4"
                        />
                    </div>

                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.postcode"
                            :errors="$page.errors.postcode"
                            label="Postcode"
                            class="px-2 w-1/4"
                        />
                        <text-input
                            v-model="form.city"
                            :errors="$page.errors.city"
                            label="Plaats"
                            class="px-2 w-2/4"
                        />
                        <select-input
                            v-model="form.country"
                            :errors="$page.errors.country"
                            label="Land"
                            class="px-2 w-1/4"
                        >
                            <option value="België">
                                België
                            </option>
                            <option value="Nederland">
                                Nederland
                            </option>
                        </select-input>
                    </div>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </layout>
</template>
