<script>
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import PhoneInput from '../../../Shared/DataEntry/PhoneInput.vue';
import Heading from '../../../Shared/General/Heading.vue';

export default {
    components: {
        Layout,
        LoadingButton,
        TextInput,
        Heading,
        PhoneInput,
    },

    props: {
        cities: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Derde partij toevoegen',

            form: {
                name: null,
                email: null,
                phone: null,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.thirdParties.store'), this.form];
        },
    },
};
</script>

<template>
    <layout :title="title">
        <heading
            :trail="[
                { title: 'Derde partijen', route: 'admin.thirdParties.index' },
                { title },
            ]"
        />

        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.name"
                            :errors="$page.errors.name"
                            class="w-1/2 px-2"
                            label="Naam"
                        />

                        <text-input
                            v-model="form.email"
                            :errors="$page.errors.email"
                            class="w-1/2 px-2"
                            label="E-mail"
                        />
                    </div>

                    <div class="flex -mx-2">
                        <phone-input
                            v-model="form.phone"
                            :errors="$page.errors.phone"
                            class="w-1/2 px-2"
                            label="Telefoon"
                        />
                    </div>
                </div>


                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </layout>
</template>
