<script>
import get from 'lodash/get';
import TextareaInput from '../../TextareaInput.vue';
import TextInput from '../../TextInput.vue';
import SelectInput from '../../SelectInput.vue';

export default {
    components: {
        SelectInput, TextInput, TextareaInput,
    },

    props: {
        value: {
            type: Object,
            default: () => ({
                receiver: null,
                receiver_id: null,
                subject: '',
                body: '',
            }),
        },
        errors: {
            type: Object,
            default: () => [],
        },
    },

    data() {
        return {
            form: {
                receiver: get(this.value, 'receiver', null),
                receiver_id: get(this.value, 'receiver_id', null),
                reply_to: get(this.value, 'reply_to', null),
                subject: get(this.value, 'subject', null),
                body: get(this.value, 'body', null),
            },
        };
    },

    computed: {
        // templateVariables() {
        //     return [
        //         { id: '%event_title%', title: 'Titel van het evenement' },
        //         { id: '%event_url%', title: 'Url naar het evenement' },
        //         { id: '%event_data%', title: 'Ingevulde data van het evenement' },
        //         { id: '%event_form_title%', title: 'Titel van het formulier' },
        //         { id: '%event_form_data%', title: 'Enkel ingevulde velden van het formulier' },
        //         { id: '%event_form_data_all%', title: 'Alle velden van het formulier' },
        //         { id: '%event_form_status%', title: 'Status van het formulier' },
        //         { id: '%event_form_remarks%', title: 'Opmerkingen van het formulier' },
        //         { id: '%event_form_internal_remarks%', title: 'Interne opmerkingen van het formulier' },
        //         { id: '%event_status%', title: 'Status van het evenement' },
        //         { id: '%event_organising_party%', title: 'Naam van de vereniging of de organisator' },
        //         { id: '%event_organising_party_data%', title: 'Gegevens van de vereniging of de organisator' },
        //         { id: '%event_organiser_first_name%', title: 'Voornaam van de initiatiefnemer' },
        //         { id: '%event_organiser_last_name%', title: 'Achternaam van de initiatiefnemer' },
        //         { id: '%event_organiser_email%', title: 'E-mailadres van de initiatiefnemer' },
        //         { id: '%event_assignee_first_name%', title: 'Voornaam van de toegewezen persoon' },
        //         { id: '%event_assignee_last_name%', title: 'Achternaam van de toegewezen persoon' },
        //         { id: '%event_assignee_email%', title: 'E-mailadres van de toegewezen persoon' },
        //     ];
        // },

        emailEditorConfig() {
            return {
                toolbar: [
                    'heading', '|', 'bold', 'italic', 'link', 'bulletedList',
                    'numberedList', '|', 'undo', 'redo', '|', 'variablesDropdown',
                ],
                variablesDropdown: [
                    { id: '%user_first_name%', title: 'Voornaam gebruiker' },
                    { id: '%user_last_name%', title: 'Achternaam gebruiker' },
                    { id: '%module_name%', title: 'Naam dossierstroom' },
                    { id: '%module_item_link%', title: 'Link naar dossier' },
                ],
            };
        },
    },

    watch: {
        form: {
            handler(value) {
                this.$emit('input', value);
            },
            deep: true,
        },
    },

    // asyncComputed: {
    //     async thirdParties() {
    //         const { data } = await this.$http.get(this.route('api.thirdParties.index'));
    //         return data;
    //     },
    //
    //     async departments() {
    //         const { data } = await this.$http.get(this.route('api.departments.index'));
    //         return data;
    //     },
    // },

    methods: {
        updateReceiverId() {
            this.$set(this.form, 'receiver_id', null);
        },

        appendVariableToSubject(variable) {
            this.$set(this.form, 'subject', `${this.form.subject} ${variable}`.trim());
        },
    },
};
</script>

<template>
    <div>
        <select-input
            v-model="form.receiver"
            label="Verstuur naar"
            class="mb-4"
            :errors="errors.email_receiver"
            @change="updateReceiverId"
        >
            <option value="ADMIN">
                Alle beheerders
            </option>
            <option value="CURRENTUSER">
                Indiener van de workflow
            </option>
            <!--            <option value="event-admin">-->
            <!--                Alle evenementverantwoordelijken-->
            <!--            </option>-->
            <!--            <option value="department">-->
            <!--                Algemeen adres van een dienst-->
            <!--            </option>-->
            <!--            <option value="third-party">-->
            <!--                Algemeen adres van een derde partij-->
            <!--            </option>-->
            <!--            <option value="department-user">-->
            <!--                Alle gebruikers van een dienst-->
            <!--            </option>-->
            <!--            <option value="third-party-user">-->
            <!--                Alle gebruikers van een derde partij-->
            <!--            </option>-->
            <!--            <option value="organiser">-->
            <!--                Alle organisatoren van de betrokken vereniging-->
            <!--            </option>-->
        </select-input>

        <!--        <select-input-->
        <!--            v-if="form.receiver === 'third-party' || form.receiver === 'third-party-user' || form.receiver === 'department' || form.receiver === 'department-user'"-->
        <!--            v-model="form.receiver_id"-->
        <!--            class="mb-4"-->
        <!--        >-->
        <!--            <option :value="null" />-->
        <!--            <template v-if="form.receiver === 'third-party'">-->
        <!--                <option-->
        <!--                    v-for="thirdParty in thirdParties"-->
        <!--                    :key="thirdParty.id"-->
        <!--                    :value="thirdParty.id"-->
        <!--                >-->
        <!--                    {{ thirdParty.name }} ({{ thirdParty.email }})-->
        <!--                </option>-->
        <!--            </template>-->
        <!--            <template v-if="form.receiver === 'third-party-user'">-->
        <!--                <option-->
        <!--                    v-for="thirdParty in thirdParties"-->
        <!--                    :key="thirdParty.id"-->
        <!--                    :value="thirdParty.id"-->
        <!--                >-->
        <!--                    {{ thirdParty.name }}-->
        <!--                </option>-->
        <!--            </template>-->
        <!--            <template v-if="form.receiver === 'department'">-->
        <!--                <option-->
        <!--                    v-for="department in departments"-->
        <!--                    :key="department.id"-->
        <!--                    :value="department.id"-->
        <!--                >-->
        <!--                    {{ department.name }} ({{ department.email }})-->
        <!--                </option>-->
        <!--            </template>-->
        <!--            <template v-if="form.receiver === 'department-user'">-->
        <!--                <option-->
        <!--                    v-for="department in departments"-->
        <!--                    :key="department.id"-->
        <!--                    :value="department.id"-->
        <!--                >-->
        <!--                    {{ department.name }}-->
        <!--                </option>-->
        <!--            </template>-->
        <!--        </select-input>-->

        <text-input
            v-model="form.reply_to"
            label="Antwoordadres"
            help="Indien de gebruiker wilt antwoorden op de e-mail, zal hij de suggestie krijgen om het antwoord naar dit e-mailadres te versturen."
            class="mb-4"
            type="email"
            :errors="errors.email_reply_to"
        />

        <text-input
            v-model="form.subject"
            label="Onderwerp"
            class="mb-4"
            :errors="errors.email_subject"
        />

        <textarea-input
            v-model="form.body"
            label="Inhoud"
            :rte="true"
            :editor-config="emailEditorConfig"
            :errors="errors.email_body"
        />
    </div>
</template>
