<script>
export default {
    props: {
        label: String,
        value: {
            type: Array,
            default: () => [],
        },
        values: Array,
        errors: {
            type: Array,
            default: () => [],
        },
    },

    data() {
        return {
            model: this.value,
        };
    },

    watch: {
        model() {
            return this.$emit('input', this.model);
        },
    },
};
</script>

<template>
    <div :class="{ error: errors.length }">
        <div
            v-if="label"
            class="form-label"
        >
            {{ label }}
        </div>
        <label
            v-for="(item, index) in values"
            :key="index"
            class="flex items-start mb-2"
        >
            <span class="flex items-center">
                <!-- Zero-width space character, used to align checkbox properly -->
                &#8203;
                <input
                    v-model="model"
                    class="form-checkbox"
                    type="checkbox"
                    :value="item.value"
                >
            </span>
            <span class="ml-3 text-gray-700 font-medium">{{ item.label }}</span>
        </label>
    </div>
</template>
