<template>
    <div>
        <div class="flex items-start">
            <div class="flex items-center">
                <!-- Zero-width space character, used to align checkbox properly -->
                &#8203;
                <input
                    :id="id"
                    ref="input"
                    v-model="model"
                    v-bind="$attrs"
                    class="form-checkbox"
                    :class="{ error: errors.length }"
                    type="checkbox"
                    @change="handleChange"
                >
            </div>
            <label
                :for="id"
                class="ml-3 text-gray-700 font-medium"
            >{{ label }}</label>
        </div>
        <div
            v-if="errors.length"
            class="form-error"
        >
            {{ errors[0] }}
        </div>
        <div
            v-else-if="help || $slots.help"
            class="form-help mt-1 ml-4 pl-3 block"
        >
            <template v-if="help">
                {{ help }}
            </template>
            <slot
                v-else
                name="help"
            />
        </div>
    </div>
</template>

<script>
import TextInput from './TextInput.vue';

export default {
    mixins: [TextInput],

    props: {
        value: [String, Number, Boolean],

        trueLabel: {
            type: [String, Number, Boolean],
            default: true,
        },

        falseLabel: {
            type: [String, Number, Boolean],
            default: false,
        },

        help: { type: String, default: null },
    },

    data() {
        return {
            selfModel: false,
        };
    },

    computed: {
        model: {
            get() {
                return this.value !== undefined
                    ? this.value
                    : this.selfModel;
            },
            set(val) {
                this.$emit('input', val);
                this.selfModel = val;
            },
        },
    },

    methods: {
        handleChange(event) {
            let value;

            if (event.target.checked) {
                value = this.trueLabel === undefined ? true : this.trueLabel;
            } else {
                value = this.falseLabel === undefined ? false : this.falseLabel;
            }

            this.$emit('change', value, event);
        },
    },
};
</script>
