<script>
import compact from 'lodash/compact';
import isArray from 'lodash/isArray';
import TextInput from './TextInput.vue';
import DateInput from './DateInput.vue';
import TextareaInput from './TextareaInput.vue';
import FileInput from './FileInput/FileInput.vue';
import SelectInput from './SelectInput.vue';
import TagsInput from './TagsInput.vue';
import CheckboxInput from './CheckboxInput.vue';
import LatLngInput from './LatLngInput.vue';

export default {
    components: {
        SelectInput,
        TextInput,
        DateInput,
        TextareaInput,
        FileInput,
        CheckboxInput,
        LatLngInput,
        TagsInput,
    },

    props: {
        field: Object,
        value: [Number, String, Array, Boolean, File, FileList],
    },

    data() {
        return {
            model: this.value,
        };
    },

    computed: {
        file() {
            if (this.isType('image') && !isArray(this.model)) {
                return compact([this.model]);
            }

            return compact(this.model);
        },

        accept() {
            if (this.isType('image')) {
                return 'image/*';
            }

            return null;
        },

        multiple() {
            return this.isType('images');
        },
    },

    asyncComputed: {
        async collectionItems() {
            if (this.field.type !== 'select'
                && this.field.type !== 'checkbox'
                && this.field.type !== 'radio') {
                return null;
            }

            if (this.field.source === 'collection') {
                const { data } = await this.$http.get(this.route('api.collectionItems.index', this.field.collection_id));

                return data.map((item) => ({ id: item.id, label: item.data[this.field.collection_field] }));
            }

            if (this.field.source === 'pages') {
                const { data } = await this.$http.get(this.route('api.pages.index', { parent_id: this.field.page_id }));

                return data.map((item) => ({ id: item.id, label: item.title }));
            }

            if (this.field.source === 'list') {
                return this.field.options.map((item) => ({ id: item, label: item }));
            }

            return null;
        },
    },

    watch: {
        model(val) {
            this.$emit('input', val);
        },
        immediate: true,
    },

    created() {
        if (this.isType('checkbox') && this.value === null) {
            this.model = [];
        }
    },

    methods: {
        isType(...types) {
            return types.indexOf(this.field.type) > -1;
        },
    },
};
</script>

<template>
    <div>
        <template v-if="isType('text')">
            <text-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('number')">
            <text-input
                v-model="model"
                :label="field.title"
                type="number"
                :prefix="field.prefix"
                :step="1 / Math.pow(10, parseInt(field.precision, 10))"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('tags')">
            <tags-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('date')">
            <date-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('datetime')">
            <date-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
                format="d/m/Y H:i"
                :enable-time="true"
            />
        </template>
        <template v-else-if="isType('textarea')">
            <textarea-input
                v-model="model"
                :label="field.title"
                :rte="field.rte"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('boolean')">
            <checkbox-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('latlng')">
            <lat-lng-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
            />
        </template>
        <template v-else-if="isType('select')">
            <select-input
                v-model="model"
                :label="field.title"
                :errors="$page.errors[field.id]"
            >
                <option :value="null" />
                <option
                    v-for="item in collectionItems"
                    :key="item.id"
                    :value="item.id"
                >
                    {{ item.label }}
                </option>
            </select-input>
        </template>
        <template v-else-if="isType('checkbox')">
            <span class="form-label">{{ field.title }}</span>
            <div
                v-for="item in collectionItems"
                :key="item.id"
                class="w-1/2 px-2 mb-4"
            >
                <label>
                    <input
                        v-model="model"
                        type="checkbox"
                        class="form-checkbox"
                        :value="item.id"
                    >
                    {{ item.label }}
                </label>
            </div>
            <div
                v-if="$page.errors[field.id].length"
                class="form-error"
            >
                {{ $page.errors[field.id][0] }}
            </div>
        </template>
        <template v-else-if="isType('radio')">
            <span class="form-label">{{ field.title }}</span>
            <div
                v-for="item in collectionItems"
                :key="item.id"
                class="w-1/2 px-2 mb-4"
            >
                <label>
                    <input
                        v-model="model"
                        type="radio"
                        class="form-radio"
                        :value="item.id"
                    >
                    {{ item.label }}
                </label>
            </div>
            <div
                v-if="$page.errors[field.id].length"
                class="form-error"
            >
                {{ $page.errors[field.id][0] }}
            </div>
        </template>
        <template v-else-if="isType('image', 'images', 'file')">
            <file-input
                :value="file"
                type="file"
                :accept="accept"
                :multiple="multiple"
                :label="field.title"
                :errors="$page.errors[field.id]"
                @input="model = $event"
            />
        </template>
        <template v-else>
            <div class="bg-yellow-600 text-white p-4 rounded">
                Geen type {{ field.type }} beschikbaar
            </div>
        </template>
    </div>
</template>
