<script>
import flatPickr from 'vue-flatpickr-component';
import parse from 'date-fns/parse';
import parseISO from 'date-fns/parseISO';
import formatISO from 'date-fns/formatISO';
import format from 'date-fns/format';
import { Dutch } from 'flatpickr/dist/l10n/nl';
import Dropdown from '../DataDisplay/Dropdown.vue';

export default {
    components: { Dropdown, flatPickr },

    inheritAttrs: false,

    props: {
        id: {
            type: String,
            default() {
                // eslint-disable-next-line no-underscore-dangle
                return `text-input-${this._uid}`;
            },
        },
        type: {
            type: String,
            default: 'text',
        },
        value: [String, Number],
        label: String,
        help: { type: String, default: null },
        errors: {
            type: Array,
            default: () => [],
        },
        format: {
            type: String,
            default: 'd/m/Y',
        },
        enableTime: {
            type: Boolean,
            default: false,
        },
    },

    data() {
        return {
            model: {
                date: null,
                time: null,
            },

            // Get more form https://chmln.github.io/flatpickr/options/
            config: {
                wrap: true, // set wrap to true only when using 'input-group'
                altFormat: 'd/m/Y',
                altInput: true,
                dateFormat: 'Y-m-d',
                locale: Dutch, // locale for this instance only
                enableTime: false,
                time_24hr: true,
            },
        };
    },

    computed: {
        times() {
            const arr = [];
            let i = 0;
            let j;

            for (i; i < 24; i += 1) {
                for (j = 0; j < 4; j += 1) {
                    let hour = `0${i}`;
                    hour = hour.slice(-2);
                    arr.push(`${hour}:${j === 0 ? '00' : 15 * j}`);
                }
            }

            return arr;
        },
    },

    watch: {
        model: {
            handler(value) {
                if (this.enableTime === false && value.date) {
                    const date = parse(`${value.date} 00:00`, 'yyyy-MM-dd HH:mm', new Date());

                    this.$emit('input', formatISO(date));
                } else if (value.date && value.time) {
                    const date = parse(`${value.date} ${value.time}`, 'yyyy-MM-dd HH:mm', new Date());

                    this.$emit('input', formatISO(date));
                }
            },
            deep: true,
        },
    },

    created() {
        if (!this.value) {
            return;
        }

        const date = parseISO(this.value);
        this.$set(this.model, 'date', format(date, 'yyyy-MM-dd'));
        this.$set(this.model, 'time', format(date, 'HH:mm'));
    },

    mounted() {
        const $el = this.$refs.flatPickerWrapper.getElem().querySelector('[type="text"]');
        $el.classList.add('form-input', 'block', 'w-full', 'z-10');
    },

    methods: {
        setDate(value) {
            this.$set(this.model, 'date', value);
        },

        setTime(value) {
            this.$set(this.model, 'time', value);
        },
    },
};
</script>

<template>
    <div>
        <label
            v-if="label"
            class="form-label"
            :for="id"
        >{{ label }}</label>

        <div class="row">
            <div
                class="flex"
                :class="enableTime ? 'col-6' : 'col-12'"
            >
                <div
                    class="form-input-prefix"
                >
                    <i class="far fa-calendar-alt" />
                </div>
                <flat-pickr
                    ref="flatPickerWrapper"
                    :value="value"
                    :config="config"
                    class="form-input"
                    name="date"
                    @input="setDate"
                />
            </div>

            <div
                v-if="enableTime"
                class="col-6"
            >
                <dropdown
                    class="w-full"
                    placement="bottom-left"
                >
                    <div class="flex has-prefix">
                        <div class="form-input-prefix">
                            <i class="far fa-clock" />
                        </div>
                        <div class="flex form-control input form-input block w-full z-10">
                            {{ model.time }}
                        </div>
                    </div>
                    <div
                        slot="dropdown"
                        class="mt-2 py-2 shadow-lg bg-white rounded text-sm overflow-y-scroll w-full"
                        style="max-height: 12rem;"
                    >
                        <div
                            v-for="time in times"
                            :key="time"
                            class="w-24 py-2 px-4 cursor-pointer hover:bg-blue-600 hover:text-white"
                            @click="setTime(time)"
                        >
                            {{ time }}
                        </div>
                    </div>
                </dropdown>
            </div>
        </div>
        <div
            v-if="errors.length"
            class="form-error"
        >
            {{ errors[0] }}
        </div>
        <div
            v-else-if="help || $slots.help"
            class="form-help"
        >
            <template v-if="help">
                {{ help }}
            </template>
            <slot
                v-else
                name="help"
            />
        </div>
    </div>
</template>
