<script>
export default {
    props: {
        value: {
            type: String,
            default: '',
        },
        label: String,
    },

    data() {
        return {
            description: '',
            zoom: 10,
            marker: null,
            center: {
                lat: 51.32267,
                lng: 5.08289,
            },
        };
    },

    created() {
        if (!this.value) {
            return;
        }

        const latLng = this.value.split(',');

        if (latLng.length === 2) {
            this.setMapCenter(parseFloat(latLng[0]), parseFloat(latLng[1]));
            this.setMarkerPosition(parseFloat(latLng[0]), parseFloat(latLng[1]));
        }
    },

    methods: {
        setMarkerPosition(lat, lng) {
            this.marker = Object.assign(this.marker || {}, { position: { lat, lng } });
        },

        setMapCenter(lat, lng) {
            this.center = Object.assign(this.center, { lat, lng });
        },

        updateValue(value) {
            if (!value) {
                return;
            }

            this.setMapCenter(value.geometry.location.lat(), value.geometry.location.lng());
            this.setMarkerPosition(value.geometry.location.lat(), value.geometry.location.lng());

            this.$emit('input', [this.marker.position.lat, this.marker.position.lng].join(','));
        },

        updatePosition(value) {
            this.setMapCenter(value.latLng.lat(), value.latLng.lng());
            this.setMarkerPosition(value.latLng.lat(), value.latLng.lng());

            this.$emit('input', [this.marker.position.lat, this.marker.position.lng].join(','));
        },
    },
};
</script>

<template>
    <div class="rounded border">
        <div class="p-4 bg-gray-100 border-b border-gray-200">
            <label
                class="form-label"
            >{{ label }}</label>
            <gmap-autocomplete
                class="form-input block w-full mb-2"
                :value="description"
                @place_changed="updateValue"
            />
        </div>

        <GmapMap
            ref="map"
            :center="center"
            :zoom="zoom"
            map-type-id="terrain"
            class="w-full h-64"
        >
            <GmapMarker
                v-if="marker"
                :position="marker.position"
                :clickable="true"
                :draggable="true"
                @dragend="updatePosition"
            />
        </GmapMap>
    </div>
</template>
