<script>
import AutoComplete from '../DataDisplay/AutoComplete.vue';
import SelectInput from './SelectInput.vue';
import TextInput from './TextInput.vue';

export default {
    components: { TextInput, SelectInput, AutoComplete },

    props: {
        value: {
            type: Object,
            default: () => ({
                country_id: null,
                city: null,
                street: null,
                postcode: null,
                number: null,
                box: null,
            }),
        },
    },

    data() {
        return {
            form: {
                country_id: this.value ? this.value.country_id : null,
                city: this.value ? this.value.city : null,
                street: this.value ? this.value.street : null,
                postcode: this.value ? this.value.postcode : null,
                number: this.value ? this.value.number : null,
                box: this.value ? this.value.box : null,
            },
        };
    },

    computed: {
        isComplete() {
            return this.form.country_id
                && this.form.city
                && this.form.street
                && this.form.postcode
                && this.form.number;
        },

        countryHasApi() {
            if (this.countries === null) {
                return false;
            }

            const country = this.countries.find(({ id }) => this.form.country_id === id);

            return country ? country.api : false;
        },
    },

    asyncComputed: {
        async countries() {
            const { data } = await this.$http.get(this.route('api.locations.countries.index'));

            return data;
        },
    },

    watch: {
        form: {
            handler(value) {
                if (this.isComplete) {
                    this.$emit('input', value);
                }
            },
            deep: true,
        },
    },

    methods: {
        setCountry(value) {
            this.$set(this.form, 'country_id', value || null);
            this.setCity({});
        },

        setCity(value) {
            this.$set(this.form, 'city', value.name || null);
            this.setPostcode({});
        },

        setPostcode(value) {
            this.$set(this.form, 'postcode', value.name || null);
            this.setStreet({});
        },

        setStreet(value) {
            this.$set(this.form, 'street', value.name || null);
            this.setNumberAndBus({});
        },

        setNumberAndBus(value) {
            this.$set(this.form, 'number', value.number || null);
            this.$set(this.form, 'box', value.box || null);
        },
    },
};
</script>

<template>
    <div>
        <div class="row">
            <select-input
                :value="form.country_id"
                label="Land"
                class="col-3 mb-4"
                :class="$asyncComputed.countries.updating ? 'loader' : null"
                @input="setCountry"
            >
                <option
                    v-for="country in countries"
                    :key="country.id"
                    :value="country.id"
                >
                    {{ country.name }}
                </option>
            </select-input>

            <auto-complete
                v-if="countryHasApi"
                :value="form.city"
                :disabled="!form.country_id"
                :source="route('api.locations.cities.index')"
                query-param="search"
                class="col-6 mb-4"
                label="Gemeente"
                @input="setCity"
            >
                <div
                    slot-scope="{ entry }"
                >
                    <div>{{ entry.name }}</div>
                </div>
            </auto-complete>

            <text-input
                v-else
                v-model="form.city"
                :disabled="!form.country_id"
                label="Gemeente"
                class="col-6 mb-4"
            />

            <auto-complete
                v-if="countryHasApi"
                :value="form.postcode"
                :disabled="!form.city"
                :source="route('api.locations.postinfo.index', { city: form.city })"
                query-param="search"
                class="col-3 mb-4"
                label="Postcode"
                @input="setPostcode"
            >
                <div
                    slot-scope="{ entry }"
                >
                    <div>{{ entry.name }}</div>
                </div>
            </auto-complete>


            <text-input
                v-else
                v-model="form.postcode"
                :disabled="!form.country_id"
                label="Postcode"
                class="col-3 mb-4"
            />
        </div>
        <div class="row">
            <auto-complete
                v-if="countryHasApi"
                :value="form.street"
                :disabled="!form.postcode"
                :source="route('api.locations.streets.index', { city: form.city })"
                query-param="search"
                class="col-6 mb-4"
                label="Straat"
                @input="setStreet"
            >
                <div
                    slot-scope="{ entry }"
                >
                    <div>{{ entry.name }}</div>
                </div>
            </auto-complete>

            <text-input
                v-else
                v-model="form.street"
                :disabled="!form.country_id"
                label="Straat"
                class="col-6 mb-4"
            />

            <auto-complete
                v-if="countryHasApi"
                :value="form.number"
                :disabled="!form.street"
                :source="route('api.locations.addresses.index', { city: form.city, street: form.street })"
                query-param="search"
                class="col-3 mb-4"
                label="Nummer"
                @input="setNumberAndBus"
            >
                <div
                    slot-scope="{ entry }"
                >
                    <div>
                        {{ entry.number }}<span
                            v-if="entry.box"
                            class="text-sm"
                        > / {{ entry.box }}</span>
                    </div>
                </div>
            </auto-complete>

            <text-input
                v-else
                v-model="form.number"
                :disabled="!form.country_id"
                label="Nummer"
                class="col-3 mb-4"
            />

            <div
                v-if="countryHasApi"
                class="col-3"
            >
                <div class="form-label">
                    Bus
                </div>
                <div
                    class="form-input"
                    disabled
                >
                    &#8203;{{ form.box }}
                </div>
            </div>

            <text-input
                v-else
                v-model="form.box"
                :disabled="!form.country_id"
                label="Bus"
                class="col-3 mb-4"
            />
        </div>
    </div>
</template>
