<script>
import { VueTelInput } from 'vue-tel-input';

export default {
    name: 'PhoneInput',

    // eslint-disable-next-line vue/no-unused-components
    components: { VueTelInput },

    inheritAttrs: false,

    props: {
        id: {
            type: String,
            default() {
                // eslint-disable-next-line no-underscore-dangle
                return `tel-input-${this._uid}`;
            },
        },
        type: {
            type: String,
            default: 'text',
        },
        value: [String, Number],
        label: String,
        help: { type: String, default: null },
        errors: {
            type: Array,
            default: () => [],
        },
        prefix: String,
    },
    methods: {
        focus() {
            this.$refs.input.focus();
        },
        select() {
            this.$refs.input.select();
        },
        setSelectionRange(start, end) {
            this.$refs.input.setSelectionRange(start, end);
        },

        onInput(formattedNumber, { number }) {
            this.$emit('input', number.international);
        },
    },
};
</script>

<template>
    <div>
        <label
            v-if="label"
            class="form-label"
            :for="id"
        >{{ label }}</label>

        <div class="flex">
            <vue-tel-input
                :id="id"
                :value="value"
                v-bind="$attrs"
                :class="{ error: errors.length }"
                :only-countries="['BE', 'NL']"
                :valid-characters-only="true"
                placeholder=""
                @input="onInput"
            />
        </div>
        <div
            v-if="errors.length"
            class="form-error"
        >
            {{ errors[0] }}
        </div>
        <div
            v-else-if="help || $slots.help"
            class="form-help"
        >
            <template v-if="help">
                {{ help }}
            </template>
            <slot
                v-else
                name="help"
            />
        </div>
    </div>
</template>
