<script>
export default {
    props: {
        title: String,
        label: String,
        value: [Number, String, Object],
        values: Array,
        errors: {
            type: Array,
            default: () => [],
        },
        itemLabelKey: {
            type: String,
            default: 'name',
        },
        itemValueKey: {
            type: String,
            default: 'id',
        },
    },

    data() {
        return {
            model: this.value,
        };
    },

    watch: {
        model() {
            return this.$emit('input', this.model);
        },
    },
};
</script>

<template>
    <div :class="{ error: errors.length }">
        <div
            v-if="title"
            class="text-lg font-medium text-gray-700 leading-tight"
            :class="label ? 'mb-2' : 'mb-4'"
        >
            {{ title }}
        </div>
        <div
            v-if="label"
            class="text-gray-600 mb-4 leading-normal"
        >
            {{ label }}
        </div>
        <label
            v-for="(item, index) in values"
            :key="index"
            class="flex items-start mb-3"
        >
            <span class="flex items-center">
                <!-- Zero-width space character, used to align checkbox properly -->
                &#8203;
                <input
                    v-model="model"
                    class="form-radio"
                    type="radio"
                    :value="item[itemValueKey]"
                >
            </span>
            <span class="ml-3 text-gray-700 font-medium">{{ item[itemLabelKey] }}</span>
        </label>
    </div>
</template>
