<script>
export default {
    props: {
        id: {
            type: String,
            default() {
                // eslint-disable-next-line no-underscore-dangle
                return `text-tags-${this._uid}`;
            },
        },
        value: {
            type: Array,
            default: () => [],
        },
        label: String,
        errors: {
            type: Array,
            default: () => [],
        },
    },

    data() {
        return {
            tags: [],
            newTag: '',
        };
    },

    watch: {
        value: {
            handler(value) {
                this.tags = value;
            },
            immediate: true,
        },
    },

    methods: {
        addTag() {
            if (this.newTag.trim().length === 0 || this.value.includes(this.newTag.trim())) {
                return;
            }

            this.$emit('input', [...this.value, this.newTag.trim()]);
            this.newTag = '';
        },

        removeTag(tag) {
            this.$emit('input', this.value.filter((t) => t !== tag));
        },

        keydown(event) {
            if (event.keyCode === 13 || event.keyCode === 188) { // on enter or comma
                event.preventDefault();
                this.addTag();
            }
        },

        blur() {
            this.addTag();
        },
    },
};
</script>

<template>
    <div>
        <label
            v-if="label"
            class="form-label"
            :for="id"
        >{{ label }}</label>

        <div class="form-input w-full flex flex-wrap pb-1">
            <span
                v-for="tag in tags"
                :key="tag"
                class="inline-flex rounded px-2 py-2 mb-1 text-sm items-center bg-blue-500 text-white mr-2 leading-none"
            >
                <span class="mr-1">{{ tag }}</span>
                <button
                    type="button"
                    @click="removeTag(tag)"
                >
                    <i class="eva eva-close-outline" />
                </button>
            </span>

            <input
                v-model="newTag"
                class="flex-grow"
                type="text"
                @keydown="keydown"
                @blur="blur"
            >
        </div>

        <div
            v-if="errors.length"
            class="form-error"
        >
            {{ errors[0] }}
        </div>
    </div>
</template>
