<template>
    <div>
        <label
            v-if="label"
            class="form-label"
            :for="id"
        >{{ label }}</label>

        <div
            class="flex"
            :class="{
                'has-prefix': prefix,
                'has-suffix': suffix,
            }"
        >
            <div
                v-if="prefix"
                class="form-input-prefix"
            >
                {{ prefix }}
            </div>
            <input
                :id="id"
                ref="input"
                v-bind="$attrs"
                class="form-input block w-full z-10"
                :class="{ error: errors.length }"
                :type="type"
                :value="value"
                @input="onInput"
            >
            <div
                v-if="suffix"
                class="form-input-suffix"
            >
                {{ suffix }}
            </div>
        </div>
        <div
            v-if="errors.length"
            class="form-error"
        >
            {{ errors[0] }}
        </div>
        <div
            v-else-if="help || $slots.help"
            class="form-help"
        >
            <template v-if="help">
                {{ help }}
            </template>
            <slot
                v-else
                name="help"
            />
        </div>
    </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        id: {
            type: String,
            default() {
                // eslint-disable-next-line no-underscore-dangle
                return `text-input-${this._uid}`;
            },
        },
        type: {
            type: String,
            default: 'text',
        },
        value: [String, Number],
        label: String,
        help: { type: String, default: null },
        errors: {
            type: Array,
            default: () => [],
        },
        prefix: String,
        suffix: String,
    },

    methods: {
        focus() {
            this.$refs.input.focus();
        },

        select() {
            this.$refs.input.select();
        },

        setSelectionRange(start, end) {
            this.$refs.input.setSelectionRange(start, end);
        },

        onInput(event) {
            this.$emit('input', event.target.value);
        },
    },
};
</script>
