<script>
import autosize from 'autosize';
import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from './CKEditor/ClassicEditor';

export default {
    components: { ckeditor: CKEditor.component },

    inheritAttrs: false,

    props: {
        id: {
            type: String,
            default() {
                // eslint-disable-next-line no-underscore-dangle
                return `textarea-input-${this._uid}`;
            },
        },
        value: String,
        label: String,
        help: { type: String, default: null },
        errors: {
            type: Array,
            default: () => [],
        },
        autosize: {
            type: Boolean,
            default: false,
        },
        rte: {
            type: Boolean,
            default: false,
        },
        editorConfig: {
            type: Object,
            default: () => ({
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', '|', 'undo', 'redo'],
            }),
        },
    },

    data() {
        return {
            editor: ClassicEditor,
        };
    },

    computed: {
        ckeditorConfig() {
            return {
                mediaEmbed: {
                    previewsInData: true,
                },
                ...this.editorConfig,
            };
        },
    },

    mounted() {
        if (this.autosize) {
            autosize(this.$refs.input);
        }
    },

    methods: {
        focus() {
            this.$refs.input.focus();
        },

        select() {
            this.$refs.input.select();
        },

        onReady(editor) {
            // Force data into the editor
            editor.setData(this.value || '');
        },
    },
};
</script>

<template>
    <div>
        <label
            v-if="label"
            class="form-label"
            :for="id"
        >{{ label }}</label>

        <ckeditor
            v-if="rte"
            :editor="editor"
            :value="value || ''"
            :config="ckeditorConfig"
            @input="$emit('input', $event)"
            @ready="onReady"
        />
        <textarea
            v-else
            :id="id"
            ref="input"
            v-bind="$attrs"
            class="form-textarea block w-full"
            :class="{ error: errors.length }"
            :value="value"
            @input="$emit('input', $event.target.value)"
        />
        <div
            v-if="errors.length"
            class="form-error"
        >
            {{ errors[0] }}
        </div>
        <div
            v-else-if="help || $slots.help"
            class="form-help"
        >
            <template v-if="help">
                {{ help }}
            </template>
            <slot
                v-else
                name="help"
            />
        </div>
    </div>
</template>
