<script>
export default {
    props: {
        value: {
            type: Number,
            default: 0,
        },
        total: {
            type: Number,
            default: 100,
        },
        showTooltip: {
            type: Boolean,
            default: true,
        },
    },

    computed: {
        progressPercentage() {
            let progress = 0;
            if (this.total !== 0) {
                progress = this.value / this.total;
            }

            return progress;
        },

        tooltip() {
            return this.showTooltip ? `${parseInt(this.progressPercentage * 100, 10)}%` : null;
        },

        progressStyle() {
            const RADIUS = 14;
            const CIRCUMFERENCE = 2 * Math.PI * RADIUS;

            const dashOffset = CIRCUMFERENCE * (1 - this.progressPercentage);

            return {
                strokeDashoffset: dashOffset,
                strokeDasharray: CIRCUMFERENCE,
            };
        },
    },
};
</script>

<template>
    <div v-tooltip="tooltip">
        <svg
            class="progress progress--circle"
            width="32"
            height="32"
            viewBox="0 0 32 32"
        >
            <circle
                class="progress__meter"
                cx="16"
                cy="16"
                r="14"
                stroke-width="4"
            />
            <circle
                class="progress__value"
                cx="16"
                cy="16"
                r="14"
                stroke-width="4"
                :style="progressStyle"
            />
        </svg>
    </div>
</template>
