<script>
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import Page from '../../../Shared/Mixins/Page';
import Overview from '../../../Shared/Mixins/Overview';
import SearchFilter from '../../../Shared/DataDisplay/SearchFilter.vue';

export default Page({
    components: { BaseTable, SearchFilter },

    mixins: [
        Overview('admin.helpItems.index', {
            // eslint-disable-next-line object-shorthand,func-names
            edit: function ({ id }) {
                this.$inertia.visit(this.route('admin.helpItems.edit', id));
            },
            // eslint-disable-next-line object-shorthand,func-names
            delete: function ({ id }) {
                this.confirmDelete(
                    'Hulpitem opniew instellen',
                    'Ben je zeker dat je dit hulpitem opnieuw wil instellen?',
                    this.route('admin.helpItems.destroy', id),
                    'Opnieuw instellen',
                );
            },
        }),
    ],

    data() {
        return {
            form: {
                order_by: this.filters.order_by || 'name',
            },

            tableActions: [
                {
                    action: 'edit',
                    title: 'Bewerken',
                },
                {
                    visible: (entry) => !!entry.city_id,
                    divided: true,
                    action: 'delete',
                    title: 'Opnieuw instellen...',
                },
            ],
        };
    },
});
</script>

<template>
    <div>
        <div class="">
            <div class="mb-6 flex justify-between items-center">
                <search-filter
                    v-model="form"
                    class="w-full max-w-sm mr-4"
                    @reset="reset"
                />
            </div>

            <base-table
                :value="models"
                :actions="tableActions"
                :columns="[
                    { title: 'Naam', id: 'name', sortable: true },
                ]"
                :default-sort="{ id: form.order_by, order: form.order_by_dir }"
                table-class="card overflow-x-auto"
                @sort="setOrdering"
                @action="handleAction"
            >
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td>
                        <inertia-link
                            class="link"
                            :href="route('admin.helpItems.edit', entry.id)"
                        >
                            {{ entry.name }}
                        </inertia-link>
                    </td>
                </template>
            </base-table>
        </div>
    </div>
</template>
