<script>
import ItemStatus from '../../ItemStatus/ItemStatus.vue';
import BaseTable from '../../BaseTable.vue';
import ProgressCircle from '../../Progress/ProgressCircle.vue';
import ChangeFormStatus from '../../../Mixins/ChangeFormStatus';

export default {
    components: { BaseTable, ItemStatus, ProgressCircle },

    mixins: [ChangeFormStatus],

    props: {
        value: Array,
        moduleItemId: Number,
    },

    data() {
        return {
            tableActions: [
                {
                    action: 'change_status',
                    title: 'Status wijzigen...',
                    visible: (entry) => entry.status !== 'CREATED' && entry.status !== 'DRAFT',
                },
            ],
        };
    },

    computed: {
        forms() {
            return [
                {
                    title: 'Verplichte formulieren',
                    forms: this.value.filter(({ required }) => required === true),
                },
                {
                    title: 'Optionele formulieren',
                    forms: this.value.filter(({ required }) => required === false),
                },
            ];
        },
    },

    methods: {
        handleAction({ action, entry }) {
            if (action === 'change_status') {
                this.changeStatus(entry, this.$page.route.params.module, this.moduleItemId);
            }
        },
    },

};
</script>

<template>
    <div class="-mb-4">
        <div
            v-for="(group, index) in forms"
            :key="index"
        >
            <div class="font-medium py-4">
                {{ group.title }}
            </div>
            <base-table
                :value="{ data: group.forms }"
                :columns="[
                    'Naam',
                    { icon: 'fas fa-check-circle' },
                    'Status',
                ]"
                table-class="card overflow-x-auto"
                :actions="tableActions"
                @action="handleAction"
            >
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td>
                        <inertia-link
                            :href="route('admin.moduleItemForms.show', { module: $page.route.params.module, id: entry.id, itemId: moduleItemId })"
                            class="font-medium link"
                        >
                            {{ entry.name }}
                        </inertia-link>
                    </td>
                    <td width="60">
                        <progress-circle
                            :total="entry.total_workflow_items"
                            :value="entry.total_completed_workflow_items"
                        />
                    </td>
                    <td width="150">
                        <item-status
                            :value="entry.status"
                            type="FORM"
                        />
                    </td>
                </template>
            </base-table>
        </div>
    </div>
</template>
