<script>
import ItemStatus from '../../ItemStatus/ItemStatus.vue';
import BaseTable from '../../BaseTable.vue';

export default {
    components: { BaseTable, ItemStatus },

    props: {
        value: Array,
        moduleItemId: Number,
    },

    computed: {
        forms() {
            return [
                {
                    title: 'Verplichte formulieren',
                    forms: this.value.filter(({ required }) => required === true),
                },
                {
                    title: 'Optionele formulieren',
                    forms: this.value.filter(({ required }) => required === false),
                },
            ];
        },
    },

    methods: {
        submitForm(form) {
            this.confirm('Formulier indienen', 'Ben je zeker dat je dit formulier wil indienen?', () => {
                this.$inertia.post(this.route('submitForms.store', { id: form.id, moduleItemId: this.moduleItemId }));
            }, 'Formulier indienen');
        },
    },
};
</script>

<template>
    <div class="-mb-4">
        <div
            v-for="(group, index) in forms"
            :key="index"
        >
            <div class="font-medium py-4">
                {{ group.title }}
            </div>
            <base-table
                :value="{ data: group.forms }"
                :columns="[
                    'Naam',
                    'Status',
                    '',
                ]"
                table-class="card overflow-x-auto"
            >
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td>
                        <inertia-link
                            :href="route('forms.edit', { id: entry.id, moduleItemId })"
                            class="font-medium link"
                        >
                            {{ entry.name }}
                        </inertia-link>
                    </td>
                    <td width="150">
                        <item-status
                            :value="entry.status"
                            type="FORM"
                        />
                    </td>
                    <td width="150">
                        <div
                            v-if="entry.status === 'CREATED' || entry.status === 'DRAFT'"
                            v-tooltip="entry.can_submit ? null : 'Je moet het formulier volledig invullen voordat je het kan indienen.'"
                        >
                            <button
                                type="button"
                                class="btn-primary"
                                :disabled="!entry.can_submit"
                                @click="submitForm(entry)"
                            >
                                Indienen
                            </button>
                        </div>
                    </td>
                </template>
            </base-table>
        </div>
    </div>
</template>
