<script>
import Layout from '../../../Layouts/Layout.vue';
import Heading from '../../../Shared/General/Heading.vue';
import { Tabs, Tab } from '../../../Shared/DataDisplay/Tabs';

export default {
    components: {
        Layout,
        Heading,
        Tabs,
        Tab,
    },

    props: {
        model: Object,
    },

    data() {
        return {
            title: this.model.name,
        };
    },

    computed: {
    },

    methods: {
    },
};
</script>

<template>
    <layout :title="title">
        <heading
            :trail="[
                { title: 'Evenementen', route: 'admin.events.index' },
                { title },
            ]"
        />

        <tabs>
            <tab name="Algemeen">
                <div class="flex -mx-4">
                    <div class="w-1/2 px-4">
                        <div class="card">
                            <div class="card--header">
                                <h5 class="card--header__title">
                                    Algemene informatie
                                </h5>
                            </div>
                            <div class="card--content">
                                <div class="dataSummary">
                                    <div class="summaryItem summaryRow">
                                        <div class="itemLabel">
                                            Titel
                                        </div>
                                        <div>
                                            {{ model.name }}
                                        </div>
                                    </div>
                                    <div class="summaryItem summaryRow">
                                        <div class="itemLabel">
                                            Status
                                        </div>
                                        <div>
                                            <div
                                                class="badge"
                                                :class="model.status_class"
                                            >
                                                {{ model.status_label }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summaryItem summaryRow">
                                        <div class="itemLabel">
                                            Omschrijving
                                        </div>
                                        <div>
                                            <!-- eslint-disable -->
                                            <p class="nl2br">{{ model.description }}</p>
                                            <!-- eslint-enable -->
                                        </div>
                                    </div>
                                    <ul class="summaryList summaryRow">
                                        <li
                                            v-for="(moment, index) in model.moments"
                                            :key="moment.id"
                                            class="listItem"
                                        >
                                            <div class="summaryItem summaryRow">
                                                <div
                                                    class="itemLabel"
                                                >
                                                    <template v-if="index === 0">
                                                        Datum
                                                    </template>
                                                </div>
                                                <div>
                                                    <div>
                                                        {{ moment.starts_at | date('dd/MM/yyyy HH:mm') }} - {{ moment.ends_at | date('dd/MM/yyyy HH:mm') }}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-1/2 px-4">
                        <div class="card p-8">
                            <fieldset>
                                <legend>Basisvragen</legend>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </tab>
            <tab name="Formulieren">
                {{ model }}
            </tab>
            <tab name="Infoaanvragen">
                {{ model }}
            </tab>
            <tab name="Berichten">
                {{ model }}
            </tab>
            <tab name="Berichten">
                {{ model }}
            </tab>
        </tabs>
    </layout>
</template>
