<script>
import compact from 'lodash/compact';
import isArray from 'lodash/isArray';
import get from 'lodash/get';
import FieldTypes from './Builder/FieldTypes';
import TextInput from '../TextInput.vue';
import DateInput from '../DateInput.vue';
import TextareaInput from '../TextareaInput.vue';
import CheckboxInput from '../CheckboxInput.vue';
import SelectInput from '../SelectInput.vue';
import FileInput from '../FileInput/FileInput.vue';
import LocationInput from '../LocationInput.vue';
import AttachmentList from '../FileInput/AttachmentList.vue';

export default {
    components: {
        AttachmentList,
        FileInput,
        SelectInput,
        CheckboxInput,
        TextareaInput,
        DateInput,
        TextInput,
        LocationInput,
    },

    props: {
        field: Object,
        value: [Number, String, Array, Boolean, File, FileList, Object],
    },

    data() {
        return {
            model: this.value,
        };
    },

    computed: {
        types() {
            return FieldTypes.enum;
        },

        file() {
            if (this.isType('image') && !isArray(this.model)) {
                return compact([this.model]);
            }

            return compact(this.model);
        },

        accept() {
            if (this.isType('image')) {
                return 'image/*';
            }

            return null;
        },

        multiple() {
            return this.isType('images');
        },
    },

    watch: {
        model(val) {
            this.$emit('input', val);
        },
        immediate: true,
    },

    created() {
        if (this.isType('checkbox') && this.value === null) {
            this.model = [];
        }

        if (this.field.can_repeat && !this.model) {
            this.model = new Array(parseInt(this.field.min_repeat, 10));
        }
    },

    methods: {
        isType(...types) {
            return types.indexOf(this.field.type) > -1;
        },

        getError(key) {
            return get(this.$page.errors, key);
        },
    },
};
</script>

<template>
    <div>
        <template v-if="isType(types.TITLE)">
            <h2 class="text-lg font-bold border-b pb-2">
                {{ field.title }}
            </h2>
        </template>
        <template v-else-if="isType(types.TEXT)">
            <div v-html="field.content" />
        </template>
        <template v-else-if="isType(types.INPUT)">
            <template v-if="field.can_repeat">
                <div
                    v-for="(m, index) in model"
                    :key="index"
                    class="flex items-end mb-4"
                >
                    <text-input
                        v-model="model[index]"
                        class="flex-grow"
                        :label="index > 0 ? null : field.title"
                        :help="field.info"
                        :prefix="field.prefix"
                        :suffix="field.suffix"
                        :errors="getError(field._cuid + '.' + index)"
                    />
                    <div class="ml-4 mb-6">
                        <button
                            v-if="model.length > field.min_repeat"
                            type="button"
                            class="btn-secondary is-danger"
                            @click="model.splice(index, 1)"
                        >
                            <i class="fal fa-trash-alt" />
                        </button>
                    </div>
                </div>
            </template>
            <text-input
                v-else
                v-model="model"
                :label="field.title"
                :help="field.info"
                :prefix="field.prefix"
                :suffix="field.suffix"
                :errors="getError(field._cuid)"
            />
        </template>
        <template v-else-if="isType(types.NUMBER)">
            <template v-if="field.can_repeat">
                <div
                    v-for="(m, index) in model"
                    :key="index"
                    class="flex items-end mb-4"
                >
                    <text-input
                        v-model="model[index]"
                        class="flex-grow"
                        :label="index > 0 ? null : field.title"
                        type="number"
                        :prefix="field.prefix"
                        :help="field.info"
                        :step="1 / Math.pow(10, parseInt(field.precision, 10))"
                        :errors="getError(field._cuid + '.' + index)"
                    />
                    <div class="ml-4 mb-6">
                        <button
                            v-if="model.length > field.min_repeat"
                            type="button"
                            class="btn-secondary is-danger"
                            @click="model.splice(index, 1)"
                        >
                            <i class="fal fa-trash-alt" />
                        </button>
                    </div>
                </div>
            </template>

            <text-input
                v-else
                v-model="model"
                :label="field.title"
                type="number"
                :prefix="field.prefix"
                :help="field.info"
                :step="1 / Math.pow(10, parseInt(field.precision, 10))"
                :errors="getError(field._cuid)"
            />
        </template>
        <template v-else-if="isType(types.DATE)">
            <template v-if="field.can_repeat">
                <div
                    v-for="(m, index) in model"
                    :key="index"
                    class="flex items-end mb-4"
                >
                    <date-input
                        v-model="model[index]"
                        class="flex-grow"
                        :label="index > 0 ? null : field.title"
                        :errors="getError(field._cuid + '.' + index)"
                    />

                    <div class="ml-4">
                        <button
                            v-if="model.length > field.min_repeat"
                            type="button"
                            class="btn-secondary is-danger"
                            @click="model.splice(index, 1)"
                        >
                            <i class="fal fa-trash-alt" />
                        </button>
                    </div>
                </div>
            </template>
            <date-input
                v-else
                v-model="model"
                :label="field.title"
                :errors="getError(field._cuid)"
            />
        </template>
        <template v-else-if="isType(types.DATETIME)">
            <template v-if="field.can_repeat">
                <div
                    v-for="(m, index) in model"
                    :key="index"
                    class="flex items-end mb-4"
                >
                    <date-input
                        v-model="model[index]"
                        class="flex-grow"
                        :label="index > 0 ? null : field.title"
                        :errors="getError(field._cuid + '.' + index)"
                        :enable-time="true"
                    />

                    <div class="ml-4">
                        <button
                            v-if="model.length > field.min_repeat"
                            type="button"
                            class="btn-secondary is-danger"
                            @click="model.splice(index, 1)"
                        >
                            <i class="fal fa-trash-alt" />
                        </button>
                    </div>
                </div>
            </template>
            <date-input
                v-else
                v-model="model"
                :label="field.title"
                :errors="getError(field._cuid)"
                :enable-time="true"
            />
        </template>
        <template v-else-if="isType(types.TEXTAREA)">
            <textarea-input
                v-model="model"
                :label="field.title"
                :rte="field.rte"
                :errors="getError(field._cuid)"
                :autosize="true"
            />
        </template>
        <template v-else-if="isType(types.BOOLEAN)">
            <checkbox-input
                v-model="model"
                :label="field.title"
                :errors="getError(field._cuid)"
            />
        </template>
        <template v-else-if="isType(types.SELECT)">
            <select-input
                v-model="model"
                :label="field.title"
                :errors="getError(field._cuid)"
            >
                <option :value="null" />
                <option
                    v-for="(item, index) in field.options"
                    :key="index"
                    :value="item"
                >
                    {{ item }}
                </option>
            </select-input>
        </template>
        <template v-else-if="isType(types.CHECKBOX)">
            <div
                class="form-label mb-4"
            >
                {{ field.title }}
            </div>
            <label
                v-for="(item, index) in field.options"
                :key="index"
                class="flex items-start mb-3"
            >
                <span class="flex items-center">
                    <!-- Zero-width space character, used to align checkbox properly -->
                    &#8203;
                    <input
                        v-model="model"
                        class="form-checkbox"
                        type="checkbox"
                        :value="item"
                    >
                </span>
                <span class="ml-3 text-gray-700">{{ item }}</span>
            </label>
            <div
                v-if="($page.errors[field._cuid] || []).length"
                class="form-error"
            >
                {{ $page.errors[field._cuid][0] }}
            </div>
        </template>
        <template v-else-if="isType(types.RADIO)">
            <div
                class="form-label mb-4"
            >
                {{ field.title }}
            </div>
            <label
                v-for="(item, index) in field.options"
                :key="index"
                class="flex items-start mb-3"
            >
                <span class="flex items-center">
                    <!-- Zero-width space character, used to align checkbox properly -->
                    &#8203;
                    <input
                        v-model="model"
                        class="form-radio"
                        type="radio"
                        :value="item"
                    >
                </span>
                <span class="ml-3 text-gray-700">{{ item }}</span>
            </label>
            <div
                v-if="($page.errors[field._cuid] || []).length"
                class="form-error"
            >
                {{ $page.errors[field._cuid][0] }}
            </div>
        </template>
        <template v-else-if="isType(types.FILE)">
            <file-input
                :value="file"
                type="file"
                :multiple="true"
                :label="field.title"
                :errors="getError(field._cuid)"
                @input="model = $event"
            />
        </template>
        <template v-else-if="isType(types.LATLNG)">
            <fieldset>
                <legend>{{ field.title }}</legend>
                <template v-if="field.can_repeat">
                    <div
                        v-for="(m, index) in model"
                        :key="index"
                        class="flex items-end mb-4"
                    >
                        <location-input
                            v-model="model[index]"
                            class="flex-grow"
                        />

                        <div class="ml-4">
                            <button
                                v-if="model.length > field.min_repeat"
                                type="button"
                                class="btn-secondary is-danger"
                                @click="model.splice(index, 1)"
                            >
                                <i class="fal fa-trash-alt" />
                            </button>
                        </div>
                    </div>
                </template>
                <location-input
                    v-else
                    v-model="model"
                />
            </fieldset>
        </template>
        <template v-else-if="isType(types.DOWNLOAD)">
            <div v-html="field.content" />
            <attachment-list
                :attachments="field.files"
                :deleteable="false"
            />
        </template>
        <template v-else>
            <div class="bg-red-600 text-white p-4 rounded">
                Geen type {{ field.type }} beschikbaar
            </div>
        </template>

        <button
            v-if="field.can_repeat && model.length < field.max_repeat"
            type="button"
            class="btn-secondary"
            @click="model.push(null)"
        >
            Extra antwoord toevoegen
        </button>
    </div>
</template>
