<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import Page from '../../../Shared/Mixins/Page';

export default Page({
    components: {
        LoadingButton,
        SelectInput,
    },

    remember: 'form',

    props: {
        types: Array,
    },

    data() {
        return {
            sending: false,

            form: {
                type: null,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.workflows.store'), this.form];
        },
    },
});
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="row mb-4">
                        <select-input
                            v-model="form.type"
                            label="Workflow voor ..."
                            :errors="$page.errors.type"
                            class="col-6"
                        >
                            <option :value="null" />
                            <optgroup
                                v-for="(type, index) in types"
                                :key="index"
                                :label="type.name"
                            >
                                <option
                                    v-for="(t, tIndex) in type.items"
                                    :key="`${tIndex}_${index}`"
                                    :value="t"
                                >
                                    {{ t.name }}
                                </option>
                            </optgroup>
                        </select-input>
                    </div>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
