<script>
import flatten from 'lodash/flatten';
import draggable from 'vuedraggable';
import last from 'lodash/last';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import SelectInput from '../../../Shared/DataEntry/SelectInput.vue';
import Page from '../../../Shared/Mixins/Page';
import WorkflowItemModal from '../../../Shared/DataEntry/WorkflowItem/WorkflowItemModal.vue';

export default Page({
    components: {
        draggable,
        LoadingButton,
        SelectInput,
    },

    remember: 'form',

    props: {
        model: Object,
        groups: Array,
    },

    data() {
        return {
            sending: false,

            form: {
                name: this.model.name,
                reference: this.model.reference,
                value: this.model.value,
            },
        };
    },

    methods: {
        submitData() {
            return ['put', this.route('admin.workflows.update', this.model.id), {
                items: flatten(Object.values(this.model.items)),
            }];
        },

        showChoiceModal() {
            this.$modal.show('item-choice');
        },

        onListAdd() {
            Object.keys(this.model.items).forEach((key) => {
                this.model.items[key].forEach((item) => {
                    this.$set(item, 'group', key);
                });
            });
        },

        onItemEdit(item) {
            this.showWorkflowItemModal(this.type, item, (value) => {
                this.$set(item, 'name', value.name);
                this.$set(item, 'trigger_type', value.trigger_type);
                this.$set(item, 'due_date', value.due_date);
                this.$set(item, 'custom_properties', value.custom_properties);
                this.$set(item, 'parentable_type', value.parentable_type);
                this.$set(item, 'parentable_id', value.parentable_id);
            });
        },

        addItem(type) {
            this.$modal.hide('item-choice');

            this.showWorkflowItemModal(this.type, { type }, (value) => {
                const groupIndex = last(this.groups).name;

                if (!this.model.items[groupIndex]) {
                    this.$set(this.model.items, groupIndex, []);
                }

                this.$set(value, 'group', groupIndex);
                this.$set(value, 'type', type);

                this.model.items[groupIndex].push(value);
            });
        },

        showWorkflowItemModal(type, item, callback) {
            this.$modal.show('dialog', {
                width: '80%',
                maxWidth: 1000,
                title: 'Actie bewerken',
                component: WorkflowItemModal,
                props: {
                    type,
                    value: item,
                    parentables: this.model.parentables,
                },
                events: {
                    input: (value) => {
                        // eslint-disable-next-line no-param-reassign
                        item = value;
                    },
                },
                buttons: [
                    {
                        title: 'Annuleren',
                        class: 'btn-secondary',
                    },
                    {
                        title: 'Bewaren',
                        class: 'btn-primary',
                        handler: (i, event, source, dialog) => {
                            const validated = dialog.$refs.component.validate();

                            if (validated) {
                                callback(item);
                                this.$modal.hide('dialog');
                            }
                        },
                    },
                ],
            });
        },
    },
});
</script>

<template>
    <div>
        <modal name="item-choice">
            <div class="p-8 flex flex-col">
                <div
                    class="py-4 px-6 w-full cursor-pointer border rounded hover:border-purple-200 group mb-4"
                    @click="addItem('TODO')"
                >
                    <div class="row items-center">
                        <div class="w-auto mr-4">
                            <i class="fas fa-check-square text-5xl text-gray-600 group-hover:text-purple-700" />
                        </div>
                        <div class="w-auto flex-grow">
                            <div class="font-bold mb-2">
                                To-do
                            </div>
                            <div class="text-gray-600">
                                Kan je aan- en afvinken.
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="py-4 px-6 w-full cursor-pointer border rounded hover:border-purple-200 group"
                    @click="addItem('EMAIL')"
                >
                    <div class="row items-center">
                        <div class="w-auto mr-4">
                            <i class="far fa-envelope text-5xl text-gray-600 group-hover:text-purple-700" />
                        </div>
                        <div class="w-auto flex-grow">
                            <div class="font-bold mb-2">
                                E-mail
                            </div>
                            <div class="text-gray-600">
                                Verzend automatisch een e-mail.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>

        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="flex">
                        <button
                            type="button"
                            class="btn-secondary ml-auto"
                            @click="showChoiceModal"
                        >
                            Item toevoegen
                        </button>
                    </div>

                    <fieldset
                        v-for="group in groups"
                        :key="group.name"
                    >
                        <legend>{{ group.value }}</legend>

                        <div class="row">
                            <div class="w-6 rounded mx-2 bg-purple-400" />
                            <draggable
                                class="col-auto flex-grow min-h-16 -mb-4"
                                :list="model.items[group.name]"
                                group="items"
                                @add="onListAdd"
                            >
                                <div
                                    v-for="(item, iindex) in model.items[group.name]"
                                    :key="item.id"
                                    class="bg-gray-100 border-gray-300 border p-4 rounded flex mb-4"
                                >
                                    <div class="w-auto flex flex-grow items-center">
                                        <div
                                            v-if="item.type !== 'DEFAULT'"
                                            class="handle cursor-move w-8 h-8 text-gray-500 flex items-center"
                                        >
                                            <i class="far fa-ellipsis-v text-lg" />
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="mb-4">
                                                {{ item.name }}
                                            </div>
                                            <div>
                                                <div
                                                    v-if="item.type === 'EMAIL'"
                                                    class="badge badge-blue mr-2"
                                                >
                                                    E-mail
                                                </div>
                                                <div
                                                    v-else-if="item.type === 'TODO'"
                                                    class="badge badge-blue mr-2"
                                                >
                                                    To-do
                                                </div>
                                                <div
                                                    v-else-if="item.type === 'DEFAULT'"
                                                    class="badge badge-gray mr-2"
                                                >
                                                    Standaard
                                                </div>
                                                <div
                                                    v-if="item.trigger_type === 'MANUAL'"
                                                    class="badge badge-blue mr-2"
                                                >
                                                    Manueel
                                                </div>
                                                <div
                                                    v-else-if="item.trigger_type === 'INSTANT'"
                                                    class="badge badge-blue mr-2"
                                                >
                                                    Automatisch
                                                </div>
                                                <div
                                                    v-else-if="item.trigger_type === 'ONDUEDATE'"
                                                    class="badge badge-blue mr-2"
                                                >
                                                    Automatisch
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        v-if="item.type !== 'DEFAULT'"
                                        class="w-auto"
                                    >
                                        <button
                                            type="button"
                                            class="btn-secondary"
                                            @click="onItemEdit(item)"
                                        >
                                            <i class="far fa-edit" />
                                        </button>
                                        <button
                                            type="button"
                                            class="btn-secondary is-danger"
                                            @click="model.items[group.name].splice(iindex, 1)"
                                        >
                                            <i class="fal fa-trash-alt" />
                                        </button>
                                    </div>
                                </div>
                            </draggable>
                        </div>
                    </fieldset>
                </div>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
