<script>
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';
import Alert from '../../../Shared/Feedback/Alert.vue';
import Page from '../../../Shared/Mixins/Page';
import LocationInput from '../../../Shared/DataEntry/LocationInput.vue';
import NationalRegistryNumberInput from '../../../Shared/DataEntry/NationalRegistryNumberInput.vue';
import DateInput from '../../../Shared/DataEntry/DateInput.vue';

export default Page({
    components: {
        Alert,
        LoadingButton,
        LocationInput,
        TextInput,
        NationalRegistryNumberInput,
        DateInput,
    },

    remember: 'form',

    props: {
        roles: Array,
    },

    data() {
        return {
            showInfoBox: true,

            sending: false,

            form: {
                first_name: null,
                last_name: null,
                email: null,
                role_id: [],
                street: null,
                number: null,
                box: null,
                postcode: null,
                city: null,
                country_id: null,
                national_registry_number: null,
                birth_date: null,
            },
        };
    },

    computed: {
        hasModel() {
            return !!this.model;
        },
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.users.store'), this.form];
        },

        updateAddress({
            // eslint-disable-next-line camelcase
            country_id, city, postcode, street, number, box,
        }) {
            this.$set(this.form, 'country_id', country_id);
            this.$set(this.form, 'city', city);
            this.$set(this.form, 'postcode', postcode);
            this.$set(this.form, 'street', street);
            this.$set(this.form, 'number', number);
            this.$set(this.form, 'box', box);
        },
    },
});
</script>

<template>
    <div>
        <div class="card max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <alert
                        v-if="showInfoBox"
                        class="mb-8"
                        type="info"
                        icon="eva-shield-outline"
                        text="Na het bewaren van deze gebruiker verzenden we een e-mail met instructies om het wachtwoord in te stellen."
                    />

                    <div class="row">
                        <text-input
                            v-model="form.first_name"
                            :errors="$page.errors.first_name"
                            class="col-6 mb-4"
                            label="Voornaam"
                        />
                        <text-input
                            v-model="form.last_name"
                            :errors="$page.errors.last_name"
                            class="col-6 mb-4 "
                            label="Achternaam"
                        />
                    </div>

                    <div class="row">
                        <date-input
                            v-model="form.birth_date"
                            label="Geboortedatum"
                            class="col-6 mb-4"
                            :errors="$page.errors.birth_date"
                        />

                        <national-registry-number-input
                            v-model="form.national_registry_number"
                            :errors="$page.errors.national_registry_number"
                            class="col-6 mb-4"
                            label="Rijksregisternummer"
                        />

                        <text-input
                            v-model="form.email"
                            :errors="$page.errors.email"
                            class="col-6 mb-4"
                            label="E-mail"
                        />
                    </div>

                    <location-input
                        :value="form"
                        @input="updateAddress"
                    />
                </div>

                <fieldset class="px-8">
                    <legend>Rollen</legend>
                    <div class="flex -mx-2 -mb-4 flex-wrap">
                        <div
                            v-for="role in roles"
                            :key="role.id"
                            class="w-1/2 px-2 mb-4"
                        >
                            <label class="form-label flex items-center">
                                <input
                                    v-model="form.role_id"
                                    type="checkbox"
                                    :value="role.id"
                                    class="form-checkbox"
                                >
                                <span class="ml-2">{{ role.name }}</span>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center justify-between">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>

                    <inertia-link
                        v-if="hasModel"
                        method="put"
                        class="btn-secondary"
                        :href="route('impersonate.update', model.id)"
                    >
                        Login als {{ model.first_name }}
                    </inertia-link>
                </div>
            </form>
        </div>
    </div>
</template>
