<script>
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';
import Overview from '../../../Shared/Mixins/Overview';
import Avatar from '../../../Shared/General/Avatar.vue';
import Page from '../../../Shared/Mixins/Page';
import SearchFilter from '../../../Shared/DataDisplay/SearchFilter.vue';

export default Page({
    components: { Avatar, BaseTable, SearchFilter },

    mixins: [Overview('admin.users.index', {
        // eslint-disable-next-line object-shorthand,func-names
        edit: function ({ id }) {
            this.$inertia.visit(this.route('admin.users.edit', id));
        },
        // eslint-disable-next-line object-shorthand,func-names
        delete: function ({ id }) {
            this.confirmDelete(
                'Gebruiker verwijderen',
                'Ben je zeker dat je deze gebruiker wil verwijderen?',
                this.route('admin.users.destroy', id),
            );
        },
        // eslint-disable-next-line object-shorthand,func-names
        sendPassword: function ({ id }) {
            this.$inertia.post(this.route('admin.users.sendPassword', id));
        },
        // eslint-disable-next-line object-shorthand,func-names
        copyPasswordLink: function ({ id }) {
            this.$http.post(this.route('admin.users.resetUrl', id))
                .then(({ data }) => {
                    this.$modal.show('dialog', {
                        title: 'Wachtwoord reset link',
                        text: data.url,
                        buttons: [
                            {
                                title: 'Sluiten',
                                class: 'btn-primary',
                            },
                        ],
                    });
                });
        },
        // eslint-disable-next-line object-shorthand,func-names
        impersonate: function ({ id }) {
            this.$inertia.put(this.route('impersonate.update', id))
                .then(() => {
                    this.$inertia.visit(this.route('home'));
                });
        },
    })],

    data() {
        return {
            tableActions: [
                {
                    action: 'edit',
                    title: 'Bewerken',
                },
                {
                    divided: true,
                    action: 'sendPassword',
                    title: 'Stuur wachtwoord-reset-e-mail',
                },
                {
                    action: 'copyPasswordLink',
                    title: 'Kopiëer wachtwoord-reset-link...',
                },
                {
                    action: 'impersonate',
                    title: 'Inloggen als',
                },
                {
                    divided: true,
                    action: 'delete',
                    title: 'Verwijderen...',
                },
            ],
        };
    },
});
</script>

<template>
    <section>
        <div class="">
            <div class="mb-6 flex justify-between items-center">
                <search-filter
                    v-model="form"
                    class="w-full max-w-sm mr-4"
                    @reset="reset"
                />

                <inertia-link
                    class="btn-primary ml-auto"
                    :href="route('admin.users.create')"
                >
                    Toevoegen
                </inertia-link>
            </div>

            <base-table
                :value="models"
                :actions="tableActions"
                :columns="[
                    '',
                    { title: 'Naam', id: 'name', sortable: true },
                    { title: 'E-mail', id: 'email', sortable: true },
                    'E-mail gevalideerd',
                    'Profiel volledig',
                ]"
                :default-sort="{ id: form.order_by, order: form.order_by_dir }"
                table-class="card overflow-x-auto"
                @sort="setOrdering"
                @action="handleAction"
            >
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td
                        width="75"
                        class="text-center"
                    >
                        <avatar
                            :value="entry.avatar"
                            class="w-6 h-6 inline-block rounded-full"
                        />
                    </td>
                    <td>
                        <inertia-link
                            class="link"
                            :href="route('admin.users.edit', entry.id)"
                        >
                            {{ entry.first_name }} {{ entry.last_name }}
                        </inertia-link>
                    </td>
                    <td>
                        {{ entry.email }}
                    </td>
                    <td>
                        <i
                            class="uil"
                            :class="entry.verified ? 'uil-check text-green-700' : 'uil-times text-red-700'"
                        />
                    </td>
                    <td>
                        <i
                            class="uil"
                            :class="entry.complete ? 'uil-check text-green-700' : 'uil-times text-red-700'"
                        />
                    </td>
                </template>
            </base-table>
        </div>
    </section>
</template>
