<script>
import Layout from '../../../Layouts/Layout.vue';
import LoadingButton from '../../../Shared/General/LoadingButton.vue';
import TextInput from '../../../Shared/DataEntry/TextInput.vue';

export default {
    metaInfo: { title: 'Categorie toevoegen' },

    layout: (h, page) => h(Layout, [page]),

    components: {
        LoadingButton,
        TextInput,
    },

    props: {
        cities: Array,
    },

    remember: 'form',

    data() {
        return {
            sending: false,

            title: 'Categorie toevoegen',

            form: {
                name: null,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('admin.clubCategories.store'), this.form];
        },
    },
};
</script>

<template>
    <div>
        <div class="card overflow-hidden max-w-4xl">
            <form
                class="pt-8"
                @submit.prevent="submit"
            >
                <div class="px-8 mb-8">
                    <div class="flex -mx-2 mb-4">
                        <text-input
                            v-model="form.name"
                            :errors="$page.errors.name"
                            class="w-1/2 px-2"
                            label="Naam"
                        />
                    </div>
                </div>


                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
                    <loading-button
                        :loading="sending"
                        class="btn-primary"
                        type="submit"
                    >
                        Bewaren
                    </loading-button>
                </div>
            </form>
        </div>
    </div>
</template>
