<script>
import Layout from '../../../Layouts/Layout.vue';
import BaseTable from '../../../Shared/DataDisplay/BaseTable.vue';

export default {
    metaInfo: { title: 'Categorieën' },

    layout: (h, page) => h(Layout, [page]),

    components: { BaseTable },

    props: {
        models: Object,
    },

    data() {
        return {
            tableActions: [
                {
                    action: 'edit',
                    title: 'Bewerken',
                },
                {
                    divided: true,
                    action: 'delete',
                    title: 'Verwijderen',
                },
            ],
        };
    },

    methods: {
        handleAction({ action, entry }) {
            if (action === 'edit') {
                this.$inertia.visit(this.route('admin.clubCategories.edit', entry.id));
                return;
            }

            if (action === 'delete') {
                // eslint-disable-next-line no-restricted-globals,no-alert
                if (confirm('Ben je zeker dat je deze rol wil verwijderen?')) {
                    this.$inertia.delete(this.route('admin.clubCategories.destroy', entry.id));
                }
            }
        },
    },
};
</script>

<template>
    <div>
        <div class="">
            <div class="mb-6 flex justify-between items-center">
                <inertia-link
                    class="btn-primary ml-auto"
                    :href="route('admin.clubCategories.create')"
                >
                    Toevoegen
                </inertia-link>
            </div>

            <base-table
                :value="models"
                :actions="tableActions"
                table-class="card overflow-x-auto"
                @action="handleAction"
            >
                <template slot="header">
                    <th>Naam</th>
                </template>
                <template
                    slot="row"
                    slot-scope="{ entry }"
                >
                    <td>
                        <inertia-link
                            class="link"
                            :href="route('admin.clubCategories.edit', entry.id)"
                        >
                            {{ entry.name }}
                        </inertia-link>
                    </td>
                </template>
            </base-table>
        </div>
    </div>
</template>
