<script>
import TextareaInput from '../../../TextareaInput.vue';
import FileInput from '../../../FileInput/FileInput.vue';

export default {
    components: { FileInput, TextareaInput },

    props: ['value'],

    data() {
        return {
            field: this.value,
        };
    },
};
</script>

<template>
    <div>
        <textarea-input
            v-model="field.content"
            label="Tekst"
            :rte="true"
            class="mb-4"
        />

        <file-input
            v-model="field.files"
            label="Bestand"
        />
    </div>
</template>
