<script>
import TextInput from '../../../TextInput.vue';

export default {
    components: { TextInput },

    props: ['value'],

    data() {
        return {
            field: this.value,
        };
    },

    created() {
        if (!this.field.options) {
            this.$set(this.field, 'options', ['Optie 1']);
        }
    },

    methods: {
        addOption() {
            const length = this.field.options.push('');
            this.$nextTick(() => {
                this.$refs.option[length - 1].focus();
            });
        },
    },
};
</script>

<template>
    <div>
        <fieldset>
            <legend>Opties</legend>
            <div
                v-for="(option, index) in field.options"
                :key="index"
                class="flex mb-4"
            >
                <!-- Show radio or checkbox -->
                <div
                    v-if="field.type !== 'select'"
                    class="flex items-center mr-4"
                >
                    <input
                        :type="field.type"
                        :class="{
                            'form-checkbox': field.type === 'checkbox',
                            'form-radio': field.type === 'radio',
                        }"
                    >
                </div>

                <div class="flex-1">
                    <text-input
                        ref="option"
                        v-model="field.options[index]"
                        class="mb-0"
                    />
                </div>
                <div
                    v-if="field.options.length > 1"
                    class="flex ml-4 items-center"
                >
                    <button
                        type="button"
                        class="btn-secondary"
                        @click="field.options.splice(index, 1)"
                    >
                        <i class="fal fa-trash-alt" />
                    </button>
                </div>
            </div>
        </fieldset>

        <div class="flex mb-4">
            <div
                class="flex items-center mr-4"
            >
                <input
                    :type="field.type"
                    :class="{
                        'form-checkbox': field.type === 'checkbox',
                        'form-radio': field.type === 'radio',
                    }"
                >
            </div>
            <div class="flex-1">
                <div class="form-group mb-0">
                    <div
                        class="form-input text-silver"
                        @click="addOption"
                    >
                        Optie toevoegen
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
