<script>
import TextareaInput from '../../../TextareaInput.vue';

export default {
    components: { TextareaInput },

    props: ['value'],

    data() {
        return {
            field: this.value,
        };
    },
};
</script>

<template>
    <div>
        <textarea-input
            v-model="field.content"
            label="Tekst"
            :rte="true"
        />
    </div>
</template>
