<template>
    <div>
        <text-input
            v-model="field.placeholder"
            label="Standaard waarde"
            class="mb-4"
        />
    </div>
</template>

<script>
import TextInput from '../../../TextInput.vue';

export default {

    components: { TextInput },

    props: ['value'],

    data() {
        return {
            field: this.value,
        };
    },
};
</script>
