<template>
    <div>
        <text-input
            v-model="field.placeholder"
            label="Standaard waarde"
            class="mb-4"
        />

        <div class="flex -mx-4">
            <text-input
                v-model="field.prefix"
                label="Voorvoegsel"
                class="w-1/2 px-4"
            />
            <text-input
                v-model="field.suffix"
                label="Achtervoegsel"
                class="w-1/2 px-4"
            />
        </div>
    </div>
</template>

<script>
import TextInput from '../../../TextInput.vue';

export default {

    components: { TextInput },

    props: ['value'],

    data() {
        return {
            field: this.value,
        };
    },
};
</script>
