<script>
import Page from '../../../Shared/Mixins/Page';
import AttachmentList from '../../../Shared/DataEntry/FileInput/AttachmentList.vue';
import ItemStatus from '../../../Shared/DataDisplay/ItemStatus/ItemStatus.vue';
import { Tabs, Tab } from '../../../Shared/DataDisplay/Tabs';
import WorkflowItemGroupList from '../../../Shared/DataDisplay/WorkflowItems/WorkflowItemGroupList.vue';
import Dropdown from '../../../Shared/DataDisplay/Dropdown.vue';
import ChangeFormStatus from '../../../Shared/Mixins/ChangeFormStatus';
import FormDataList from '../../../Shared/DataDisplay/Forms/FormDataList.vue';
import AdviceList from '../../../Shared/DataDisplay/Advices/AdviceList.vue';

export default Page({
    mixins: [ChangeFormStatus],

    components: {
        AdviceList,
        AttachmentList,
        Dropdown,
        FormDataList,
        ItemStatus,
        Tab,
        Tabs,
        WorkflowItemGroupList,
    },

    props: {
        model: Object,
    },
});
</script>

<template>
    <div>
        <div class="card mb-4 px-8 py-4 flex items-center justify-between">
            <div class="font-medium text-lg">
                {{ model.name }}
            </div>

            <div class="flex items-center">
                <item-status
                    class="mr-4"
                    :value="model.status"
                    type="FORM"
                />

                <dropdown
                    class="btn-primary"
                    placement="bottom-start"
                >
                    <div class="flex items-baseline">
                        <span class="mr-4">Opties</span>
                        <i
                            class="far fa-chevron-down"
                        />
                    </div>
                    <div
                        slot="dropdown"
                        class="mt-2 py-2 shadow-lg bg-white rounded text-left"
                    >
                        <button
                            :disabled="model.status === 'CREATED' || model.status === 'DRAFT'"
                            class="block cursor-pointer w-full px-6 py-3 hover:bg-gray-200 text-left"
                            type="button"
                            @click="changeStatus(model, $page.route.params.module, model.module_item_id)"
                        >
                            Status wijzigen...
                        </button>
                    </div>
                </dropdown>
            </div>
        </div>
        <tabs>
            <tab name="Formulierflow">
                <workflow-item-group-list :value="model.workflow_items" />
            </tab>
            <tab name="Algemeen">
                <div class="card p-8">
                    <form-data-list :value="model" />
                </div>
            </tab>
            <tab name="Adviezen">
                <div class="mb-6 flex justify-end items-center">
                    <inertia-link
                        :href="route('admin.advices.create', { module: $page.route.params.module, itemId: model.module_item_id, id: model.id })"
                        class="btn-primary"
                    >
                        Toevoegen
                    </inertia-link>
                </div>
                <advice-list :value="model.advices" />
            </tab>
        </tabs>
    </div>
</template>
