<script>
import Footer from '../Shared/General/Footer.vue';

export default {
    components: { PageFooter: Footer },

    computed: {
        backgroundStyle() {
            return {

            };
        },
    },
};
</script>

<template>
    <div
        class="bg-gray-200 h-full flex"
    >
        <div class="w-full h-full md:max-w-xl mr-auto bg-white p-10 overflow-y-auto">
            <slot />

            <page-footer class="text-sm text-gray-600 leading-tight mt-12" />
        </div>
        <div
            class="w-full h-full hidden md:block"
            :style="backgroundStyle"
        />
    </div>
</template>
