<script>
import Dropdown from '../Shared/DataDisplay/Dropdown.vue';
import FlashMessages from '../Shared/Feedback/FlashMessages.vue';
import MainMenu from '../Shared/Navigation/MainMenu.vue';
import Dialog from '../Shared/DataDisplay/Modal/Dialog.vue';
import Heading from '../Shared/General/Heading.vue';
import Footer from '../Shared/General/Footer.vue';

export default {
    components: {
        Heading,
        Dropdown,
        FlashMessages,
        MainMenu,
        CustomDialog: Dialog,
        PageFooter: Footer,
    },

    props: {
        title: String,
    },

    data() {
        return {
            showUserMenu: false,
            accounts: null,
            isOpen: false,
        };
    },

    methods: {
        hideDropdownMenus() {
            this.showUserMenu = false;
        },
    },
};
</script>

<template>
    <div class="h-full">
        <!--suppress CheckEmptyScriptTag -->
        <portal-target
            name="dropdown"
            slim
        />

        <!-- Actual application content -->
        <div
            class="flex h-full flex-col md:flex-row"
            @click="hideDropdownMenus"
        >
            <aside class="bg-purple-900 min-w-xs flex-col flex">
                <div
                    class="bg-purple-800 flex items-center justify-between"
                >
                    <inertia-link
                        :href="route('dashboard.index')"
                        class="flex md:flex-grow items-center justify-center p-3 h-16"
                    >
                        <img class="block mr-4 h-12">
                    </inertia-link>

                    <div class="md:hidden mr-4">
                        <button
                            type="button"
                            class="block text-gray-100 hover:text-white focus:text-white focus:outline-none"
                            @click="isOpen = !isOpen"
                        >
                            <svg
                                class="h-6 w-6 fill-current"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    v-if="isOpen"
                                    fill-rule="evenodd"
                                    d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
                                />
                                <path
                                    v-if="!isOpen"
                                    fill-rule="evenodd"
                                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div
                    class="md:block bg-purple-900 left-0 bottom-0 top-0 z-10"
                    :class="isOpen ? 'block' : 'hidden'"
                >
                    <dropdown
                        class="hidden md:block w-full border-b border-purple-800"
                        placement="bottom-start"
                    >
                        <div class="flex items-center px-4 py-2 h-16 text-white hover:bg-purple-800">
                            <img
                                class="h-8 w-8 border-2 border-purple-100 bg-white rounded-full object-cover"
                                :src="$page.auth.user.avatar"
                            >
                            <span class="ml-4">{{ $page.auth.user.first_name }}</span>
                            <span class="ml-auto"><i
                                class="far fa-angle-down"
                            /></span>
                        </div>

                        <div
                            slot="dropdown"
                            class="mt-2 pb-2 shadow-lg bg-white rounded overflow-hidden"
                        >
                            <div class="px-6 py-6 flex items-center bg-gray-100 border-b">
                                <div class="pr-2">
                                    <img
                                        class="w-10 h-10 rounded-full"
                                        :src="$page.auth.user.avatar"
                                    >
                                </div>
                                <div>
                                    <div>{{ $page.auth.user.first_name }} {{ $page.auth.user.last_name }}</div>
                                    <div class="text-gray-600">
                                        {{ $page.auth.user.email }}
                                    </div>
                                </div>
                            </div>

                            <inertia-link
                                class="block w-full px-6 py-3 text-gray-700 hover:bg-gray-200 text-left border-b"
                                :href="route('account.index')"
                            >
                                Profiel
                            </inertia-link>

                            <inertia-link
                                v-if="$page.auth.user.impersonating"
                                class="block w-full px-6 py-3 text-gray-700 hover:bg-gray-200 text-left border-b"
                                :href="route('impersonate.destroy')"
                                method="delete"
                            >
                                {{ $page.auth.user.first_name }} afmelden
                            </inertia-link>

                            <inertia-link
                                class="block w-full px-6 py-3 text-gray-700 hover:bg-gray-200 text-left"
                                method="post"
                            >
                                Logout
                            </inertia-link>
                        </div>
                    </dropdown>

                    <div class="mt-6 mx-4">
                        <dropdown
                            v-if="Object.values($page.menu.add).length > 0"
                            placement="right-start"
                            class="btn-primary block w-full"
                        >
                            Toevoegen

                            <div
                                slot="dropdown"
                                class="flex shadow-lg bg-white rounded overflow-hidden"
                            >
                                <inertia-link
                                    v-for="(item, index) in $page.menu.add"
                                    :key="index"
                                    :href="route(item.route)"
                                    class="flex flex-col items-center justify-center w-32 h-32 cursor-pointer text-gray-700 hover:bg-gray-100"
                                >
                                    <i
                                        class="text-3xl"
                                        :class="[item.icon]"
                                    />
                                    <div class="mt-2">
                                        {{ item.title }}
                                    </div>
                                </inertia-link>
                            </div>
                        </dropdown>
                    </div>

                    <div class="mt-6 flex-1 overflow-x-hidden overflow-y-auto">
                        <!-- MENU -->
                        <main-menu />
                    </div>

                    <div class="md:hidden block border-t border-purple-700 pb-8">
                        <div class="flex items-center px-4 py-2 h-16 text-white hover:bg-purple-800">
                            <img
                                class="h-8 w-8 border-2 border-purple-100 bg-white rounded-full object-cover"
                                :src="$page.auth.user.avatar"
                            >
                            <span class="ml-4">{{ $page.auth.user.first_name }}</span>
                        </div>

                        <inertia-link
                            class="flex items-center group py-2 px-4 mb-1 text-gray-600 hover:text-white rounded"
                            :href="route('account.index')"
                        >
                            Profiel
                        </inertia-link>

                        <inertia-link
                            class="flex items-center group py-2 px-4 mb-1 text-gray-600 hover:text-white rounded"
                            :href="route('logout')"
                            method="post"
                        >
                            Logout
                        </inertia-link>
                    </div>
                </div>
            </aside>

            <main
                id="content"
                class="overflow-auto w-full"
            >
                <div class="flex flex-col min-h-full">
                    <div class="flex-grow">
                        <!-- ENVIRONMENT -->
                        <div
                            v-if="$page.env !== 'production'"
                            class="bg-red-600 text-white"
                        >
                            <div class="mx-4 py-2 text-sm">
                                <strong>Huidige omgeving:</strong> {{ $page.env }}
                            </div>
                        </div>

                        <!-- BREADCRUMBS -->
                        <heading :trail="$page.breadcrumbs" />

                        <!-- FLASH MESSAGE -->
                        <flash-messages class="mx-8 mt-8 mb-4" />

                        <!-- CONTENT -->
                        <div class="mx-8 mt-8 mb-4">
                            <slot />
                        </div>
                    </div>

                    <page-footer class="p-4 text-xs text-gray-600 leading-normal flex justify-between" />
                </div>
            </main>
        </div>

        <modals-container />

        <custom-dialog />
    </div>
</template>
