<script>
export default {
    props: {
        value: Object,
    },

    computed: {
        isCompleted() {
            return !!this.value.completed_at;
        },
    },

    methods: {
        async toggle() {
            this.$wait.start(this.uid);
            if (this.isCompleted) {
                const { data } = await this.$http.delete(this.route('api.admin.completedWorkflowItems.destroy', { id: this.value.id }));
                this.$set(this.value, 'completed_at', data.completed_at);
                this.$set(this.value, 'action', data.action);
            } else {
                const { data } = await this.$http.post(this.route('api.admin.completedWorkflowItems.store'), { id: this.value.id });
                this.$set(this.value, 'completed_at', data.completed_at);
                this.$set(this.value, 'action', data.action);
            }
            this.$wait.end(this.uid);
        },
    },
};
</script>

<template>
    <div :class="{ 'is-loading': $wait.is(uid) }">
        <div class="flex items-start">
            <div class="flex items-center">
                <!-- Zero-width space character, used to align checkbox properly -->
                &#8203;
                <input
                    class="form-checkbox text-2xl"
                    type="checkbox"
                    :checked="!!value.completed_at"
                    @change="toggle"
                >
            </div>
            <div class="ml-3 text-gray-700 font-medium flex flex-col flex-grow">
                <div class="mb-2 mt-1">
                    {{ value.name }}
                </div>
                <div
                    v-if="value.completed_at"
                    class="flex"
                >
                    <div
                        v-if="value.trigger_type === 'INSTANT'"
                        class="badge badge-gray mr-2"
                    >
                        Automatisch
                    </div>
                    <div
                        v-if="value.trigger_type === 'ONDUEDATE'"
                        class="badge badge-gray mr-2"
                    >
                        Op datum
                    </div>
                    <div
                        v-if="value.type === 'EMAIL'"
                        class="badge badge-gray mr-2"
                    >
                        Verzend een e-mail
                    </div>

                    <div
                        v-if="value.type === 'EMAIL' && value.action && value.action.sent_on"
                        class="badge badge-gray mr-2"
                    >
                        <i class="fas fa-check-circle mr-2" />
                        Verzonden op {{ value.action.sent_on }}
                    </div>

                    <div
                        v-if="value.type !== 'EMAIL'"
                        class="badge badge-gray mr-2"
                    >
                        <i class="fas fa-check-circle mr-2" /> {{ value.completed_at | date('d MMMM yyyy') }}
                    </div>
                </div>
                <div
                    v-else
                    class="flex"
                >
                    <div
                        v-if="value.trigger_type === 'INSTANT'"
                        class="badge badge-blue mr-2"
                    >
                        Automatisch
                    </div>
                    <div
                        v-if="value.trigger_type === 'ONDUEDATE'"
                        class="badge badge-blue mr-2"
                    >
                        Op {{ value.due_date | date('d MMMM yyyy') }}
                    </div>
                    <div
                        v-if="value.type === 'EMAIL'"
                        class="badge badge-blue mr-2"
                    >
                        Verzend een e-mail
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
