<script>
import WorkflowItem from './WorkflowItem.vue';

export default {
    components: { WorkflowItem },
    props: {
        value: Array,
    },
};
</script>

<template>
    <div>
        <div
            v-for="item in value"
            :key="'workflow-item-' + item.id"
            class="mb-4"
        >
            <workflow-item
                :value="item"
                class="card p-4"
            />
        </div>
    </div>
</template>
