<script>
import groupBy from 'lodash/groupBy';
import WorkflowItemList from './WorkflowItemList.vue';
import EmptyState from '../EmptyState/EmptyState.vue';

export default {
    components: { EmptyState, WorkflowItemList },
    props: {
        value: {
            type: Array,
            default: () => [],
        },
    },

    computed: {
        items() {
            return groupBy(this.value, 'group');
        },

        groups() {
            return Object.keys(this.items);
        },
    },
};
</script>

<template>
    <div v-if="value.length > 0">
        <fieldset
            v-for="group in groups"
            :key="group"
        >
            <legend>{{ group }}</legend>
            <div class="row">
                <div class="w-6 rounded mx-2 bg-purple-400" />
                <div class="col-auto flex-grow min-h-16 -mb-4">
                    <workflow-item-list :value="items[group]" />
                </div>
            </div>
        </fieldset>
    </div>
    <empty-state
        v-else
        title="Er is geen workflow ingesteld"
    />
</template>
