<script>
import LoadingButton from '../../Shared/General/LoadingButton.vue';
import TextInput from '../../Shared/DataEntry/TextInput.vue';
import AuthLayout from '../../Layouts/Auth.vue';
import DateInput from '../../Shared/DataEntry/DateInput.vue';
import Alert from '../../Shared/Feedback/Alert.vue';
import LocationInput from '../../Shared/DataEntry/LocationInput.vue';
import NationalRegistryNumberInput from '../../Shared/DataEntry/NationalRegistryNumberInput.vue';

export default {
    metaInfo: { title: 'Account vervolledigen' },

    layout: (h, page) => h(AuthLayout, [page]),

    components: {
        NationalRegistryNumberInput,
        LocationInput,
        DateInput,
        LoadingButton,
        TextInput,
        Alert,
    },

    props: {
        errors: Object,
        model: Object,
    },

    data() {
        return {
            sending: false,
            form: {
                first_name: this.model.first_name,
                last_name: this.model.last_name,
                street: this.model.street,
                number: this.model.number,
                box: this.model.box,
                postcode: this.model.postcode,
                city: this.model.city,
                country_id: this.model.country_id,
                birth_date: this.model.birth_date,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('auth.complete.store'), this.form];
        },

        updateAddress({
            // eslint-disable-next-line camelcase
            country_id, city, postcode, street, number, box,
        }) {
            this.$set(this.form, 'country_id', country_id);
            this.$set(this.form, 'city', city);
            this.$set(this.form, 'postcode', postcode);
            this.$set(this.form, 'street', street);
            this.$set(this.form, 'number', number);
            this.$set(this.form, 'box', box);
        },
    },
};
</script>

<template>
    <div>
        <form
            class="mt-8"
            @submit.prevent="submit"
        >
            <alert
                type="success"
                class="mb-8"
            >
                Je account is nog niet volledig.<br>Vul onderstaand formulier in om verder te gaan.
            </alert>

            <div class="row">
                <text-input
                    v-model="form.first_name"
                    :errors="$page.errors.first_name"
                    label="Voornaam"
                    class="col-6 mb-4"
                    autofocus
                />
                <text-input
                    v-model="form.last_name"
                    :errors="$page.errors.last_name"
                    label="Achternaam"
                    class="col-6 mb-4"
                />
            </div>

            <national-registry-number-input
                v-model="form.national_registry_number"
                :errors="$page.errors.national_registry_number"
                label="Rijksregisternummer"
                class="mb-4"
            />

            <date-input
                v-model="form.birth_date"
                label="Geboortedatum"
                class="mb-4"
                :errors="$page.errors.birth_date"
            />

            <location-input
                :value="form"
                @input="updateAddress"
            />

            <div class="py-4 flex justify-between items-center">
                <loading-button
                    :loading="sending"
                    class="btn-primary"
                    type="submit"
                >
                    Verzenden
                </loading-button>
            </div>
        </form>
    </div>
</template>
