<script>
import LoadingButton from '../../Shared/General/LoadingButton.vue';
import TextInput from '../../Shared/DataEntry/TextInput.vue';
import AuthLayout from '../../Layouts/Auth.vue';

export default {
    metaInfo: { title: 'Aanmelden' },

    layout: (h, page) => h(AuthLayout, [page]),

    components: {
        LoadingButton,
        TextInput,
    },

    props: {
        errors: Object,
    },

    data() {
        return {
            sending: false,
            form: {
                email: null,
                password: null,
                remember: null,
            },
        };
    },

    methods: {
        async submit() {
            this.sending = true;
            await this.$inertia.post(this.route('login.attempt'), {
                email: this.form.email,
                password: this.form.password,
                remember: this.form.remember,
            });

            this.sending = false;
        },
    },
};
</script>

<template>
    <div>
        <form
            @submit.prevent="submit"
        >
            <div>
                <p class="mb-8 leading-relaxed">
                    Heb je nog geen account voor de Flowlab?
                    <inertia-link
                        class="text-blue-600 hover:text-blue-800 font-medium underline"
                        :href="route('register')"
                    >
                        Registeren
                    </inertia-link>
                </p>
                <text-input
                    v-model="form.email"
                    :errors="$page.errors.email"
                    label="E-mail"
                    type="email"
                    autofocus
                    autocapitalize="off"
                />
                <text-input
                    v-model="form.password"
                    class="mt-6"
                    label="Wachtwoord"
                    type="password"
                />

                <label
                    class="mt-6 select-none form-label flex items-center"
                    for="remember"
                >
                    <input
                        id="remember"
                        v-model="form.remember"
                        class="form-checkbox"
                        type="checkbox"
                    >
                    <span class="ml-2">Hou me ingelogd</span>
                </label>
            </div>
            <div class="py-4 flex justify-between items-center">
                <loading-button
                    :loading="sending"
                    class="btn-primary"
                    type="submit"
                >
                    Verzenden
                </loading-button>
                <inertia-link
                    class="link"
                    tabindex="-1"
                    :href="route('password.request')"
                >
                    Wachtwoord vergeten?
                </inertia-link>
            </div>
        </form>
    </div>
</template>
