<script>
import LoadingButton from '../../Shared/General/LoadingButton.vue';
import TextInput from '../../Shared/DataEntry/TextInput.vue';
import AuthLayout from '../../Layouts/Auth.vue';

export default {
    metaInfo: { title: 'Registreren' },

    layout: (h, page) => h(AuthLayout, [page]),

    components: {
        LoadingButton,
        TextInput,
    },
    props: {
        errors: Object,
    },
    data() {
        return {
            sending: false,
            form: {
                first_name: null,
                last_name: null,
                email: null,
                password: null,
                password_confirmation: null,
            },
        };
    },

    methods: {
        submitData() {
            return ['post', this.route('register.store'), this.form];
        },
    },
};
</script>

<template>
    <div>
        <form
            @submit.prevent="submit"
        >
            <div>
                <text-input
                    v-model="form.first_name"
                    :errors="$page.errors.first_name"
                    label="Voornaam"
                    autofocus
                />
                <text-input
                    v-model="form.last_name"
                    :errors="$page.errors.last_name"
                    class="mt-6"
                    label="Achternaam"
                />
                <text-input
                    v-model="form.email"
                    :errors="$page.errors.email"
                    class="mt-6"
                    label="E-mail"
                    type="email"
                    autocapitalize="off"
                />
                <text-input
                    v-model="form.password"
                    class="mt-6"
                    label="Wachtwoord"
                    type="password"
                />
                <text-input
                    v-model="form.password_confirmation"
                    class="mt-6"
                    label="Wachtwoord bevestigen"
                    type="password"
                />
            </div>
            <div class="py-4 flex justify-between items-center">
                <loading-button
                    :loading="sending"
                    class="btn-primary"
                    type="submit"
                >
                    Verzenden
                </loading-button>
                <inertia-link
                    class="link"
                    tabindex="-1"
                    :href="route('home')"
                >
                    Terug naar aanmelden
                </inertia-link>
            </div>
        </form>
    </div>
</template>
