<script>
import AuthLayout from '../../Layouts/Auth.vue';
import Alert from '../../Shared/Feedback/Alert.vue';

export default {
    metaInfo: { title: 'Bevestig je account' },

    layout: (h, page) => h(AuthLayout, [page]),

    components: {
        Alert,
    },

    props: {
        errors: Object,
    },

    data() {
        return {
            sending: false,
            form: {
                email: null,
                password: null,
                remember: null,
            },
        };
    },

    methods: {
        async submit() {
            this.sending = true;
            await this.$inertia.post(this.route('login.attempt'), {
                email: this.form.email,
                password: this.form.password,
                remember: this.form.remember,
            });

            this.sending = false;
        },
    },
};
</script>

<template>
    <div>
        <alert type="success">
            Een verificatie-link werd verstuurd naar jouw e-mailadres.
        </alert>

        <p class="mt-4 leading-normal">
            Heb je geen verificatie-link ontvangen? <inertia-link
                class="text-blue-400 underline"
                method="post"
                :href="route('verification.resend')"
            >
                Klik hier om een nieuwe e-mail te ontvangen
            </inertia-link>
        </p>
    </div>
</template>
