<script>
import Avatar from '../../General/Avatar.vue';
import AutoComplete from '../../DataDisplay/AutoComplete.vue';
import Alert from '../../Feedback/Alert.vue';

export default {
    components: { Alert, Avatar, AutoComplete },
    data() {
        return {
            model: {
                users: [],
            },

            alert: {
                show: false,
                text: '',
                type: 'success',
            },
        };
    },

    methods: {
        beforeOpen({ params }) {
            this.model = params.entry;
        },

        async add(value) {
            this.model.users.push(value);

            try {
                this.$wait.start(`saving user ${value.id}`);

                await this.$http.post(this.route('api.clubUsers.store'), {
                    user_id: value.id,
                    club_id: this.model.id,
                });

                this.toggleAlert('success', 'De gebruiker werd toegevoegd');
            } catch (e) {
                this.model.users.splice(this.model.users.indexOf(value), 1);
                this.toggleAlert('error', 'Er ging iets mis...');
            } finally {
                this.$wait.end(`saving user ${value.id}`);
            }
        },

        async remove(value) {
            try {
                this.$wait.start(`saving user ${value.id}`);

                await this.$http.delete(this.route('api.clubUsers.destroy'), {
                    data: {
                        user_id: value.id,
                        club_id: this.model.id,
                    },
                });

                this.model.users.splice(this.model.users.indexOf(value), 1);

                this.toggleAlert('success', 'De gebruiker werd verwijderd');
            } catch (e) {
                // do something
                this.toggleAlert('error', 'Er ging iets mis...');
            } finally {
                this.$wait.end(`saving user ${value.id}`);
            }
        },

        toggleAlert(type, text, show = true) {
            this.alert.show = show;
            this.alert.type = type;
            this.alert.text = text;
        },
    },
};
</script>

<template>
    <modal
        name="user-management"
        height="auto"
        :scrollable="true"
        @before-open="beforeOpen"
    >
        <alert
            v-if="alert.show"
            :type="alert.type"
            class="p-2"
        >
            {{ alert.text }}
        </alert>

        <div
            v-if="model.users.length < 5"
            class="p-2"
        >
            <auto-complete
                :source="route('api.users.index')"
                query-param="search"
                placeholder="Gebruiker toevoegen..."
                @input="add"
            >
                <div
                    slot-scope="{ entry }"
                    class="flex items-center"
                >
                    <avatar
                        :value="entry.avatar"
                        class="rounded-full w-8 h-8 mr-4"
                    />
                    <div>
                        <div>{{ entry.name }}</div>
                        <div class="text-sm text-gray-500">
                            {{ entry.email }}
                        </div>
                    </div>
                </div>
            </auto-complete>
        </div>
        <table
            v-if="model.users.length > 0"
            class="table border-b"
        >
            <tbody>
                <tr
                    v-for="user in model.users"
                    :key="user.id"
                    :class="{ 'btn-loading': $wait.is(`saving user ${user.id}`) }"
                >
                    <td width="80">
                        <avatar
                            :value="user.avatar"
                            class="rounded-full w-8 h-8"
                        />
                    </td>
                    <td>
                        {{ user.name }}
                    </td>
                    <td class="text-right">
                        <button
                            type="button"
                            class="btn btn-ghost btn-sm btn-red"
                            @click="remove(user)"
                        >
                            Verlaten
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div
            v-else
            class="text-center text-gray-500 p-8"
        >
            Geen gebruikers
        </div>
    </modal>
</template>
